<div class="">
  <%= month_calendar events: @events do |date, events| %>
    <%= date.strftime("%b %d") %>

    <div>
      <ul>
        <% events.each do |meeting| %>
          <li><%=link_to "#{meeting.name}", event_path(meeting) %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
</div>

<div class="old_content">
  <div>------------------------------------------------------------------------</div>
  <p id="notice"><%= notice %></p>
  <h1>Events</h1>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Start time</th>
        <th>End time</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @events.each do |event| %>
        <tr>
          <td><%= event.name %></td>
          <td><%= event.start_time.strftime("%b %d, %Y") %></td>
          <td><%= event.end_time.strftime("%b %d, %Y") %></td>
          <td><%= link_to 'Show', event %></td>
          <td><%= link_to 'Edit', edit_event_path(event) %></td>
          <td><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <br>
  <%= link_to 'New Event', new_event_path %>
</div>
