<p id="notice"><%= notice %></p>

<p>
  <strong>Homepg img01:</strong>
  <%= @sitemanagment.homepg_img01 %>
</p>

<p>
  <strong>Homepg img02:</strong>
  <%= @sitemanagment.homepg_img02 %>
</p>

<p>
  <strong>Homepg img03:</strong>
  <%= @sitemanagment.homepg_img03 %>
</p>

<p>
  <strong>Homepg video:</strong>
  <%= @sitemanagment.homepg_video %>
</p>

<%= link_to 'Edit', edit_sitemanagment_path(@sitemanagment) %> |
<%= link_to 'Back', sitemanagments_path %>
