<div class="pages_boarder"></div>
<div class="medium-12 columns discussionshow_section">
  <div class="discussionshow_inner_section">
    <div class="medium-12 columns discussionshow_content">
      <div class="tree_line">
        <span><%= link_to "home", root_path %></span>
        <span><i class="fa fa-angle-right"></i></span>
        <span><%= link_to "connect", connect_path %></span>
        <span><i class="fa fa-angle-right"></i></span>
        <span><%= link_to "forum", forum_path %></span>
        <span><i class="fa fa-angle-right"></i></span>
        <span class="current_page"><%= @discussion.topic %></span>
      </div>

      <div class="page_main_content">
        <!-- info_left_content -->
        <div class="info_left_content">
          <div class="medium-8 columns page_information">
            <div class="page_header"><%= @discussion.topic %></div>
            <div class="date_category">
              <span>
                <span class="page_subheader"><b>Created date:</b></span>
                <span><%= @discussion.created_at.strftime("%b %d %Y") %></span>
                <span class="listpage_divider">|</span>
                <span><b>Created Time:</b></span>
                <span><%= @discussion.created_at.strftime("%I:%M%p") %></span>
                <span class="listpage_divider">|</span>
                <span><i class="fa fa-comments"></i> <span><%= @discussion.comments.count %> comments</span></span>
              </span>
            </div>
            <div class="paragraph_content">
              <span><%= truncate("#{@discussion.description}", length: 300) %></span>
              
              <span>
                <span class="view_link" data-open="<%= dom_id(@discussion) %>_discussion_content">view</span>
                <span><%= render 'shared/modal_discussion_info', locals: { discussion: @discussion } %></span>
              </span>

              <div class="action_btn hide">
                <span><%= link_to "edit discussion topic", edit_discussion_path(@discussion) %></span>
                <span><%= link_to "delete discussion topic", "#" %></span>
              </div>
            </div>
            <div class="discussions_section">
              <!-- listed comments photos -->
              <div class="discussions_content">
                <div>
                  <div class="comment_header"><i class="fa fa-comments"></i> <span>comments</span></div>
                  <%= render "shared/content_comment_form" %>
                  <%= render "shared/content_comments" %>
                </div>
              </div>
              <!-- listed comments photos -->
            </div>
          </div>
        </div>
        <!-- info_left_content -->

        <!-- info_right_content -->
        <%= render 'shared/content_service_times' %>
        <!-- info_right_content -->
      </div>

    </div>
  </div>
</div>

