<p id="notice"><%= notice %></p>

<p>
  <strong>Topic:</strong>
  <%= @discussion.topic %>
</p>

<p>
  <strong>Topic:</strong>
  <%= @discussion.image %>
</p>

<%= link_to 'Edit', edit_discussion_path(@discussion) %> |
<%= link_to 'Back', discussions_path %>
