<div class="pages_boarder"></div>
<div class="medium-12 columns content_ministriespg_section">
  <div class="content_ministriespg_inner_section">
    <div class="medium-12 columns ministriespg_content">
      <div class="tree_line">
        <span><%= link_to "home", root_path %></span>
        <span><i class="fa fa-angle-right"></i></span>
        <span><%= link_to "connect", events_path %></span>
        <span><i class="fa fa-angle-right"></i></span>
        <span class="current_page">minitries</span>
      </div>

      <div class="medium-12 columns page_main_content">
        <!-- info_left_content -->
        <div class="medium-8 columns info_left_content">
          <div class="page_information">
            <div class="page_header">minitries</div>
            <div class="calendar_section">
              <!-- listed ministries -->
              <div class="ministry_content">
                <div class="ministry_inner_content">
                  <ul>
                    <% @launchministries.each do |minstry| %>
                      <li>
                        <div>
                          <span class="ministry_img_section">
                            <div class="ministry_img_outter">
                              <div class="ministry_img"><%= link_to (image_tag("img_sample.jpg")), "#" %></div>
                            </div>
                          </span>
                          <span class="ministry_info_section">
                            <%= link_to launchministry_path(minstry), target:"_blank" do %>
                              <div class="ministry_title"><%= truncate("#{minstry.mininstryidea}", length: 45) %></div>
                              <div class="ministry_minor_info ministry_address"><b>about ministry:</b> <%= truncate("#{minstry.mininstrydescription}", length: 250) %></div>
                              <div class="ministry_minor_info ministry_address">
                                <span><b>minstry director:</b></span>
                                <span class="evt_category"><%= minstry.firstname %> <%= minstry.lastname %></span>
                              </div>
                            <% end %>
                          </span>
                        </div>
                      </li>
                      <div class="clear"></div>
                    <% end %>
                  </ul>
                </div>
              </div>
              <!-- listed ministries -->
            </div>
          </div>
        </div>
        <!-- info_left_content -->

        <!-- info_right_content -->
        <%= render 'shared/content_service_times' %>
        <!-- info_right_content -->
      </div>

    </div>
  </div>
</div>


