<div class="pages_boarder"></div>
<div class="medium-12 columns launchministryform_section">
  <div class="launchministryform_inner_section">
    <div class="medium-12 columns launchministryform_content">
      <div class="tree_line">
        <span><%= link_to "home", root_path %></span>
        <span><i class="fa fa-angle-right"></i></span>
        <span><%= link_to "serve", serve_path %></span>
        <span><i class="fa fa-angle-right"></i></span>
        <span><%= link_to "got a ministry idea", ministry_idea_path %></span>
        <span><i class="fa fa-angle-right"></i></span>
        <span class="current_page">new minsitry launch</span>
      </div>

      <div class="medium-12 columns page_main_content">
        <!-- info_left_content -->
        <div class="medium-8 columns info_left_content">
          <div class="page_information">
            <div class="page_header">new minsitry launch</div>
            <div class="paragraph_content">
              <span>Do you have a great idea for a new ministry here at Open Heavens Church and the passion to lead it? Completing this New Ministry Launch form begins the application process for new ministries here at Open Heavens Church.</span>
            </div>

            <div class="launchminstry_main_form">
              <%= simple_form_for(@launchministry) do |f| %>
                <%= f.error_notification %>

                <div class="form-inputs">
                  <div class="info_sub_content">
                    <ul>
                      <li class="form_left"><%= f.input :firstname, label: false, placeholder: "First Name" %></li>
                      <li class="form_right"><%= f.input :lastname, label: false, placeholder: "Last Name" %></li>
                    </ul>
                  </div>
                  <div class="clear"></div>
                  
                  <div class="info_sub_content">
                    <ul>
                      <li class="form_left"><%= f.input :email, label: false, placeholder: "Email" %></li>
                      <li class="form_right"><%= f.input :mobile, label: false, placeholder: "Mobile" %></li>
                    </ul>
                  </div>
                  <div class="clear"></div>

                  <div class="info_sub_content">
                    <ul>
                      <li class="form_left"><%= f.input :homenumber, label: false, placeholder: "Home Number" %></li>
                      <li class="form_right"><%= f.input :worknumber, label: false, placeholder: "Work Number" %></li>
                    </ul>
                  </div>
                  <div class="clear"></div>

                  <div class="info_sub_content"><%= f.input :address, label: false, placeholder: "Address" %></div>
                  <div class="clear"></div>

                  <div class="info_sub_content">
                    <ul>
                      <li class="form_left"><%= f.input :city, label: false, placeholder: "City" %></li>
                      <li class="form_right"><%= f.input :postcode, label: false, placeholder: "Postcode" %></li>
                    </ul>
                  </div>
                  <div class="clear"></div>

                  <div class="info_sub_content"><%= f.input :mininstryidea, label: "What is a short name for your ministry idea? Ministry names should make obvious the function of the ministry and the fact that it belongs to Shoreline (e.g., Shoreline Runners Group, not Road Runners)", placeholder: "Type Your Answer" %></div>
                  <div class="clear"></div>

                  <div class="info_sub_content"><%= f.input :mininstrydescription, label: "Please describe your ministry idea.", placeholder: "Type Your Answer" %></div>
                  <div class="clear"></div>

                  <div class="info_sub_content"><%= f.input :ministryneed, label: "What is the need you would like to meet and how did you identify it?", placeholder: "Type Your Answer" %></div>
                  <div class="clear"></div>

                  <div class="info_sub_content"><%= f.input :ministrymission, label: "What is your ministry's mission statement?", placeholder: "Type Your Answer" %></div>
                  <div class="clear"></div>


                  
                
                  
            
                </div>
                <div class="form_btns">
                  <ul>
                    <li class="cancel_btn">
                      <div><%= link_to "cancel", ministry_idea_path %></div>
                    </li>
                    <li>
                      <div class="form-actions submit_btn">
                        <%= f.button :submit, "submit form" %>
                      </div>
                    </li>
                  </ul>
                </div>
                
              <% end %>
            </div>

          </div>
        </div>
        <!-- info_left_content -->

        <!-- info_right_content -->
        <%= render 'shared/content_service_times' %>
        <!-- info_right_content -->
      </div>

    </div>
  </div>
</div>
