<div class="medium-12 columns users_admin_panel admin_stats_galleries">
  <div class="medium-12 columns main_container">

    <!-- left_content -->
    <div class="medium-2 columns left_admin_content">
      <ul class="nav nav-tabs">
        <li>
          <%= link_to dashboard_user_path do %>
            <span><i class="fa fa-cogs"></i></span>
            <span>dashboard</span>
          <% end %>
        </li>
        <li>
          <%= link_to "#tab2" do %>
            <span><i class="fa fa-cogs"></i></span>
            <span>content management</span>
          <% end %>
        </li>
        <li>
          <%= link_to sitelinks_user_path do %>
            <span><i class="fa fa-cogs"></i></span>
            <span>site links</span>
          <% end %>
        </li>
        <li>
          <%= link_to stats_users_user_path do %>
            <span><i class="fa fa-cogs"></i></span>
            <span>users</span>
          <% end %>
        </li>
        <li>
          <%= link_to stats_events_user_path do %>
            <span><i class="fa fa-cogs"></i></span>
            <span>events</span>
          <% end %>
        </li>
        <li>
          <%= link_to stats_ministries_user_path do %>
            <span><i class="fa fa-cogs"></i></span>
            <span>ministries</span>
          <% end %>
        </li>
        <li>
          <%= link_to "#tab7" do %>
            <span><i class="fa fa-cogs"></i></span>
            <span>resources</span>
          <% end %>
        </li>
        <li>
          <%= link_to "#tab8" do %>
            <span><i class="fa fa-cogs"></i></span>
            <span>forum/discussions</span>
          <% end %>
        </li>
        <li>
          <%= link_to "#tab9" do %>
            <span><i class="fa fa-cogs"></i></span>
            <span>career</span>
          <% end %>
        </li>
        <li class="active">
          <%= link_to stats_galleries_user_path do %>
            <span><i class="fa fa-cogs"></i></span>
            <span>galleries</span>
          <% end %>
        </li>
      </ul>
    </div>
    <!-- left_content -->


    <!-- right_content -->
    <div class="medium-10 columns right_admin_content">

      <!-- stats_ministries -->
      <div class="dashboard active">
        <%= render 'users/shared/content_admin_stats_galleries' %>
      </div>
      <!-- stats_ministries -->

    </div>
    <!-- right_content -->

  </div>
</div>