<h1>content_admin_stats_practicalneeds</h1>
<div class="content_admin_sitelinks">
  <div class="tree_line">
    <span><i class="fa fa-user"></i></span>
    <span><%= link_to "#{current_user.firstname}", user_path(current_user) %></span>
    <span><i class="fa fa-angle-right"></i></span>
    <span><%= link_to "admin panel", content_management_user_path(current_user) %></span>
    <span><i class="fa fa-angle-right"></i></span>
    <span class="current_page">stats practical needs</span>
    <span class="tree_tab_link"><%= link_to "view practical needs page", practical_needs_path, target:"_blank", style: 'color:#FFFFFF !important;' %></span>
    <span class="tree_tab_link"><%= link_to "create a practical need", new_practicalneed_path, target:"_blank", style: 'color:#FFFFFF !important;' %></span>
  </div>
  <div class="medium-12 columns admin_tab_content">

    <!-- upper_section -->
    <div class="medium-12 columns page_cover upper_section">
      <div class="medium-12 columns data_main_cover">
        <div class="medium-3 columns data_stats_cover">
          <div class="data_stats">
            <div class="data_title">total practical needs</div>
            <div class="stats_content">
              <span class="icon_cover">
                <div class="icon_inner_cover"><i class="fa fa-comments" aria-hidden="true"></i></div>
              </span>
              <span class="main_stats"><%= @practicalneeds.all.count %></span>
            </div>
          </div>
        </div>
        <div class="medium-3 columns data_stats_cover">
          <div class="data_stats">
            <div class="data_title">approved practical needs</div>
            <div class="stats_content">
              <span class="icon_cover">
                <div class="icon_inner_cover"><i class="fa fa-comments" aria-hidden="true"></i></div>
              </span>
              <span class="main_stats"><%= @practicalneeds.approved_practicalneeds.open_practicalneeds.count %></span>
            </div>
          </div>
        </div>
        <div class="medium-3 columns data_stats_cover">
          <div class="data_stats">
            <div class="data_title">pending practical needs</div>
            <div class="stats_content">
              <span class="icon_cover">
                <div class="icon_inner_cover"><i class="fa fa-comments" aria-hidden="true"></i></div>
              </span>
              <span class="main_stats"><%= @practicalneeds.unapproved_practicalneeds.open_practicalneeds.count %></span>
            </div>
          </div>
        </div>
        <div class="medium-3 columns data_stats_cover">
          <div class="data_stats">
            <div class="data_title">closed practical needs</div>
            <div class="stats_content">
              <span class="icon_cover">
                <div class="icon_inner_cover"><i class="fa fa-comments" aria-hidden="true"></i></div>
              </span>
              <span class="main_stats"><%= @practicalneeds.closed_practicalneeds.count %></span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="clear"></div>
    <!-- upper_section -->

    <!-- bottom_section -->
    <div class="medium-12 columns page_cover bottom_section">
      <div class="medium-12 columns page_content">
        <div class="header_section_cover">
          <div class="data_contents">
            <span class="data_header">
              <span>Total created practical needs on the platform</span> 
              <span>[<%= @practicalneeds.all.count %>]</span>
            </span>
            <div class="header_subtitle">
              <i class="fa fa-info-circle"></i>
              <span>Total list of practical needs on the platform</span>
            </div>
            <span class="btn btn_blue" id="pnstats_all_tab">all practical needs <span>[<%= @practicalneeds.all.count %>]</span></span>
            <span class="btn btn_green" id="pnstats_approved_tab"> approved needs [<%= @practicalneeds.approved_practicalneeds.open_practicalneeds.count %>]</span>
            <span class="btn btn_green" id="pnstats_pending_tab"> pending needs [<%= @practicalneeds.unapproved_practicalneeds.open_practicalneeds.count %>]</span>
            <span class="btn btn_green" id="pnstats_closed_tab"> closed needs [<%= @practicalneeds.closed_practicalneeds.count %>]</span>
          </div>
        </div>
        <div class="divider"></div>
        <div class="clear"></div>

        <!-- listed_parcticalneeds -->
        <div class="listed_parcticalneeds">
          <!-- all practicalneeds -->
          <div class="listed_parcticalneeds" id="pnstats_all_tab_content">
            <div class="data_list_title">all practical needs</div>
            <ul>
              <% @practicalneeds.each do |practicalneed| %>
                <li class="medium-12 columns main_conatiner">
                  <div class="medium-1 columns main_image">
                    <div class="main_img_inner_cover"><%= link_to image_tag("img_default_forum.png"), practicalneed, target:"_blank" %></div>
                  </div>
                  <div class="medium-9 columns main_info">
                    <div>
                      <span class="min_name"><%= link_to truncate(practicalneed.title, length: 60), practicalneed, target:"_blank" %></span>
                      <span>|</span>
                      <span>
                        <% if practicalneed.approved_practicalneed && practicalneed.open_practicalneed %>
                          <span data-tooltip tabindex="2" title="This has been approved by admin" class="top status_btn approved"><%= link_to "approved", practicalneed, target:"_blank" %></span>
                        <% elsif practicalneed.approved_practicalneed && practicalneed.closed_practicalneed %>
                          <span data-tooltip tabindex="2" title="This has been approved by admin" class="top status_btn approved"><%= link_to "approved", practicalneed, target:"_blank" %></span>
                          <% elsif practicalneed.unapproved_practicalneed && practicalneed.closed_practicalneed %>
                          <span data-tooltip tabindex="2" title="This has been closed by admin" class="top status_btn pending"><%= link_to "closed", practicalneed, target:"_blank" %></span>
                        <% elsif practicalneed.unapproved_practicalneed && practicalneed.open_practicalneed %>
                          <span data-tooltip tabindex="2" title="This has 'not' been approved by admin"  class="top status_btn pending"><%= link_to "pending", practicalneed, target:"_blank" %></span>
                        <% end %>
                      </span>

                      <!-- practical need status -->
                      <span>
                        <% if practicalneed.approved_practicalneed && practicalneed.closed_practicalneed %>
                          <span class="hide">approved + closed ----> closed</span>
                          <span data-tooltip tabindex="2" title="PNeed is approved & status is closed" class="top status_btn pending"><%= link_to "approved & closed", practicalneed, target:"_blank" %></span>
                        <% elsif practicalneed.approved_practicalneed && practicalneed.open_practicalneed %>
                          <span class="hide">approved + opened ----> open</span>
                          <span data-tooltip tabindex="2" title="PNeed is approved & status is open" class="top status_btn approved"><%= link_to "approved & open", practicalneed, target:"_blank" %></span>
                        <% elsif practicalneed.unapproved_practicalneed && practicalneed.closed_practicalneed %>
                          <span class="hide">unapproved + closed ----> close</span>
                          <span data-tooltip tabindex="2" title="PNeed is unapproved & status is closed" class="top status_btn pending"><%= link_to "unapproved & closed", practicalneed, target:"_blank" %></span>
                        <% elsif practicalneed.unapproved_practicalneed && practicalneed.open_practicalneed %>
                          <span class="hide">unapproved + open ----> pending</span>
                          <span data-tooltip tabindex="2" title="PNeed is unapproved & status is open" class="top status_btn pending"><%= link_to "unapproved & open", practicalneed, target:"_blank" %></span>
                        <% end %>
                      </span>
                      <!-- practical need status -->
                    </div>
                    
                    <div class="min_content">
                      <span><%= truncate("#{practicalneed.description}", length: 200) %></span>
                      <span><%= link_to "view", practicalneed, target:"_blank" %></span>
                    </div>
                    <div>
                      <span class="subheaders">category:</span>
                      <span class="min_content"><%= link_to "#{practicalneed.category_job.name}", practicalneed %></span>
                      <span>|</span>
                      <span class="subheaders">created:</span>
                      <span class="min_content"><%= practicalneed.created_at.strftime("%b %d %Y") %></span>
                      <% if practicalneed.comments.count > 0 %>
                        <span>|</span>
                        <span class="subheaders"><i class="fa fa-comments" aria-hidden="true"></i>:</span>
                        <span class="min_content"><%= link_to "#{practicalneed.comments.count} solutions", practicalneed, target:"_blank" %></span>
                      <% end %>
                    </div>
                  </div>
                  <div class="medium-2 columns main_action">
                    <div class="action_section">
                      <div class="edit_btn"><%= link_to 'edit', edit_user_practicalneed_path(practicalneed.user, practicalneed), target:"_blank" %></div>
                      <div class="delete_btn"><%= link_to 'delete', practicalneed, method: :delete, data: { confirm: 'Are you sure?' } %></div>
                    </div>
                  </div>
                </li>
              <% end %>
            </ul>
          </div>
          <div class="clear"></div>
          <!-- all practicalneeds -->

          <!-- all approved needs -->
          <div class="listed_parcticalneeds" id="pnstats_approved_tab_content">
            <div class="data_list_title">all approved practical needs</div>
            <ul>
              <% @practicalneeds.approved_practicalneeds.open_practicalneeds.each do |practicalneed| %>
                <li class="medium-12 columns main_conatiner">
                  <div class="medium-1 columns main_image">
                    <div class="main_img_inner_cover"><%= link_to image_tag("img_default_forum.png"), practicalneed, target:"_blank" %></div>
                  </div>
                  <div class="medium-9 columns main_info">
                    <div>
                      <span class="min_name"><%= link_to truncate(practicalneed.title, length: 60), practicalneed, target:"_blank" %></span>
                      <span>|</span>
                      <span>
                        <% if practicalneed.approved_practicalneed && practicalneed.open_practicalneed %>
                          <span data-tooltip tabindex="2" title="This has been approved by admin" class="top status_btn approved"><%= link_to "approved", practicalneed, target:"_blank" %></span>
                        <% elsif practicalneed.approved_practicalneed && practicalneed.closed_practicalneed %>
                          <span data-tooltip tabindex="2" title="This has been approved by admin" class="top status_btn approved"><%= link_to "approved", practicalneed, target:"_blank" %></span>
                          <% elsif practicalneed.unapproved_practicalneed && practicalneed.closed_practicalneed %>
                          <span data-tooltip tabindex="2" title="This has been closed by admin" class="top status_btn pending"><%= link_to "closed", practicalneed, target:"_blank" %></span>
                        <% elsif practicalneed.unapproved_practicalneed && practicalneed.open_practicalneed %>
                          <span data-tooltip tabindex="2" title="This has 'not' been approved by admin"  class="top status_btn pending"><%= link_to "pending", practicalneed, target:"_blank" %></span>
                        <% end %>
                      </span>

                      <!-- practical need status -->
                      <span>
                        <% if practicalneed.approved_practicalneed && practicalneed.closed_practicalneed %>
                          <span class="hide">approved + closed ----> closed</span>
                          <span data-tooltip tabindex="2" title="PNeed is approved & status is closed" class="top status_btn pending"><%= link_to "approved & closed", practicalneed, target:"_blank" %></span>
                        <% elsif practicalneed.approved_practicalneed && practicalneed.open_practicalneed %>
                          <span class="hide">approved + opened ----> open</span>
                          <span data-tooltip tabindex="2" title="PNeed is approved & status is open" class="top status_btn approved"><%= link_to "approved & open", practicalneed, target:"_blank" %></span>
                        <% elsif practicalneed.unapproved_practicalneed && practicalneed.closed_practicalneed %>
                          <span class="hide">unapproved + closed ----> close</span>
                          <span data-tooltip tabindex="2" title="PNeed is unapproved & status is closed" class="top status_btn pending"><%= link_to "unapproved & closed", practicalneed, target:"_blank" %></span>
                        <% elsif practicalneed.unapproved_practicalneed && practicalneed.open_practicalneed %>
                          <span class="hide">unapproved + open ----> pending</span>
                          <span data-tooltip tabindex="2" title="PNeed is unapproved & status is open" class="top status_btn pending"><%= link_to "unapproved & open", practicalneed, target:"_blank" %></span>
                        <% end %>
                      </span>
                      <!-- practical need status -->
                    </div>
                    
                    <div class="min_content">
                      <span><%= truncate("#{practicalneed.description}", length: 200) %></span>
                      <span><%= link_to "view", practicalneed, target:"_blank" %></span>
                    </div>
                    <div>
                      <span class="subheaders">category:</span>
                      <span class="min_content"><%= link_to "#{practicalneed.category_job.name}", practicalneed %></span>
                      <span>|</span>
                      <span class="subheaders">created:</span>
                      <span class="min_content"><%= practicalneed.created_at.strftime("%b %d %Y") %></span>
                      <% if practicalneed.comments.count > 0 %>
                        <span>|</span>
                        <span class="subheaders"><i class="fa fa-comments" aria-hidden="true"></i>:</span>
                        <span class="min_content"><%= link_to "#{practicalneed.comments.count} solutions", practicalneed, target:"_blank" %></span>
                      <% end %>
                    </div>
                  </div>
                  <div class="medium-2 columns main_action">
                    <div class="action_section">
                      <div class="edit_btn"><%= link_to 'edit', edit_user_practicalneed_path(practicalneed.user, practicalneed), target:"_blank" %></div>
                      <div class="delete_btn"><%= link_to 'delete', practicalneed, method: :delete, data: { confirm: 'Are you sure?' } %></div>
                    </div>
                  </div>
                </li>
              <% end %>
            </ul>
          </div>
          <div class="clear"></div>
          <!-- all approved needs -->

          <!-- all pending needs -->
          <div class="listed_parcticalneeds" id="pnstats_pending_tab_content">
            <div class="data_list_title">all pending practical needs</div>
            <ul>
              <% @practicalneeds.unapproved_practicalneeds.open_practicalneeds.each do |practicalneed| %>
                <li class="medium-12 columns main_conatiner">
                  <div class="medium-1 columns main_image">
                    <div class="main_img_inner_cover"><%= link_to image_tag("img_default_forum.png"), practicalneed, target:"_blank" %></div>
                  </div>
                  <div class="medium-9 columns main_info">
                    <div>
                      <span class="min_name"><%= link_to truncate(practicalneed.title, length: 60), practicalneed, target:"_blank" %></span>
                      <span>|</span>
                      <span>
                        <% if practicalneed.approved_practicalneed && practicalneed.open_practicalneed %>
                          <span data-tooltip tabindex="2" title="This has been approved by admin" class="top status_btn approved"><%= link_to "approved", practicalneed, target:"_blank" %></span>
                        <% elsif practicalneed.approved_practicalneed && practicalneed.closed_practicalneed %>
                          <span data-tooltip tabindex="2" title="This has been approved by admin" class="top status_btn approved"><%= link_to "approved", practicalneed, target:"_blank" %></span>
                          <% elsif practicalneed.unapproved_practicalneed && practicalneed.closed_practicalneed %>
                          <span data-tooltip tabindex="2" title="This has been closed by admin" class="top status_btn pending"><%= link_to "closed", practicalneed, target:"_blank" %></span>
                        <% elsif practicalneed.unapproved_practicalneed && practicalneed.open_practicalneed %>
                          <span data-tooltip tabindex="2" title="This has 'not' been approved by admin"  class="top status_btn pending"><%= link_to "pending", practicalneed, target:"_blank" %></span>
                        <% end %>
                      </span>

                      <!-- practical need status -->
                      <span>
                        <% if practicalneed.approved_practicalneed && practicalneed.closed_practicalneed %>
                          <span class="hide">approved + closed ----> closed</span>
                          <span data-tooltip tabindex="2" title="PNeed is approved & status is closed" class="top status_btn pending"><%= link_to "approved & closed", practicalneed, target:"_blank" %></span>
                        <% elsif practicalneed.approved_practicalneed && practicalneed.open_practicalneed %>
                          <span class="hide">approved + opened ----> open</span>
                          <span data-tooltip tabindex="2" title="PNeed is approved & status is open" class="top status_btn approved"><%= link_to "approved & open", practicalneed, target:"_blank" %></span>
                        <% elsif practicalneed.unapproved_practicalneed && practicalneed.closed_practicalneed %>
                          <span class="hide">unapproved + closed ----> close</span>
                          <span data-tooltip tabindex="2" title="PNeed is unapproved & status is closed" class="top status_btn pending"><%= link_to "unapproved & closed", practicalneed, target:"_blank" %></span>
                        <% elsif practicalneed.unapproved_practicalneed && practicalneed.open_practicalneed %>
                          <span class="hide">unapproved + open ----> pending</span>
                          <span data-tooltip tabindex="2" title="PNeed is unapproved & status is open" class="top status_btn pending"><%= link_to "unapproved & open", practicalneed, target:"_blank" %></span>
                        <% end %>
                      </span>
                      <!-- practical need status -->
                    </div>
                    
                    <div class="min_content">
                      <span><%= truncate("#{practicalneed.description}", length: 200) %></span>
                      <span><%= link_to "view", practicalneed, target:"_blank" %></span>
                    </div>
                    <div>
                      <span class="subheaders">category:</span>
                      <span class="min_content"><%= link_to "#{practicalneed.category_job.name}", practicalneed %></span>
                      <span>|</span>
                      <span class="subheaders">created:</span>
                      <span class="min_content"><%= practicalneed.created_at.strftime("%b %d %Y") %></span>
                      <% if practicalneed.comments.count > 0 %>
                        <span>|</span>
                        <span class="subheaders"><i class="fa fa-comments" aria-hidden="true"></i>:</span>
                        <span class="min_content"><%= link_to "#{practicalneed.comments.count} solutions", practicalneed, target:"_blank" %></span>
                      <% end %>
                    </div>
                  </div>
                  <div class="medium-2 columns main_action">
                    <div class="action_section">
                      <div class="edit_btn"><%= link_to 'edit', edit_user_practicalneed_path(practicalneed.user, practicalneed), target:"_blank" %></div>
                      <div class="delete_btn"><%= link_to 'delete', practicalneed, method: :delete, data: { confirm: 'Are you sure?' } %></div>
                    </div>
                  </div>
                </li>
              <% end %>
            </ul>
          </div>
          <div class="clear"></div>
          <!-- all pending needs -->

          <!-- all closed needs -->
          <div class="listed_parcticalneeds" id="pnstats_closed_tab_content">
            <div class="data_list_title">all closed practical needs</div>
            <ul>
              <% @practicalneeds.closed_practicalneeds.each do |practicalneed| %>
                <li class="medium-12 columns main_conatiner">
                  <div class="medium-1 columns main_image">
                    <div class="main_img_inner_cover"><%= link_to image_tag("img_default_forum.png"), practicalneed, target:"_blank" %></div>
                  </div>
                  <div class="medium-9 columns main_info">
                    <div>
                      <span class="min_name"><%= link_to truncate(practicalneed.title, length: 60), practicalneed, target:"_blank" %></span>
                      <span>|</span>
                      <span>
                        <% if practicalneed.approved_practicalneed && practicalneed.open_practicalneed %>
                          <span data-tooltip tabindex="2" title="This has been approved by admin" class="top status_btn approved"><%= link_to "approved", practicalneed, target:"_blank" %></span>
                        <% elsif practicalneed.approved_practicalneed && practicalneed.closed_practicalneed %>
                          <span data-tooltip tabindex="2" title="This has been approved by admin" class="top status_btn approved"><%= link_to "approved", practicalneed, target:"_blank" %></span>
                          <% elsif practicalneed.unapproved_practicalneed && practicalneed.closed_practicalneed %>
                          <span data-tooltip tabindex="2" title="This has been closed by admin" class="top status_btn pending"><%= link_to "closed", practicalneed, target:"_blank" %></span>
                        <% elsif practicalneed.unapproved_practicalneed && practicalneed.open_practicalneed %>
                          <span data-tooltip tabindex="2" title="This has 'not' been approved by admin"  class="top status_btn pending"><%= link_to "pending", practicalneed, target:"_blank" %></span>
                        <% end %>
                      </span>

                      <!-- practical need status -->
                      <span>
                        <% if practicalneed.approved_practicalneed && practicalneed.closed_practicalneed %>
                          <span class="hide">approved + closed ----> closed</span>
                          <span data-tooltip tabindex="2" title="PNeed is approved & status is closed" class="top status_btn pending"><%= link_to "approved & closed", practicalneed, target:"_blank" %></span>
                        <% elsif practicalneed.approved_practicalneed && practicalneed.open_practicalneed %>
                          <span class="hide">approved + opened ----> open</span>
                          <span data-tooltip tabindex="2" title="PNeed is approved & status is open" class="top status_btn approved"><%= link_to "approved & open", practicalneed, target:"_blank" %></span>
                        <% elsif practicalneed.unapproved_practicalneed && practicalneed.closed_practicalneed %>
                          <span class="hide">unapproved + closed ----> close</span>
                          <span data-tooltip tabindex="2" title="PNeed is unapproved & status is closed" class="top status_btn pending"><%= link_to "unapproved & closed", practicalneed, target:"_blank" %></span>
                        <% elsif practicalneed.unapproved_practicalneed && practicalneed.open_practicalneed %>
                          <span class="hide">unapproved + open ----> pending</span>
                          <span data-tooltip tabindex="2" title="PNeed is unapproved & status is open" class="top status_btn pending"><%= link_to "unapproved & open", practicalneed, target:"_blank" %></span>
                        <% end %>
                      </span>
                      <!-- practical need status -->
                    </div>
                    
                    <div class="min_content">
                      <span><%= truncate("#{practicalneed.description}", length: 200) %></span>
                      <span><%= link_to "view", practicalneed, target:"_blank" %></span>
                    </div>
                    <div>
                      <span class="subheaders">category:</span>
                      <span class="min_content"><%= link_to "#{practicalneed.category_job.name}", practicalneed %></span>
                      <span>|</span>
                      <span class="subheaders">created:</span>
                      <span class="min_content"><%= practicalneed.created_at.strftime("%b %d %Y") %></span>
                      <% if practicalneed.comments.count > 0 %>
                        <span>|</span>
                        <span class="subheaders"><i class="fa fa-comments" aria-hidden="true"></i>:</span>
                        <span class="min_content"><%= link_to "#{practicalneed.comments.count} solutions", practicalneed, target:"_blank" %></span>
                      <% end %>
                    </div>
                  </div>
                  <div class="medium-2 columns main_action">
                    <div class="action_section">
                      <div class="edit_btn"><%= link_to 'edit', edit_user_practicalneed_path(practicalneed.user, practicalneed), target:"_blank" %></div>
                      <div class="delete_btn"><%= link_to 'delete', practicalneed, method: :delete, data: { confirm: 'Are you sure?' } %></div>
                    </div>
                  </div>
                </li>
              <% end %>
            </ul>
          </div>
          <div class="clear"></div>
          <!-- all closed needs -->
        </div>
        <!-- listed_parcticalneeds -->

      </div>
    </div>
    <!-- bottom_section -->

  </div>
</div>