<h1>admin_stats_careers</h1>
<div class="content_admin_sitelinks">
  <div class="tree_line">
    <span><i class="fa fa-user"></i></span>
    <span><%= link_to "#{current_user.firstname}", user_path(current_user) %></span>
    <span><i class="fa fa-angle-right"></i></span>
    <span><%= link_to "admin panel", dashboard_user_path %></span>
    <span><i class="fa fa-angle-right"></i></span>
    <span class="current_page">stats careers</span>
    <span class="tree_tab_link"><%= link_to "view careers page", events_path, target:"_blank", style: 'color:#FFFFFF !important;' %></span>
    <span class="tree_tab_link"><%= link_to "create a job", new_event_path, target:"_blank", style: 'color:#FFFFFF !important;' %></span>
  </div>
  <div class="medium-12 columns admin_tab_content">

    <!-- upper_section -->
    <div class="medium-12 columns page_cover upper_section">
      <div class="medium-12 columns data_main_cover">
        <div class="medium-3 columns data_stats_cover">
          <div class="data_stats">
            <div class="data_title">all jobs</div>
            <div class="stats_content">
              <span class="icon_cover">
                <div class="icon_inner_cover"><i class="fa fa-building"></i></div>
              </span>
              <span class="main_stats"><%= @jobs.aprroved_jobs.opened_jobs.count %></span>
            </div>
          </div>
        </div>
        <div class="medium-3 columns data_stats_cover">
          <div class="data_stats">
            <div class="data_title">church jobs</div>
            <div class="stats_content">
              <span class="icon_cover">
                <div class="icon_inner_cover"><i class="fa fa-building"></i></div>
              </span>
              <span class="main_stats"><%= @jobs.aprroved_jobs.opened_jobs.church_jobs.count %></span>
            </div>
          </div>
        </div>
        <div class="medium-3 columns data_stats_cover">
          <div class="data_stats">
            <div class="data_title">career jobs</div>
            <div class="stats_content">
              <span class="icon_cover">
                <div class="icon_inner_cover"><i class="fa fa-building"></i></div>
              </span>
              <span class="main_stats"><%= @jobs.aprroved_jobs.opened_jobs.career_jobs.count %></span>
            </div>
          </div>
        </div>
        <div class="medium-3 columns data_stats_cover">
          <div class="data_stats">
            <div class="data_title">volunteer jobs</div>
            <div class="stats_content">
              <span class="icon_cover">
                <div class="icon_inner_cover"><i class="fa fa-building"></i></div>
              </span>
              <span class="main_stats"><%= @jobs.aprroved_jobs.opened_jobs.volunteer_jobs.count %></span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="clear"></div>
    <!-- upper_section -->

    <!-- bottom_section -->
    <div class="medium-12 columns page_cover bottom_section">
      <div class="medium-12 columns page_content">
        <div class="header_section_cover">
          <div class="data_contents">
            <span class="data_header">
              <span>Total created jobs on the platform</span> 
              <span>[<%= @jobs.aprroved_jobs.opened_jobs.count %>]</span>
            </span>
            <div class="header_subtitle">
              <i class="fa fa-info-circle"></i>
              <span>Total approved jobs on the platform</span>
            </div>
            <span class="btn btn_blue" id="careerstats_all_tab">all jobs <span>[<%= @jobs.aprroved_jobs.opened_jobs.count %>]</span></span>
            <span class="btn btn_blue" id="careerstats_unapproved_tab">unapproved jobs <span>[<%= @jobs.unapproved_jobs.opened_jobs.count %>]</span></span>
            <span class="btn btn_green" id="careerstats_church_tab">church jobs <span>[<%= @jobs.aprroved_jobs.opened_jobs.church_jobs.count %>]</span></span>
            <span class="btn btn_green" id="careerstats_career_tab">career jobs <span>[<%= @jobs.aprroved_jobs.opened_jobs.career_jobs.count %>]</span></span>
            <span class="btn btn_green" id="careerstats_volunteer_tab">volunteer jobs <span>[<%= @jobs.aprroved_jobs.opened_jobs.volunteer_jobs.count %>]</span></span>
          </div>
        </div>
        <div class="divider"></div>
        <div class="clear"></div>

        <!-- listed_jobs -->
        <div class="listed_jobs">
          <!-- all jobs -->
          <div class="listed_jobs" id="careerstats_all_tab_content">
            <div class="data_list_title">all approved jobs</div>
            <ul>
              <% @jobs.aprroved_jobs.opened_jobs.each do |job| %>
                <li class="medium-12 columns main_conatiner">
                  <div class="medium-9 columns main_info">
                    <div>
                      <span class="min_name"><%= link_to truncate(job.title, length: 30), job, target:"_blank" %></span>
                      <span>|</span>
                      <span>
                        <span class="subheaders">created by:</span>
                        <span><%= link_to "#{job.user.firstname} #{job.user.lastname}", job, target:"_blank", class: "weblink" %></span>
                      </span>
                      <span>|</span>
                      <span>
                        <span class="subheaders">email:</span>
                        <span class="weblink"><%= mail_to "#{job.user.email}" %></span>
                      </span>
                      <span>|</span>
                      <span>
                        <% if job.open_job && job.approved_job %>
                          <span class="approved"><%= link_to "approved", job, target:"_blank" %></span>
                        <% elsif job.unapproved_job %>
                          <span class="pending"><%= link_to "unapproved", job, target:"_blank" %></span>
                        <% end %>
                      </span>
                    </div>
                    
                    <div class="min_content">
                      <span><%= truncate("#{job.description}", length: 200) %></span>
                      <span><%= link_to "view", job, target:"_blank" %></span>
                    </div>
                    <div>
                      <span class="subheaders">created:</span>
                      <span class="min_content"><%= job.created_at.strftime("%b %d %Y") %></span>
                      <span>|</span>
                      <span class="subheaders">creator:</span>
                      <span class="min_content"><%= link_to "#{job.user.firstname} #{job.user.lastname}", user_path(job.user), target:"_blank" %></span>
                      <% if job.user.admin? %>
                        <span class="min_content">[admin]</span>
                      <% end %>
                    </div>
                  </div>
                  <div class="medium-2 columns main_action">
                    <div class="action_section">
                      <div class="update_section">
                        <% unless job.approved_job %>
                          <%= simple_form_for [job.user, job] do |f| %>
                            <%= f.input :approve, as: :boolean, checked_value: true, unchecked_value: false %>
                            <%= f.button :submit, "update" %>
                          <% end %>
                        <% end %>
                      </div>
                      <div class="edit_btn"><%= link_to 'edit', edit_user_job_path(job.user, job) %></div>
                      <div class="delete_btn"><%= link_to 'delete', job, method: :delete, data: { confirm: 'Are you sure?' } %></div>
                    </div>
                  </div>
                </li>
              <% end %>
            </ul>
          </div>
          <div class="clear"></div>
          <!-- all jobs -->

          <!-- all unapproved jobs -->
          <div class="listed_jobs" id="careerstats_unapproved_tab_content">
            <div class="data_list_title">all approved jobs</div>
            <ul>
              <% @jobs.unapproved_jobs.each do |job| %>
                <li class="medium-12 columns main_conatiner">
                  <div class="medium-9 columns main_info">
                    <div>
                      <span class="min_name"><%= link_to truncate(job.title, length: 30), job, target:"_blank" %></span>
                      <span>|</span>
                      <span>
                        <span class="subheaders">created by:</span>
                        <span><%= link_to "#{job.user.firstname} #{job.user.lastname}", job, target:"_blank", class: "weblink" %></span>
                      </span>
                      <span>|</span>
                      <span>
                        <span class="subheaders">email:</span>
                        <span class="weblink"><%= mail_to "#{job.user.email}" %></span>
                      </span>
                      <span>|</span>
                      <span>
                        <% if job.open_job && job.approved_job %>
                          <span class="approved"><%= link_to "approved", job, target:"_blank" %></span>
                        <% elsif job.unapproved_job %>
                          <span class="pending"><%= link_to "unapproved", job, target:"_blank" %></span>
                        <% end %>
                      </span>
                    </div>
                    
                    <div class="min_content">
                      <span><%= truncate("#{job.description}", length: 200) %></span>
                      <span><%= link_to "view", job, target:"_blank" %></span>
                    </div>
                    <div>
                      <span class="subheaders">created:</span>
                      <span class="min_content"><%= job.created_at.strftime("%b %d %Y") %></span>
                      <span>|</span>
                      <span class="subheaders">creator:</span>
                      <span class="min_content"><%= link_to "#{job.user.firstname} #{job.user.lastname}", user_path(job.user), target:"_blank" %></span>
                      <% if job.user.admin? %>
                        <span class="min_content">[admin]</span>
                      <% end %>
                    </div>
                  </div>
                  <div class="medium-2 columns main_action">
                    <div class="action_section">
                      <div class="update_section">
                        <% unless job.approved_job %>
                          <%= simple_form_for [job.user, job] do |f| %>
                            <%= f.input :approve, as: :boolean, checked_value: true, unchecked_value: false %>
                            <%= f.button :submit, "update" %>
                          <% end %>
                        <% end %>
                      </div>
                      <div class="edit_btn"><%= link_to 'edit', edit_user_job_path(job.user, job) %></div>
                      <div class="delete_btn"><%= link_to 'delete', job, method: :delete, data: { confirm: 'Are you sure?' } %></div>
                    </div>
                  </div>
                </li>
              <% end %>
            </ul>
          </div>
          <div class="clear"></div>
          <!-- all unapproved jobs -->

          <!-- all unapproved church jobs -->
          <div class="listed_jobs" id="careerstats_church_tab_content">
            <div class="data_list_title">all approved jobs</div>
            <ul>
              <% @jobs.aprroved_jobs.opened_jobs.church_jobs.each do |job| %>
                <li class="medium-12 columns main_conatiner">
                  <div class="medium-9 columns main_info">
                    <div>
                      <span class="min_name"><%= link_to truncate(job.title, length: 30), job, target:"_blank" %></span>
                      <span>|</span>
                      <span>
                        <span class="subheaders">created by:</span>
                        <span><%= link_to "#{job.user.firstname} #{job.user.lastname}", job, target:"_blank", class: "weblink" %></span>
                      </span>
                      <span>|</span>
                      <span>
                        <span class="subheaders">email:</span>
                        <span class="weblink"><%= mail_to "#{job.user.email}" %></span>
                      </span>
                      <span>|</span>
                      <span>
                        <% if job.open_job && job.approved_job %>
                          <span class="approved"><%= link_to "approved", job, target:"_blank" %></span>
                        <% elsif job.unapproved_job %>
                          <span class="pending"><%= link_to "unapproved", job, target:"_blank" %></span>
                        <% end %>
                      </span>
                    </div>
                    
                    <div class="min_content">
                      <span><%= truncate("#{job.description}", length: 200) %></span>
                      <span><%= link_to "view", job, target:"_blank" %></span>
                    </div>
                    <div>
                      <span class="subheaders">created:</span>
                      <span class="min_content"><%= job.created_at.strftime("%b %d %Y") %></span>
                      <span>|</span>
                      <span class="subheaders">creator:</span>
                      <span class="min_content"><%= link_to "#{job.user.firstname} #{job.user.lastname}", user_path(job.user), target:"_blank" %></span>
                      <% if job.user.admin? %>
                        <span class="min_content">[admin]</span>
                      <% end %>
                    </div>
                  </div>
                  <div class="medium-2 columns main_action">
                    <div class="action_section">
                      <div class="update_section">
                        <% unless job.approved_job %>
                          <%= simple_form_for [job.user, job] do |f| %>
                            <%= f.input :approve, as: :boolean, checked_value: true, unchecked_value: false %>
                            <%= f.button :submit, "update" %>
                          <% end %>
                        <% end %>
                      </div>
                      <div class="edit_btn"><%= link_to 'edit', edit_user_job_path(job.user, job) %></div>
                      <div class="delete_btn"><%= link_to 'delete', job, method: :delete, data: { confirm: 'Are you sure?' } %></div>
                    </div>
                  </div>
                </li>
              <% end %>
            </ul>
          </div>
          <div class="clear"></div>
          <!-- all unapproved church jobs -->

          <!-- all unapproved career jobs -->
          <div class="listed_jobs" id="careerstats_career_tab_content">
            <div class="data_list_title">all approved jobs</div>
            <ul>
              <% @jobs.aprroved_jobs.opened_jobs.career_jobs.each do |job| %>
                <li class="medium-12 columns main_conatiner">
                  <div class="medium-9 columns main_info">
                    <div>
                      <span class="min_name"><%= link_to truncate(job.title, length: 30), job, target:"_blank" %></span>
                      <span>|</span>
                      <span>
                        <span class="subheaders">created by:</span>
                        <span><%= link_to "#{job.user.firstname} #{job.user.lastname}", job, target:"_blank", class: "weblink" %></span>
                      </span>
                      <span>|</span>
                      <span>
                        <span class="subheaders">email:</span>
                        <span class="weblink"><%= mail_to "#{job.user.email}" %></span>
                      </span>
                      <span>|</span>
                      <span>
                        <% if job.open_job && job.approved_job %>
                          <span class="approved"><%= link_to "approved", job, target:"_blank" %></span>
                        <% elsif job.unapproved_job %>
                          <span class="pending"><%= link_to "unapproved", job, target:"_blank" %></span>
                        <% end %>
                      </span>
                    </div>
                    
                    <div class="min_content">
                      <span><%= truncate("#{job.description}", length: 200) %></span>
                      <span><%= link_to "view", job, target:"_blank" %></span>
                    </div>
                    <div>
                      <span class="subheaders">created:</span>
                      <span class="min_content"><%= job.created_at.strftime("%b %d %Y") %></span>
                      <span>|</span>
                      <span class="subheaders">creator:</span>
                      <span class="min_content"><%= link_to "#{job.user.firstname} #{job.user.lastname}", user_path(job.user), target:"_blank" %></span>
                      <% if job.user.admin? %>
                        <span class="min_content">[admin]</span>
                      <% end %>
                    </div>
                  </div>
                  <div class="medium-2 columns main_action">
                    <div class="action_section">
                      <div class="update_section">
                        <% unless job.approved_job %>
                          <%= simple_form_for [job.user, job] do |f| %>
                            <%= f.input :approve, as: :boolean, checked_value: true, unchecked_value: false %>
                            <%= f.button :submit, "update" %>
                          <% end %>
                        <% end %>
                      </div>
                      <div class="edit_btn"><%= link_to 'edit', edit_user_job_path(job.user, job) %></div>
                      <div class="delete_btn"><%= link_to 'delete', job, method: :delete, data: { confirm: 'Are you sure?' } %></div>
                    </div>
                  </div>
                </li>
              <% end %>
            </ul>
          </div>
          <div class="clear"></div>
          <!-- all unapproved career jobs -->

          <!-- all unapproved volunteer jobs -->
          <div class="listed_jobs" id="careerstats_volunteer_tab_content">
            <div class="data_list_title">all approved jobs</div>
            <ul>
              <% @jobs.aprroved_jobs.opened_jobs.volunteer_jobs.each do |job| %>
                <li class="medium-12 columns main_conatiner">
                  <div class="medium-9 columns main_info">
                    <div>
                      <span class="min_name"><%= link_to truncate(job.title, length: 30), job, target:"_blank" %></span>
                      <span>|</span>
                      <span>
                        <span class="subheaders">created by:</span>
                        <span><%= link_to "#{job.user.firstname} #{job.user.lastname}", job, target:"_blank", class: "weblink" %></span>
                      </span>
                      <span>|</span>
                      <span>
                        <span class="subheaders">email:</span>
                        <span class="weblink"><%= mail_to "#{job.user.email}" %></span>
                      </span>
                      <span>|</span>
                      <span>
                        <% if job.open_job && job.approved_job %>
                          <span class="approved"><%= link_to "approved", job, target:"_blank" %></span>
                        <% elsif job.unapproved_job %>
                          <span class="pending"><%= link_to "unapproved", job, target:"_blank" %></span>
                        <% end %>
                      </span>
                    </div>
                    
                    <div class="min_content">
                      <span><%= truncate("#{job.description}", length: 200) %></span>
                      <span><%= link_to "view", job, target:"_blank" %></span>
                    </div>
                    <div>
                      <span class="subheaders">created:</span>
                      <span class="min_content"><%= job.created_at.strftime("%b %d %Y") %></span>
                      <span>|</span>
                      <span class="subheaders">creator:</span>
                      <span class="min_content"><%= link_to "#{job.user.firstname} #{job.user.lastname}", user_path(job.user), target:"_blank" %></span>
                      <% if job.user.admin? %>
                        <span class="min_content">[admin]</span>
                      <% end %>
                    </div>
                  </div>
                  <div class="medium-2 columns main_action">
                    <div class="action_section">
                      <div class="update_section">
                        <% unless job.approved_job %>
                          <%= simple_form_for [job.user, job] do |f| %>
                            <%= f.input :approve, as: :boolean, checked_value: true, unchecked_value: false %>
                            <%= f.button :submit, "update" %>
                          <% end %>
                        <% end %>
                      </div>
                      <div class="edit_btn"><%= link_to 'edit', edit_user_job_path(job.user, job) %></div>
                      <div class="delete_btn"><%= link_to 'delete', job, method: :delete, data: { confirm: 'Are you sure?' } %></div>
                    </div>
                  </div>
                </li>
              <% end %>
            </ul>
          </div>
          <div class="clear"></div>
          <!-- all unapproved volunteer jobs -->
        </div>
        <!-- listed_jobs -->
      </div>
    </div>
    <!-- bottom_section -->

  </div>
</div>