<div class="content_admin_sitelinks">
  <div class="tree_line">
    <span><i class="fa fa-user"></i></span>
    <span><%= link_to "#{current_user.firstname}", user_path(current_user) %></span>
    <span><i class="fa fa-angle-right"></i></span>
    <span><%= link_to "admin panel", dashboard_user_path %></span>
    <span><i class="fa fa-angle-right"></i></span>
    <span class="current_page">content management</span>
    <span class="tree_tab_link hide"><%= link_to "view events page", events_path, target:"_blank", style: 'color:#FFFFFF !important;' %></span>
    <span class="tree_tab_link hide"><%= link_to "create an event", new_event_path, target:"_blank", style: 'color:#FFFFFF !important;' %></span>
  </div>
  <div class="medium-12 columns admin_tab_content">

    <!-- bottom_section -->
    <div class="medium-12 columns page_cover bottom_section">
      <div class="medium-12 columns page_content">
        <div class="header_section_cover">
          <div class="data_contents">
            <span class="data_header">
              <span>Admin Content Management Section</span> 
            </span>
            <div class="header_subtitle">
              <i class="fa fa-info-circle"></i>
              <span>Allows admin to update content on the website</span>
            </div>
            <span class="btn btn_blue" id="">homepage contents </span>
            <span class="btn btn_green hide" id="">tab 2</span>
            <span class="btn btn_green hide" id="">tab 3</span>
            <span class="btn btn_green hide" id="">tab 4</span>
          </div>
        </div>
        <div class="divider"></div>
        <div class="clear"></div>

        <!-- listed_events -->
        <div class="listed_events">
          <!-- homepage content -->
          <div class="listed_events" id="">
            <div class="data_list_title">homepage contents</div>
            <!-- scroll image content -->
            <div class="medium-12 columns scroll_image_content">
              <div class="instructions">
                <div>
                  <span>How to get image URL: </span>
                  <ul>
                    <li>[1] image size must be 770 x 300</li>
                    <li>[2] upload image into cloudinary <%= link_to "click here to link where image must be uploaded", "https://cloudinary.com/console/media_library/folders/all/event%20images", target:"_blank" %></li>
                    <li>[3] upload image by clicking "upload"</li>
                    <li>[4] copy url link and paste here</li>
                  </ul>
                </div>
              </div>
              <!-- left_section -->
              <div class="medium-4 columns">
                <div>
                  <div class="label">1st scroll image</div>
                  <% if @sitemanagment.homepg_img01.present? %>
                    <div class="upload_page_img"><%= cl_image_tag("#{@sitemanagment.homepg_img01}", :transformation=>[{:gravity=>"face", :width => 600, :height => 320, :crop=>"fill"}]) %></div>
                  <% else %>
                    <div class="upload_page_img"><%= image_tag("img_default_mainimg.png") %></div>
                  <% end %>
                </div>
                <div>
                  <div class="label">2nd scroll image</div>
                  <% if @sitemanagment.homepg_img02.present? %>
                    <div class="upload_page_img"><%= cl_image_tag("#{@sitemanagment.homepg_img02}", :transformation=>[{:gravity=>"face", :width => 600, :height => 320, :crop=>"fill"}]) %></div>
                  <% else %>
                    <div class="upload_page_img"><%= image_tag("img_default_mainimg.png") %></div>
                  <% end %>
                </div>
                <div>
                  <div class="label">3rd scroll image</div>
                  <% if @sitemanagment.homepg_img03.present? %>
                    <div class="upload_page_img"><%= cl_image_tag("#{@sitemanagment.homepg_img03}", :transformation=>[{:gravity=>"face", :width => 600, :height => 320, :crop=>"fill"}]) %></div>
                  <% else %>
                    <div class="upload_page_img"><%= image_tag("img_default_mainimg.png") %></div>
                  <% end %>
                </div>  
              </div>
              <!-- left_section -->
              
              <!-- right_section -->
              <div class="medium-8 columns">
                <div class="section_form">
                  <%= simple_form_for(@sitemanagment) do |f| %>
                    <%= f.error_notification %>
                    <div class="form-inputs">
                      <div class="img_form">
                        <div class="input_content">
                          <div class="section_input"><%= f.input :homepg_img01, label: "1st Image URL Link", placeholder: "https://res.cloudinary.com/openheavensuk/image/upload/v1552407583/children%20teenage%20hub/img_08_childrenHub.png" %></div>
                          <div class="section_input"><%= f.input :eventlink_img01, label: "Event URL Link", placeholder: "http://openheavens.herokuapp.com/events/contact-prayer-5-nigh-test-event" %></div>
                        </div>
                        <div class="clear"></div>
                      </div>
                      <div class="img_form">
                        <div class="input_content">
                          <div class="section_input"><%= f.input :homepg_img02, label: "2nd Image URL Link", placeholder: "https://res.cloudinary.com/openheavensuk/image/upload/v1552407583/children%20teenage%20hub/img_08_childrenHub.png" %></div>
                          <div class="section_input"><%= f.input :eventlink_img02, label: "Event URL Link", placeholder: "http://openheavens.herokuapp.com/events/contact-prayer-5-nigh-test-event" %></div>
                        </div>
                        <div class="clear"></div>
                      </div>
                      <div class="img_form">
                        <div class="input_content">
                          <div class="section_input"><%= f.input :homepg_img03, label: "3rd Image URL Link", placeholder: "https://res.cloudinary.com/openheavensuk/image/upload/v1552407583/children%20teenage%20hub/img_08_childrenHub.png" %></div>
                          <div class="section_input"><%= f.input :eventlink_img03, label: "Event URL Link", placeholder: "http://openheavens.herokuapp.com/events/contact-prayer-5-nigh-test-event" %></div>
                        </div>
                        <div class="clear"></div>
                      </div>
                    </div>
                    <div class="form-actions">
                      <%= f.button :submit, "update scroll images" %>
                    </div>
                  <% end %>
                </div>  
              </div>
              <!-- right_section -->
            </div>
            <div class="clear"></div>

            <div class="divider"></div>

            <div class="clear"></div>

            <!-- video content -->
            <div class="medium-12 columns video_content">
              <div class="instructions">
                <div>
                  <span>How to get video URL: </span>
                  <ul>
                    <li>[1] got to youtube <%= link_to "https://www.youtube.com", "https://www.youtube.com", target:"_blank" %></li>
                    <li>[2] copy the URL link of the video and paste here</li>
                  </ul>
                </div>
              </div>
              <div class="medium-4 columns">
                <div class="admin_video_frame">
                  <% if @sitemanagment.homepg_video.present? %>
                    <div><%= embed(@sitemanagment.homepg_video) %></div>
                  <% else %>
                    <div><%= image_tag("img_default_mainimg.png") %></div>
                  <% end %>
                </div>
              </div>

              <div class="medium-8 columns">
                <div class="section_form">
                  <%= simple_form_for(@sitemanagment) do |f| %>
                    <%= f.error_notification %>

                    <div class="form-inputs">
                      <div class="img_form">
                        <div class="input_content">
                          <div class="section_input"><%= f.input :videotitle, label: "Video Title" %></div>
                          <div class="section_input"><%= f.input :homepg_video, label: "Video Youtube URL" %></div>
                        </div>
                        <div class="clear"></div>
                      </div>
                    </div>

                    <div class="form-actions">
                      <%= f.button :submit, "update video" %>
                    </div>
                  <% end %>
                </div> 
              </div>
            </div>

            <div class="clear"></div>

            <div class="divider"></div>

            <div class="clear"></div>

            <!-- live streaming content -->
            <div class="medium-12 columns livestreaming_content">
              <div class="instructions">
                <div>
                  <span>How to get video URL: </span>
                  <ul>
                    <li>[1] got to youtube <%= link_to "https://www.youtube.com", "https://www.youtube.com", target:"_blank" %></li>
                    <li>[2] copy the URL link of the video and paste here</li>
                  </ul>
                </div>
              </div>
              <div class="medium-4 columns">
                <div class="stream_icon">
                  <% if @sitemanagment.livestreaming.present? %>
                    <%= link_to "#" do %>
                      <div class="stream_present">
                        <i class="fa fa-volume-up" aria-hidden="true"></i>
                        <div class="text">live streaming link has been added</div>
                      </div>
                    <% end %>
                  <% else %>
                    <div class="stream_absent">
                      <i class="fa fa-volume-up" aria-hidden="true"></i>
                        <div class="text">no live stream link has been added</div>
                    </div>
                  <% end %>
                </div>
              </div>

              <div class="medium-8 columns">
                <div class="section_form">
                  <%= simple_form_for(@sitemanagment) do |f| %>
                    <%= f.error_notification %>

                    <div class="form-inputs">
                      <div class="img_form">
                        <div class="input_content">
                          <div class=""><%= f.input :livestreaming, label: "Live Streaming Link", placeholder:"https://soundcloud.com/chancetherapper/lil-yachty-chance-the-rapper-atlanta-house-freestyle" %></div>
                        </div>
                        <div class="clear"></div>
                      </div>
                    </div>

                    <div class="form-actions">
                      <%= f.button :submit, "update streaming link" %>
                    </div>
                  <% end %>
                </div> 
              </div>
            </div>
          </div>
          <div class="clear"></div>
          <!-- homepage content -->

          <!-- tabs_02 -->
          <div class="listed_events hide" id="">
            <div class="data_list_title">tab 2</div>
            <div>tab 2</div>
          </div>
          <div class="clear"></div>
          <!-- tabs_02 -->

          <!-- tab_03 -->
          <div class="listed_events hide" id="">
            <div class="data_list_title">tab 3</div>
            <div>tab 3</div>
          </div>
          <div class="clear"></div>
          <!-- tab_03 -->

          <!-- tab_04 -->
          <div class="listed_events hide" id="">
            <div class="data_list_title">tab 4</div>
            <div>tab 4</div>
          </div>
          <div class="clear"></div>
          <!-- tab_04 -->

        </div>
        <!-- listed_events -->

      </div>
    </div>
    <!-- bottom_section -->

  </div>
</div>





























<div class="content_management_content hide">
  <div class="tree_line">
    <span><i class="fa fa-user"></i></span>
    <span><%= link_to "#{current_user.firstname}", user_path(current_user) %></span>
    <span><i class="fa fa-angle-right"></i></span>
    <span><%= link_to "admin panel", "#" %></span>
    <span><i class="fa fa-angle-right"></i></span>
    <span class="current_page">content management</span>
  </div>
  <div class="tab_content">content management content</div>
</div>