<div class="medium-12 columns users_dashboard_section">
  <div class="medium-12 columns main_container">

    <!-- left_content -->
    <div class="medium-2 columns left_admin_content">
      <ul>
        <li>
          <%= link_to "#" do %>
            <span><i class="fa fa-cogs"></i></span>
            <span>dashboard</span>
          <% end %>
        </li>
        <li>
          <%= link_to "#" do %>
            <span><i class="fa fa-cogs"></i></span>
            <span>content management</span>
          <% end %>
        </li>
        <li>
          <%= link_to "#" do %>
            <span><i class="fa fa-cogs"></i></span>
            <span>site links</span>
          <% end %>
        </li>
        <li>
          <%= link_to "#" do %>
            <span><i class="fa fa-cogs"></i></span>
            <span>users</span>
          <% end %>
        </li>
        <li>
          <%= link_to "#" do %>
            <span><i class="fa fa-cogs"></i></span>
            <span>events</span>
          <% end %>
        </li>
        <li>
          <%= link_to "#" do %>
            <span><i class="fa fa-cogs"></i></span>
            <span>ministries</span>
          <% end %>
        </li>
        <li>
          <%= link_to "#" do %>
            <span><i class="fa fa-cogs"></i></span>
            <span>resources</span>
          <% end %>
        </li>
        <li>
          <%= link_to "#" do %>
            <span><i class="fa fa-cogs"></i></span>
            <span>forum/discussions</span>
          <% end %>
        </li>
        <li>
          <%= link_to "#" do %>
            <span><i class="fa fa-cogs"></i></span>
            <span>career</span>
          <% end %>
        </li>
        <li>
          <%= link_to "#" do %>
            <span><i class="fa fa-cogs"></i></span>
            <span>galleries</span>
          <% end %>
        </li>
      </ul>
    </div>
    <!-- left_content -->

    <!-- right_content -->
    <div class="medium-10 columns right_admin_content">right_content</div>
    <!-- right_content -->



  </div>
</div>