<%# simple_form_for(@job) do |f| %>
<%= simple_form_for [@user, @job] do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :title %>
    <%= f.input :location %>
    <%= f.input :description %>
    <%= f.association :category_job, collection: CategoryJob.all, prompt: "select a category", label: "Job Category" %>
    <%= f.input :close %>
    <%= f.input :approve %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
