<div class="pages_boarder"></div>
<div class="medium-12 columns jobform_section">
  <div class="jobform_inner_section">
    <div class="medium-12 columns jobform_content">
      <div class="tree_line">
        <span><i class="fa fa-user"></i></span>
        <span><%= link_to "#{current_user.firstname}", user_path(current_user) %></span>
        <span><i class="fa fa-angle-right"></i></span>
        <span><%= link_to "admin panel", content_management_user_path(current_user) %></span>
        <span><i class="fa fa-angle-right"></i></span>
        <span><%= link_to "stats careers", stats_careers_user_path(current_user) %></span>
        <span><i class="fa fa-angle-right"></i></span>
        <span class="current_page">
          <% if action_name == 'new'  %>
            <span>create job</span>
          <% else %>
            <span>update job</span>
          <% end %>
        </span>
      </div>

      <div class="medium-12 columns page_main_content">
        <!-- info_left_content -->
        <div class="medium-8 columns info_left_content">
          <div class="page_information">
            <div class="page_header">
              <% if action_name == 'new'  %>
                <span>create job</span>
              <% else %>
                <span>update job</span>
              <% end %>
            </div>
            <div class="paragraph_content">
              <span>Create a job for the audience. Customizable job.</span>
            </div>

            <div class="event_main_form">
              <%= simple_form_for [@user, @job] do |f| %>
                <%= f.error_notification %>

                <div class="form-inputs">
                  <div class="update_section">
                    <div class="imgae_title">discussion group image</div>
                    <%= f.file_field :image %>
                    <div class="minor_info">
                      <span>Upload file to be shared to the audience</span> 
                    </div>
                  </div>
                  <div class="clear"></div>

                  <div class="info_sub_content"><%= f.input :title, label: "Job Title", placeholder: "Counselor" %></div>
                  <div class="clear"></div>

                  <div class="info_sub_content"><%= f.input :description, label: "Job Description", placeholder: "Dance In The Park is a place for all generations and families to come together and worship. We have engaging programmes designed to enable children and youth of all ages to grow in their relationship with Jesus and encounter the presence of God." %></div>
                  <div class="clear"></div>

                  <div class="info_sub_content">
                    <%= f.input :address, placeholder: "194-198 Broadfields Ave, Edgware HA8 8TF" %>
                    <%= f.input :location, placeholder: "UK/London", label: "Country/City" %>
                  </div>

                  <div class="info_sub_content">
                    <ul>
                      <li><%= f.association :category_job, collection: CategoryJob.all, prompt: "select a job category", label: false %></li>
                      <li><%= f.association :category_joblevel, collection: CategoryJoblevel.all, prompt: "select a job level", label: false %></li>
                      <li><%= f.association :category_jobtype, collection: CategoryJobtype.all, prompt: "select a job type", label: false %></li>
                    </ul>
                  </div>

                  <div class="clear"></div>

                  <div class="update_section">
                    <%= f.input :close, as: :boolean %>
                    <div class="minor_info">
                      <span>By ticking the box you are closing the created job. The job will not be displayed to the public</span> 
                    </div>
                  </div>
                  <div class="clear"></div>

                  <% if current_user.admin? %>
                    <div class="update_section">
                      <%= f.input :churchjob, as: :boolean, label: "Church Job" %>
                      <div class="minor_info">
                        <span>This option is only displayed to the admin. Tick if this is a church job</span> 
                      </div>
                    </div>
                    <div class="clear"></div>

                    <div class="update_section">
                      <%= f.input :approve, as: :boolean %>
                      <div class="minor_info">
                        <span>This option is only displayed to the admin. By ticking the box you are approving the created job. The job will be displayed to the public</span> 
                      </div>
                    </div>
                    <div class="clear"></div>
                  <% end %>

                  <!-- hidden_field -->
                  <%= f.hidden_field :user_id %>
                  <!-- hidden_field -->
                </div>

                <div class="form_btns">
                  <% if user_signed_in? %>
                    <% if current_user.admin? %>
                      <ul>
                        <li class="cancel_btn">
                          <div><%= link_to "back", stats_forum_user_path(current_user) %></div>
                        </li>
                        <li>
                          <% if action_name == 'new'  %>
                            <div class="form-actions submit_btn">
                              <%= f.button :submit, "create job" %>
                            </div>
                          <% else %>
                            <div class="form-actions submit_btn">
                              <%= f.button :submit, "update job" %>
                            </div>
                          <% end %>
                        </li>
                      </ul>
                    <% end %>
                  <% end %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
        <!-- info_left_content -->

        <!-- info_right_content -->
        <%= render 'shared/content_service_times' %>
        <!-- info_right_content -->
      </div>

    </div>
  </div>
</div>









