<div class="pages_boarder"></div>
<div class="medium-12 columns userform_section">
  <div class="userform_inner_section">
    <div class="medium-12 columns userform_content">
      <div class="tree_line">
        <span><%= link_to "home", root_path %></span>
        <span><i class="fa fa-angle-right"></i></span>
        <span><%= link_to "profile", user_path(@user) %></span>
        <span><i class="fa fa-angle-right"></i></span>
        <span class="current_page">update info</span>
      </div>

      <div class="medium-12 columns page_main_content">
        <!-- info_left_content -->
        <div class="medium-8 columns info_left_content">
          <div class="page_information">
            <div class="medium-12 columns user_form_deatils">


              <%= simple_form_for(@user) do |f| %>
                <%= f.error_notification %>

                <div class="form-inputs">
                  <div class="info_sub_content">
                    <ul>
                      <li class="form_left"><%= f.input :firstname, label: false, placeholder: "First Name" %></li>
                      <li class="form_right"><%= f.input :lastname, label: false, placeholder: "Last Name" %></li>
                    </ul>
                  </div>
                  <div class="clear"></div>

                  <div class=""><%= f.input :job, placeholder: "job title eg:project manager", label: false %></div>
                  <div class="clear"></div>

                  <div><%= f.association :category_gender, collection: CategoryGender.all, prompt: "select gender", label: false %></div>
                  <div class="clear"></div>
                </div>

                <div class="form-actions">
                  <%= f.button :submit, "update" %>
                </div>
              <% end %>

            
            </div>
          </div>
        </div>
        <!-- info_left_content -->

        <!-- info_right_content -->
        <%= render 'shared/content_user_options' %>
        <%= render 'shared/content_service_times' %>
        <!-- info_right_content -->
      </div>

    </div>
  </div>
</div>

