<div class="pages_boarder"></div>
<div class="medium-12 columns content_aboutuspg_section">
  <div class="content_aboutuspg_inner_section">
    <div class="medium-12 columns aboutuspg_content">
      <div class="tree_line">
        <span><%= link_to "home", root_path %></span>
        <span><i class="fa fa-angle-right"></i></span>
        <span class="current_page">about us</span>
      </div>

      <div class="medium-12 columns page_main_content">
        <!-- info_left_content -->
        <div class="medium-8 columns info_left_content">
          <div class="page_information">
            <div class="page_header">about open heavens christian centre</div>
            <div class="page_img"><%= image_tag("img_default_mainimg.png") %></div>
            <div>
              <div class="paragraph_content">Open Heavens Christian Centre is a
                Parish of The Redeemed Christian Church and was established in 1999.  The first service started at Watling Community Centre at the border of Edgware and Burnt Oak in North West London.  As the church began to grow, we moved to Canons High School in 2002 and then moved to Broadfields Edgware in November 2008.</div>

              <div class="paragraph_content">Today as Open Heavens Christian Centre is still growing, there are about <%= link_to "40 parishes", "#", class: "weblink", target: "_blank" %> in the OHCC family. Whatever your background, culture or race, at Open Heavens Christian Centre you can find a home for yourself and your family. So, join us to worship God in spirit and truth.</div>

              <div class="paragraph_content listed_donation_links">
                <ul>
                  <li><%= link_to "get connected", connect_path %></li>
                  <li><%= link_to "children & teenage corner", children_teenage_corner_path %></li>
                  <li><%= link_to "upcoming events", events_path %></li>
                  <li><%= link_to "service times", service_times_path %></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <!-- info_left_content -->

        <!-- info_right_content -->
        <%= render 'shared/content_service_times' %>
        <!-- info_right_content -->
      </div>

    </div>
  </div>
</div>