<div class="pages_boarder"></div>
<div class="medium-12 columns content_servepg_section">
  <div class="content_servepg_inner_section">
    <div class="medium-12 columns servepg_content">
      <div class="tree_line">
        <span><%= link_to "home", root_path %></span>
        <span><i class="fa fa-angle-right"></i></span>
        <span class="current_page">serve</span>
      </div>

      <div class="medium-12 columns page_main_content">
        <!-- info_left_content -->
        <div class="medium-8 columns info_left_content">
          <div class="page_information">
            <div class="page_header">serve</div>
            <div class="page_img"><%= image_tag("img_default_mainimg.png") %></div>

            <div class="paragraph_content">Open Heavens Christian centre offers several unique opportunities for you to use your God given gifts, passions, and talents to build the local church and impact our community. You can invest your time and skills in our children and youth activities, help welcome & make our guests comfortable, help care for the worship spaces and facilities, make & serve coffee to guests and members to enhance fellowship at the foyer and much more. Whatever your passion, we have a place for you to explore and flourish at Open Heavens!</div>

            <div class="paragraph_content"><b>A FEW OF THE MANY AREAS OF OPPORTUNITY IN WHICH YOU CAN SERVE IN OUR CHURCH</b>
              <div>
                <ul>
                  <li><b>Prayer</b></li>
                  <li><b>First Impressions Ministry</b> <span></span></li>
                  <li><b>Care Ministry</b> <span></span></li>
                  <li><b>Children’s ministry</b> <span>(helping to create loving, safe and clean environment for Open Heavens children and their parents & carers)</span></li>
                  <li><b>Youth ministry</b></li>
                  <li><b>Admin & Financial stewardship</b></li>
                  <li><b>IT / Data Quality Analysts / Hardware support</b></li>
                  <li><b>Media & Communications</b></li>
                  <li><b>Worship Arts</b></li>
                  <li><b>Sanctuary cleaning and décor</b></li>
                  <li><b>Sanctuary cleaning and décor</b></li>
                  <li><b>BRC Cafe</b> <span>(open to the public on weekdays as drop-in free coffee & biscuits centre as well as Sunday mornings)</span></li>
                  <li><b>Teaching - Small Groups, Sunday School, New believers group</b></li>
                  <li><b>Pastoral care (Counselling & lay counselling, Hospitals & Prisons visitation)</b></li>
                  <li><b>Facilities care & various Logistic & events support services</b></li>
                  <li><b>Help with Services & special events</b></li>
                  <li><b>Men’s ministry</b></li>
                  <li><b>Women’s ministry</b></li>
                </ul>
              </div>
            </div>

            <div class="paragraph_content">There are several opportunities here to make a difference with your time either by volunteering in a role that fits your gifts, interests, and talents or even pioneer a ministry through your own creativity and innovation.  Find the opportunity you are interested in, and simply email the staff contact and let them know! </div>

            <div class="paragraph_content">Still thinking of where to serve? <%= link_to "Fill out this form", "#", target: "_blank", class: "weblink" %> with your interest areas, skills etc. and a staff member or ministry lead will follow up with you! Maybe you already have inspired ideas you need support and encouragement to implement? Fill out the ministry idea form 
              <span>
                <% if user_signed_in? %>
                  <%= link_to "here", new_launchministry_path, class: "weblink" %> 
                <% else %>
                  <span class="weblink" data-open="modal_ministry_application">here</span>
                  <span><%= render 'shared/modal_ministry_application' %></span>
                <% end %>
              </span>

              and the relevant ministry lead will get in touch with you during the week. 
            </div>


            <div class="paragraph_content">
              <ul>
                <li>
                  <b>Prayer:</b>
                  <span>there are opportunities to serve through Praying with guests after weekend services or participating in weekly Intercessory/ministry network Prayers or praying over requests that come through the church prayer box or the website.</span>
                </li>

                <li>
                  <b>BRC:</b>
                  <span>You can also serve in the Open Heavens operated outreach arm, The Broadfields Resource & Care centre outlets which incorporates 
                    <span class="weblink"><%= mail_to "foodbank@openheavens" %></span>, 
                    Financial impact <span class="weblink"><%= mail_to "group@openheavens" %></span> 
                    <span class="weblink"><%= mail_to "prisonministries@openheavens" %></span> etc. 
                    Learn more 
                    <span><%= link_to "here", broadfields_resource_path, target:"_blank", class: "weblink" %></span>
                </li>

                <li>
                  <b>First Impression Hosts (parking marshalls, greeters, ushers):</b>
                  <span>Helping to deliver excellent Guest Experience while enhancing overall service ambience. Serve in the Open Heavens lobby area or main auditorium welcoming and assisting in delivering an excellent ambience and experience to our visitors and members as we seek to glorify God all through our weekly Worship services. This includes assisting with seating, collecting offering, handing out service items, locating the right classes, etc. This naturally seats with the OHCC First Impressions ministry.</span>
                </li>

                <li>
                  <b>Children’s ministry</b> 
                  <span>(helping to create loving, safe and clean environment for Open Heavens children and their parents & carers)</span>
                </li>

                <li>
                  <b>Care (membership & community care, providing pastries, coffee, and other food for services and events):</b>
                  <ul>
                    <li>There are several opportunities at Open Heavens to help create a radically inclusive community where people are treated with love and care regardless of their ethnic, economic or legal status through the core values of dignity, Hope and Transformation.</li>
                    <li>From routine visit to members to supporting those going through various challenges to stocking groceries at the food bank a few hours a week to offering legal consultation to members with challenging life and career issues such as immigration, the Open Heavens care volunteers lives out the compassion and justice mission by sharing the hope and love of Christ while meeting basic needs and offering short and long-term solutions that empower people toward a more stable future.</li>
                  </ul>
                </li>

                <li>
                  <b>Admin & Financial stewardship:</b>
                  <span>- Depending on gifts and preferences you may serve as church office Support Volunteer providing assistance for various administrative and finance related task back-up for ministry projects: This might also mean serving in the Counting Team, a wonderful team of volunteers that helps count the offering during our weekend services. It may also extend to welcome and Registration of attendance at services, trainings & meetings, offering general membership support and providing information to members during services.</span>
                </li>

                <li>
                  <b>IT / Data Quality Analysts / Hardware support:</b>
                  <ul>
                    <li>Church computers - Do you enjoy working with computers, networking, software and electronics support? Open Heavens have room in the church office and across the network for volunteers with relevant skills to assist our technical team with some basic computer support and related tasks.</li>
                    <li>If you enjoy analytics & trends, there are also opportunities to serve as Data Quality Analysts and also help the church office team update records and make the best use of our new church management systems</li>
                  </ul>
                </li>

                <li>
                  <b>Stewardship coach:</b>
                  <span>Changing lives by serving as community budget coach, organising community focused seminars or Meeting 1 on 1 with people who need guidance and assistance in putting together a budget or training support towards good stewardship of their finances</span>
                </li>

                <li>
                  <b>Facilities management & Logistics (Custodial Champions):</b>
                  <span>- The Custodial Support champions are responsible for the appearance, maintenance, and security of the buildings & content, external equipment and facilities of Open Heavens Christian Centre. This involves overall Church facilities management (Buildings, Vehicles & Equipment). We are always looking for help and input from those with experience in building trades, construction, utilities, building management and building systems or other related fields.</span>
                </li>

                <li>
                  <b>Service preparation and general events logistics (Helping coordinate church events & programmes):</b>
                  <ul>
                    <li>You can apply your organizing skills by participating in the planning and execution of high-quality services & events in our church that will help people worship and learn about God’s word in an excellent distraction-free environment.  We always need your events & project management skills in making our weekend worship services and Special Events run excellently and to the glory of God through proper planning, supporting and execution of all the various elements.</li>
                    <li>Preparing various Sections of our facilities (Set Up and Tear Down) ahead of services, so as to provide a welcoming and loving environment for fellowship to occur by organising spaces for various gatherings and users of facilities. This also involves caring for the facilities as good stewards of the resources that God has provided for our comfort.</li>
                  </ul>
                </li>

                <li>
                  <b>Sanctuary cleaning and décor </b>
                  <span>you can join a group of wonderful volunteers regularly helping to keep the interior of the facilities clean and sparkling, prepare interior spaces for special events and services: Christmas, Easter etc.</span>
                </li>

                <li>
                  <b>Technical Support </b>
                  <ul>
                    <li>Serve with the team of volunteers who facilitate Vehicle Care and Equipment Repair. Depending on availability and your flexibility you can utilize your mechanical skills to help with church vehicle and equipment repairs, as well as preventative maintenance of both vehicles and all church facilities in general.</li>
                    <li>- Facilities grounds inspection and clearing to ensure health and safety. This may involve in winter, salting the outdoor spaces to keep it safe and accessible especially for the young and elderly.</li>
                  </ul>
                </li>

                <li>
                  <b>Small Group Leader</b>
                  <ul>
                    <li><b>Lead or help drive Impactful Small Groups</b> <span>These are opportunities to invest in people and grow the next generation by using your shepherding, teaching, leadership and pastoral gifts to create atmospheres of godly influence at any regular and suitable location outside the church building during your week.</span></li>
                    <li><b>Start an OH Small group anywhere</b> <span>Your organizing skills can be applied to coordinate friends to bring shared meals to home, office or campus small Groups or you may just want to Open your home to provide a place for spiritual development for your neighbours, community the youth in our church or your community. You may also develop your leadership skills by serving (apprenticeship) under a Small Group Leader in a mentorship relationship.</span></li>
                    <li><b>Pastoral care – In Open Heavens we believe in the efficacy of Christian counselling which is bible based and Christ centred</b>
                      <ul>
                        <li>Our Volunteer Counselling & Response Pastors serve in the church office to Provide next steps for callers looking for professional help related to emotional, spiritual and relational issues</li>
                        <li>Professionals and non professionals alike can volunteer their skills to offer Free Bible-based counselling in a confidential setting offering compassionate listening, encouragement and guidance, on a biblical foundation to our members and the community we serve.</li>
                      </ul>
                    </li>
                    <li>Our goal is to help to clarify problem areas in relationships and families, express/share feelings, resolve any conflicts observed, within healthy and most importantly Godly boundaries. While Referring those who may so desire to local approved sources of various additional support. Issues that necessitate the approach and professional level of other licensed Counsellors may be referred to trusted resources in the church and Christian community. </li>
                    <li><b>Weddings & Marriages support </b> <span>Trained Personnel Serve by providing Pre-marital counselling to couples intending to get married at Open Heavens. Your Events planning skills can also be applied in supporting various events from weddings to bereavement activities such as service of songs and burials.</span></li>
                    <li><b>Planning support </b> <span>Serve by meeting with couples to help them plan their wedding ceremony in Open Heavens and help coordinate rehearsals and the activities on the wedding day.</span></li>
                    <li>Serve by working with the Wedding Coordinator to set up the auditorium before the ceremony starts, and help tidy and clean up after church ceremonies.</li>
                  </ul>
                </li>

                <li>
                  <b>Hospital & Prisons Visitation</b>
                  <span>- Volunteer to be trained and to serve through short in-person hospital visits to the sick and prison / detention centre visitation to those whose freedom have been curtailed to provide support.</span>
                </li>

                <li>
                  <b>Media & Communications</b>
                  <span>Graphics & Photography skills, use your photography to capture weekend services, Open Heavens events, and lifestyle photos while using Graphics skills to create branding and promotional items to serve all Open Heavens ministries.</span>
                </li>
              </ul>
            </div>


            
          </div>
        </div>
        <!-- info_left_content -->

        <!-- info_right_content -->
        <%= render 'shared/content_service_times' %>
        <!-- info_right_content -->
      </div>

    </div>
  </div>
</div>