<div class="pages_boarder"></div>
<div class="medium-12 columns content_growpg_section">
  <div class="content_growpg_inner_section">
    <div class="medium-12 columns growpg_content">
      <div class="tree_line">
        <span><%= link_to "home", root_path %></span>
        <span><i class="fa fa-angle-right"></i></span>
        <span class="current_page">grow</span>
      </div>

      <div class="medium-12 columns page_main_content">
        <!-- info_left_content -->
        <div class="medium-8 columns info_left_content">
          <div class="page_information">
            <div class="page_header">growing as a follower of Christ</div>
            <div class="page_img"><%= image_tag("img_default_mainimg.png") %></div>
            <div>

              <div>
                <div class="medium-8 columns main_left_section">
                  <div class="paragraph_content">Everyone desires to grow to become what God created him or her to become in life. OHCC provides a wide variety of opportunities for personal growth from the newest believer to matured believers with years of experience in following the Lord. As a church, we’re committed to helping you find the right path to spiritual development that will meet you where you are and take you where God has called you to flourish. Take some time and look around these areas for growth and engage with the potential they present for growth.</div>
                </div>
                <div class="medium-4 columns main_right_section paragraph_content">
                  <ul>
                    <li><%= link_to "receive Christ", receive_christ_path, class: "weblink"  %></li>
                    <li><%= link_to "next steps", next_steps_path, class: "weblink" %></li>
                    <li><%= link_to "the bible and you", bible_and_you_path, class: "weblink" %></li>
                    <li><%= link_to "leadership development", leadership_development_path, class: "weblink" %></li>
                    <li><%= link_to "small groups", small_groups_path, class: "weblink" %></li>
                  </ul>
                </div>
              </div>


            </div>
          </div>
        </div>
        <!-- info_left_content -->

        <!-- info_right_content -->
        <%= render 'shared/content_service_times' %>
        <!-- info_right_content -->
      </div>

    </div>
  </div>
</div>



