<!-- <div class="pages_boarder"></div> -->
<div class="medium-12 columns content_homepg_signedout_section">
  <div class="content_homepg_signedout_inner_section">
    <div class="medium-12 columns homepage_content">

      <!-- left_main_content -->
      <div class="medium-8 columns left_main_content">
        <div class="left_inner_main_content">
          <div class="carousel_section">
            <div class="wrapper">
              <div class="carousel">
                <div class="inner">
                  <div class="slide active">
                    <h1>1</h1>
                  </div>
                  <div class="slide">
                    <h1>2</h1>
                  </div>
                  <div class="slide">
                    <h1>3</h1>
                  </div>
                </div>
                <div class="arrow arrow-left hide"></div>
                <div class="arrow arrow-right hide"></div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- right_main_content -->
      <div class="medium-4 columns right_main_content">
        <div class="right_inner_main_content">
          <div class="medium-12 columns main_section">
            <ul>
              
              <li class="li_main li_main_right">
                <div class="title_content_info">
                  <ul>
                    <li id="content1_info">IN PURSUIT OF GOD: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</li>
                    <li id="content2_info">DISCOVERING PURPOSE: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</li>
                    <li id="content3_info">MAXIMIZING POTENTIAL: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</li>
                    <li id="content4_info">IMPACTING LIVES: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</li>
                  </ul>
                </div>
              </li>


              <li class="li_main li_main_left">
                <div class="title_content">
                  <ul>
                    <li id="content1">in pursuit of God</li>
                    <li id="content2">discovering PURPOSE</li>
                    <li id="content3">maximizing POTENTIAL</li>
                    <li id="content4">impacting LIVES</li>
                  </ul>
                </div>
              </li>

            </ul>
          </div>
        </div>
      </div>

      <!-- bottom_content -->
      <div class="medium-12 columns bottom_content">
        <div class="inner_bottom_content">
          <div class="img_icon_info">
            <ul>
              <li>
                <%= link_to "#" do %>
                <div><i class="fa fa-american-sign-language-interpreting" aria-hidden="true"></i></div>
                <div class="option_header">prayer</div>
                <% end %>
              </li>

              <li>
                <%= link_to donations_path do %>
                <div><i class="fa fa-american-sign-language-interpreting" aria-hidden="true"></i></div>
                <div class="option_header">giving</div>
                <% end %>
              </li>

              <li>
                <%= link_to "#" do %>
                <div><i class="fa fa-american-sign-language-interpreting" aria-hidden="true"></i></div>
                <div class="option_header">OH radio</div>
                <% end %>
              </li>

              <li>
                <%= link_to media_and_communication_path do %>
                <div><i class="fa fa-american-sign-language-interpreting" aria-hidden="true"></i></div>
                <div class="option_header">multimedia</div>
                <% end %>
              </li>

              <li>
                <%= link_to small_groups_path do %>
                <div><i class="fa fa-american-sign-language-interpreting" aria-hidden="true"></i></div>
                <div class="option_header">small groups</div>
                <% end %>
              </li>

              <li>
                <%= link_to careers_and_volunteers_path do %>
                <div><i class="fa fa-american-sign-language-interpreting" aria-hidden="true"></i></div>
                <div class="option_header">volunteering</div>
                <% end %>
              </li>

              <li>
                <%= link_to "#" do %>
                <div><i class="fa fa-american-sign-language-interpreting" aria-hidden="true"></i></div>
                <div class="option_header">forms</div>
                <% end %>
              </li>

              <li>
                <%= link_to resources_path do %>
                <div><i class="fa fa-american-sign-language-interpreting" aria-hidden="true"></i></div>
                <div class="option_header">resource</div>
                <% end %>
              </li>

              <li>
                <%= link_to forum_path do %>
                <div><i class="fa fa-american-sign-language-interpreting" aria-hidden="true"></i></div>
                <div class="option_header">discussions</div>
                <% end %>
              </li>

              <li>
                <%= link_to listed_ministries_launchministries_path do %>
                <div><i class="fa fa-american-sign-language-interpreting" aria-hidden="true"></i></div>
                <div class="option_header">ministries</div>
                <% end %>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <!-- lower_content -->
      <div class="medium-12 columns lower_content">
        <div class="inner_lower_content">

          <div class="medium-5 columns bottom_right">
            <div class="bottom_inner_right">
    
              <div class="event_title">
                <span>
                  <%= link_to events_path, target:"_blank" do %>
                  <span><i class="fa fa-calendar"></i></span>
                  <span>Events</span>
                  <% end %>
                </span>
                <span class="event_header"><%= link_to "view all events", events_path %></span>
              </div>

              <div class="event_content">
                <% if @events.present? %>
                  <!-- listed events -->
                  <div class="event_inner_content">
                    <ul>
                      <% @events.each do |event| %>
                        <li>
                          <div>
                            <span class="evt_img_section">
                              <div class="evt_img_outter">
                                <div class="evt_img"><%= link_to (image_tag("img_sample.jpg")), event_path(event) %></div>
                              </div>
                            </span>
                            <span class="event_info_section">
                                <%= link_to event_path(event) do %>
                                <div class="evt_title"><%= truncate("#{event.name}", length: 27) %></div>
                                <div class="evt_minor_info evt_address"><%= truncate("#{event.address} #{event.postcode}", length: 48) %></div>
                                <div class="evt_minor_info evt_time"><%= "#{event.start_time.strftime("%b %d %Y")} - #{event.start_time.strftime("%I:%M%p")}" %> - <span><%= event.city %></span></div>
                                <div class="evt_minor_info evt_city_country">
                                  <span><%= event.category_country.name %></span>
                                  <span>|</span>
                                  <span class="evt_category"><%= event.category_event.name %></span>
                                </div>
                              <% end %>
                            </span>
                          </div>
                          <div class="bottom_line"></div>
                        </li>
                      <% end %>
                     
                    </ul>
                  </div>
                  <!-- listed events -->
                <% else %>
                  <!-- no_listed_info -->
                  <div><%= render "shared/no_listed_content" %></div>
                  <!-- no_listed_info -->
                <% end %>
              </div>
              
            </div>
          </div>

          <div class="medium-7 columns bottom_left">
            <div class="bottom_inner_left">
              <!-- <div><%# embed(blog.link) %> note:https://stackoverflow.com/questions/5909121/converting-a-regular-youtube-link-into-an-embedded-video</div> -->
              <div class="video_title">
                <span>
                  <%= link_to "https://www.youtube.com/embed/vBq9pvvaYoY", target:"_blank" do %>
                  <span><i class="fa fa-youtube"></i></span>
                  <span class="vid_responsive">Abundant Life Easter Special - Pastor Daniel Akhazemea</span>
                  <span class="vid_non_responsive"><%= truncate("Abundant Life Easter Special - Pastor Daniel Akhazemea", length: 25) %></span>
                  <% end %>
                </span>
                <span class="video_header"><%= link_to "view more videos", "https://www.youtube.com/channel/UC04lsiRC0cEgW6I_VqGW77A/videos", target:"_blank" %></span>
              </div>
              <div>
                <iframe src="https://www.youtube.com/embed/vBq9pvvaYoY" width="100%" height="315" frameborder="0" allowfullscreen></iframe>
              </div>
            </div>
          </div>

        </div>
      </div>


    </div>
  </div>
</div>