<!-- CSS File: content_user_options.css.scss -->
<!-- info_right_content -->
<div class="medium-4 columns right_info_user_options">
  <div class="side_information">
    <div class="user_links">
      <div><%= link_to "view all events", events_path %></div>
      <div><%= link_to "useful services", useful_services_path %></div>

      <div class="divider"></div>

      <div><%= link_to "view all jobs", careers_and_volunteers_path %></div>
      <div><%= link_to "church jobs", church_jobs_path %></div>
      <div><%= link_to "view practical needs", practical_needs_path %></div>

      <div class="divider"></div>

      <div><%= link_to "post a job", new_user_job_path(@user) %></div>
      <div><%= link_to "post a partical need", new_user_practicalneed_path(@user) %></div>
      
    </div>
  </div>
</div>
<!-- info_right_content -->