<div class="pages_boarder"></div>
<div class="medium-12 columns content_receivechristpg_section">
  <div class="content_receivechristpg_inner_section">
    <div class="medium-12 columns receivechristpg_content">
      <div class="tree_line">
        <span><%= link_to "home", root_path %></span>
        <span><i class="fa fa-angle-right"></i></span>
        <span><%= link_to "grow", grow_path %></span>
        <span><i class="fa fa-angle-right"></i></span>
        <span class="current_page">Next Steps</span>
      </div>

      <div class="medium-12 columns page_main_content">
        <!-- info_left_content -->
        <div class="medium-8 columns info_left_content">
          <div class="page_information">
            <div class="page_header">congratulations!</div>
            <div class="page_img"><%= image_tag("img_default_mainimg.png") %></div>
            <div>

              <div class="paragraph_content">As a “new born” Christian, recognize it will take time to grow spiritually. You will make mistakes and it may be difficult at times to understand God’s plans for you. Don’t be discouraged. Christ cares for you greatly and will help you along the journey. You’re now part of a fellowship of believers and we’re here to help you on this journey. We have tons of resources and are excited to guide you along. Use this brief guide to get you started.</div>

              <div class="paragraph_content">Ask questions. Look for answers that make sense to you. Challenge us to help you on this journey.</div>

              <div class="paragraph_content">
                <b>What Next</b>
                <ul>
                  <li>Read your Bible! We have a <%= link_to "recommended reading plan here", recommeded_reading_plan_path, class: "weblink" %>.  If you need a Bible, just ask an usher when you are in church. We encourage you to get involved in a Bible study.</li>
                  <li>Get Baptized! Take the New <%= link_to "New Believers class / Baptism class", baptism_path, class: "weblink" %> to prepare you for baptism and publicly profess your new faith.</li>
                  <li>Get Connected!  Join a <%= link_to "Small Group", small_groups_path, class: "weblink" %> or <%= link_to "Bible Study [The Bible & You]", bible_and_you_path, class: "weblink" %>. </li>
                  <li>Find a place to <%= link_to "serve", serve_path, class: "weblink" %> Your learning, skills and gifts are useful to God.</li>
                  <li>We’re here to help you find your place.</li>
                  <li>Email: <span class="weblink"><%= mail_to "nextsteps@openheavens.org.uk" %></span></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <!-- info_left_content -->

        <!-- info_right_content -->
        <%= render 'shared/content_service_times' %>
        <!-- info_right_content -->
      </div>

    </div>
  </div>
</div>



