<!-- css file: content_memberteampg.css.scss -->
<div class="pages_boarder"></div>
<div class="medium-12 columns content_aboutuspg_section members_main_scetion">
  <div class="content_aboutuspg_inner_section members_inner_scetion">
    <div class="medium-12 columns aboutuspg_content">

      <div class="tree_line">
        <span><%= link_to "home", root_path %></span>
        <span><i class="fa fa-angle-right"></i></span>
        <span><%= link_to "about us", about_us_path %></span>
        <span><i class="fa fa-angle-right"></i></span>
        <span><%= link_to "our people", our_people_path %></span>
        <span><i class="fa fa-angle-right"></i></span>
        <span><%= link_to "pastoral team", pastoral_team_path %></span>
        <span><i class="fa fa-angle-right"></i></span>
        <span class="current_page">shaiye daniel</span>
      </div>

      <div class="medium-12 columns page_main_content">

        <!-- info_left_content -->
        <div class="medium-8 columns info_left_content">
          <!-- member -->
          <div class="member_detail_info">
            <div class="memeber_name">shaiye daniel</div>
            <div class="member_img_info">
              <div class="img_outter_cover">
                <div class="profile_image_cover"><%= cl_image_tag("https://res.cloudinary.com/openheavensuk/image/upload/v1542980646/pastoral%20team%20images/pastor_shaiye_-_parish_pastor.jpg", class: "img_featured_01") %></div>
                <div class="img_content">
                  <div class="img_inner_content">
                    <div class="member_title">pastor</div>
                    <div class="member_subtitle">shaiye daniel</div>
                  </div>
                </div>
              </div>
              <div class="profile_bckgrd_img"><%= image_tag("img_profile_bckgrd.jpg") %></div>
            </div>
            <div class="member_about">
              <p>Shaiye Daniel has attended Open Heavens since the year 2000 and has served in various roles including welcome team minister, Head of Men of Vision & Pastor (Administration). He was ordained an assistant pastor in 2006 and became a full Pastor in 2012. He is currently the  Parish Pastor and also serves on the Board of Trustees  of Open Heavens.</p>
              <p>Shaiye Daniel is involved in Management Consulting with over 25 years experience in Logistics management & contracting for global organisations. He holds degrees & certifications in Theology, Sciences, Project Management  & Business Administration (MBA).</p>
              <p>His responsibilities extend to the wider Open Heavens organisation where he also serves as Project Development Director & Chief Executive of the Broadfields Resource Centre which focuses on developing partnerships  & community impact.</p>
              <p>Pastor Shaiye is passionate about eradication of Poverty and the training & development of ministry leaders. His gifts include leadership, administration & pastoring. Shaiye and his wife, Helen, live in North London with their Children.</p>
            </div>
          </div>
          <!-- member -->
        </div>
        <!-- info_left_content -->

        <!-- info_right_content -->
        <%= render 'shared/content_service_times' %>
        <!-- info_right_content -->
      
      </div>
    </div>
  </div>
</div>