<div class="pages_boarder"></div>
<div class="medium-12 columns content_mediaandcomepg_section">
  <div class="content_mediaandcomepg_inner_section">
    <div class="medium-12 columns mediaandcomepg_content">
      <div class="tree_line">
        <span><%= link_to "home", root_path %></span>
        <span><i class="fa fa-angle-right"></i></span>
        <span><%= link_to "resources", resources_path %></span>
        <span><i class="fa fa-angle-right"></i></span>
        <span class="current_page">media & communications</span>
      </div>

      <div class="medium-12 columns page_main_content">
        <!-- info_left_content -->
        <div class="medium-8 columns info_left_content">
          <div class="page_information">
            <div class="page_header">multimedia portal</div>
            <div class="paragraph_content">
              <span>The Media and Communications unit develops and manages all technical aspects of the church’s worship, teaching and presentations. This involves:</span>
              <div>
                <ol>
                  <li>Reviewing and recommending the buying of relevant equipment.</li>
                  <li>Creating suitable media for worship (audio/video/DVD recordings, PowerPoint slides, etc)</li>
                  <li>Ensuring that all audio-visual equipment run smoothly and seamlessly.</li>
                  <li>Maintaining equipment, and arranging repairs and replacements.</li>
                  <li>Training and supporting technical personnel for the worship ministry and other units of the church.</li>
                </ol>
              </div>
            </div>
            <div class="divider"></div>
            <div class="paragraph_content listed_readings_links">
              <ul>
                <li class="file">
                  <span><i class="fa fa-film"></i></span>
                  <span class="file_text"><%= link_to "videos", "https://www.youtube.com/channel/UC04lsiRC0cEgW6I_VqGW77A/videos" %></span>
                </li>
                <li class="file hide">
                  <span><i class="fa fa-volume-up"></i></span>
                  <span class="file_text"><%= link_to "audio", "" %></span>
                </li>
                <li class="file">
                  <span><i class="fa fa-camera"></i></span>
                  <span class="file_text"><%= link_to "pictures", galleries_path %></span>
                </li>
                <li class="file">
                  <span><i class="fa fa-phone-square"></i></span>
                  <span class="file_text"><%= link_to "support", support_path %></span>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <!-- info_left_content -->

        <!-- info_right_content -->
        <%= render 'shared/content_service_times' %>
        <!-- info_right_content -->
      </div>

    </div>
  </div>
</div>