<div class="pages_boarder"></div>
<div class="medium-12 columns content_broadfieldresoucepg_section">
  <div class="content_broadfieldresoucepg_inner_section">
    <div class="medium-12 columns broadfieldresoucepg_content">
      <div class="tree_line">
        <span><%= link_to "home", root_path %></span>
        <span><i class="fa fa-angle-right"></i></span>
        <span><%= link_to "resources", resources_path %></span>
        <span><i class="fa fa-angle-right"></i></span>
        <span class="current_page">broadfields resouce centre</span>
      </div>

      <div class="medium-12 columns page_main_content">
        <!-- info_left_content -->
        <div class="medium-8 columns info_left_content">
          <div class="page_information">
            <div class="page_header">broadfields resouce centre (BRC)</div>
            <div class="page_img"><%= image_tag("img_default_mainimg.png") %></div>
            <div class="paragraph_content">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat <span class="weblink"><%= mail_to "info@openheavens.org.uk" %></span>. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </div>
            <div class="divider"></div>
            <h1>broadfieldresoucepg content goes here</h1>
            <div class="divider"></div>
            <div class="paragraph_content">
              <b>Tranforming lives, Restoring Communities</b><br/>
              <span>The Broadfields Resource Centre (BRC) is an arm of Open Heavens Christian centre dedicated to responding to specific social needs in our operating communities by bringing compassion & Justice to hurting & vulnerable people ( both young & old ) through focused interventions. </span>
              <ul>
                <li>Our aim is to extend the love of God to everyone regardless of religion, Race, nationality etc. </li>
                <li>We believe that for the followers of Jesus Christ nothing is secular and everything we do is spiritual. Therefore, we take the fundamental attributes of our faith out to our community and workplaces doing “all for the glory of God” <span class="weblink"><%= link_to "1 Cor 10:31", "https://www.biblegateway.com/passage/?search=1+Cor+10%3A31&version=NIV", target:"_blank" %></span></li>
                <li>Our high calling is to serve the Lord by serving the common good and further God’s kingdom which makes all we do spiritual activity. </li>
                <li>We will extend Hope and Grace to families around us focusing on Broadfields & Edgware communities first, our borough of barnet and extending to other areas.</li>
                <li>BRC aims to provide a safe platform for people who might be facing difficult challenges.</li>
              </ul>
            </div>

            <div class="paragraph_content">
              <b>WHAT WE STAND FOR:</b>
              <ul>
                <li>To represent The Lord Jesus Christ through Serving and Empowering the Poor & Needy without any discrimination whatsoever.</li>
                <li>Serving Human Need – by Living out & Communicating the Good News of the Gospel in Practical Multinational, Multidirectional, Non-denominational and (Open to all) diverse ways through Adaptation, Creativity & Flexibility.</li>
              </ul>
            </div>

            <div class="paragraph_content">
              <b>Purpose Statement</b><br/>
              <span>To enable and prepare our community and City to serve one another in their area of need and in times challenges like family disaster. To comfort the Poor and/or the hurting, give hope to the hopeless and to move people from relief to development with care and compassion.</span>
              <ul>
                <li>We will provide assistance & relief to people who are suffering from various challenges of life. The assistance might be to provide food & supplies, spiritual care, assistance in cleaning and tidying property, etc.</li>
                <li>We will care for those who are displaced from their homes for various reasons with the aim of providing emergency overnight accommodation where possible.</li>
                <li>Our Strategy is driven by our firm belief in the Christian scriptures: 
                  <span class="weblink"><%= link_to "Luke 4:17-19", "https://www.biblegateway.com/passage/?search=Luke+4%3A17-19&version=NIV", target:"_blank" %></span>,
                  <span class="weblink"><%= link_to "Matthew 28:18-20", "https://www.biblegateway.com/passage/?search=Matthew+28%3A18-20&version=NIV", target:"_blank" %></span>,
                  <span class="weblink"><%= link_to "Acts 4:32-35", "https://www.biblegateway.com/passage/?search=Acts+4%3A32-35&version=NIV", target:"_blank" %></span>,
                  <span class="weblink"><%= link_to "Acts 2:40-47", "https://www.biblegateway.com/passage/?search=Acts+2%3A40-47&version=NIV", target:"_blank" %></span>,
                  <span class="weblink"><%= link_to "Matthew 25:31-46", "https://www.biblegateway.com/passage/?search=Matthew+25%3A31-46&version=NIV", target:"_blank" %></span>,
                  <span class="weblink"><%= link_to "Revelation 2-3", "https://www.biblegateway.com/passage/?search=Revelation+2-3&version=NIV", target:"_blank" %></span> but services are fully open to all people from every religious persuasions.</li>
              </ul>
            </div>

            <div class="paragraph_content">
              <b>OUR BACKGROUND: </b><br/>
              <span>
                <b>Who we are: </b>
                <span>The Broadfields resource centre is a Charitable company (an arm of Open Heavens Christian Centre) partnering with our community wherever possible to see change in the lives of those in greatest economic need. Releasing people from poverty of any kind is at the core of our mandate.We believe poverty is caused by broken relationships with God & neighbour and that the restoration of those relationships is part of the outcomes of our work. However, we desire to see change that is economic, material, environmental and ultimately spiritual. We achieve our mission with commitment, compassion, a servant-hearted and Christ-centred approach, all of which are values that are at the heart of  Open Heavens Christian Centre. </span>
              </span><br/><br/>
              <span>
                <b>Our vision: </b>
                <span>To see people freed from poverty, living transformed lives and reaching their God-given potential.</span>
              </span><br/><br/>
              <span>
                <b>Our values: </b>
                <span>We aspire to be courageous, truthful, compassionate, servanthearted and Christ-centred</span>
              </span><br/><br/>
              <span>
                <b>Our mission: </b>
                <span>We bring the glad tidings of Jesus to the needy in our community and nation, responding to crisis and partnering with Organisations with similar values to bring restoration to those living in poverty.</span>
              </span>
            </div>

            <div class="paragraph_content">
              <b>SERVING THROUGH BROADFIELDS RESOURCE CENTRE.</b><br/>
              <span>We invite you to join us in our mission to care for those that need it most.</span><br/><br/>
              <span>
              <div><b>The Ways we act include:</b> </div>
              <ul>
                <li>
                  <b>1. We Pray / Counsel</b><br>
                  <span>We believe that Prayer is the most powerful tool that we use right now to help bring Peace and succour to those in need.</span>
                </li>
                <li>
                  <b></b>
                </li>
              </ul>
              </span>
            </div>



          </div>
        </div>
        <!-- info_left_content -->

        <!-- info_right_content -->
        <%= render 'shared/content_service_times' %>
        <!-- info_right_content -->
      </div>

    </div>
  </div>
</div>