<div class="pages_boarder"></div>
<div class="medium-12 columns content_receivechristpg_section">
  <div class="content_receivechristpg_inner_section">
    <div class="medium-12 columns receivechristpg_content">
      <div class="tree_line">
        <span><%= link_to "home", root_path %></span>
        <span><i class="fa fa-angle-right"></i></span>
        <span><%= link_to "grow", grow_path %></span>
        <span><i class="fa fa-angle-right"></i></span>
        <span class="current_page">Receive Christ</span>
      </div>

      <div class="medium-12 columns page_main_content">
        <!-- info_left_content -->
        <div class="medium-8 columns info_left_content">
          <div class="page_information">
            <div class="page_header">Receive Christ</div>
            <div class="page_img"><%= image_tag("img_bannerimg.jpg") %></div>
            <div>

              <div class="paragraph_content">How can a person accept Jesus, have their sins washed away, and enter a restored relationship with God?</div>

              <div class="paragraph_content">The Bible makes it clear that salvation through Jesus is a free gift; it is not earned by checking the boxes on some to-do list of good works. Salvation can be received only by faith in Jesus. This faith begins by praying and asking Jesus to be the one who forgives you and is the leader of your life. This step of faith means you are admitting you have sinned against God and that you are sorry for your sins.</div>

              <div class="paragraph_content">It means asking God to help you live a new and changed life that honors him. You don’t have to know a lot of fancy religious terms. Just tell God that you know you have sinned. Express your sorrow over your sin and ask for the forgiveness that comes through the price Jesus paid when he died on the cross.</div>

              <div class="paragraph_content">Then invite Jesus to enter your life and to lead you from this moment on, all the way into eternity. You can express this prayer in your own words, or you can use the following prayer:</div>

              <div class="paragraph_content quote">"Dear God, I am coming to you to express that I need you, that maybe I need you more than I have ever known. I want to admit my sins. I have thought things, said things, and done things that do not please you. [At this point, you might want to specify some of the sins you are sorry about.] I realize that my sins cause me to be under a death sentence. I have also come to know you sent Jesus, your only Son, to pay the price for my sins by dying in my place. Jesus, I thank you for paying the price for me. I need your forgiveness, and I want you to enter my life and become my leader from this moment on. Thank you for all you have done and all you will do in my life. Amen!"</div>

              <div class="paragraph_content">When you have said this prayer, you can be confident that you are now in a restored relationship with God and that all of your sins are forgiven. If we confess our sins, he is faithful and just and will forgive us our sins and purify us from all unrighteousness. — 1 John 1:9 As far as the east is from the west, so far has he removed our transgressions from us. — Psalm 103:12 If you confess with your mouth, “Jesus is Lord,” and believe in your heart that God raised him from the dead, you will be saved. — Romans 10:9</div>

              <div class="paragraph_content">
                <b>Next Steps</b>
                <ul>
                  <li>If you’re part of a Bible believing church, please make sure you let them know you just made this great step of faith.</li>
                  <li>If you’re looking for a church home, we hope you’ll join us here at Shoreline.  We have three services on Sunday at 10:00am, 12:00pm and Wednesday at 07:00pm. Click <%= link_to "here", "about_path", class: "weblink" %> for more info.</li>
                  <li>In either case, take a look at our recommended <%= link_to "Next Steps", "#", class: "weblink" %> to help you in these important first days as you learn about following Jesus Christ as your Lord and Savior.</li>
                </ul>
              </div>

          


            </div>
          </div>
        </div>
        <!-- info_left_content -->

        <!-- info_right_content -->
        <%= render 'shared/content_service_times' %>
        <!-- info_right_content -->
      </div>

    </div>
  </div>
</div>



