<div class="pages_boarder"></div>
<div class="medium-12 columns content_recreadingplan_section">
  <div class="content_recreadingplan_inner_section">
    <div class="medium-12 columns recreadingplan_content">
      <div class="tree_line">
        <span><%= link_to "grow", grow_path %></span>
        <span><i class="fa fa-angle-right"></i></span>
        <span><%= link_to "next steps", next_steps_path %></span>
        <span><i class="fa fa-angle-right"></i></span>
        <span class="current_page">recommended reading plan</span>
      </div>

      <div class="medium-12 columns page_main_content">
        <!-- info_left_content -->
        <div class="medium-8 columns info_left_content">
          <div class="page_information">
            <div class="page_header">recommended reading plan</div>
            <div class="page_img"><%= image_tag("img_bannerimg.jpg") %></div>
            <div class="paragraph_content listed_readings_links">
              <ul>
              <% @recommendedreadings.each do |recommendedreading| %>
                <li><%= recommendedreading.filename %></li>
                <li><%= recommendedreading.fileattachment %></li>
                <li><%= recommendedreading.notes %></li>
                <li>
                  <span><%= link_to 'Show', recommendedreading %></span>
                  <span></span>
                  <span><%= link_to 'Edit', edit_recommendedreading_path(recommendedreading) %></span>
                  <span></span>
                  <span><%= link_to 'Destroy', recommendedreading, method: :delete, data: { confirm: 'Are you sure?' } %></span>
                </li>
              <% end %>
              </ul>
              <div class="paragraph_content">In a bid to fulfil our charitable objectives, Open Heavens Christian Centre relies primarily on voluntary donations. In addition to our regular methods of giving, which includes Service (cash, cheques and card payments) and Postal Collections, Standing Orders, Direct Credits; Text Donations and Payroll Giving, donations can also be made to the charity online.</div>
            </div>
          </div>
        </div>
        <!-- info_left_content -->

        <!-- info_right_content -->
        <%= render 'shared/content_service_times' %>
        <!-- info_right_content -->
      </div>

    </div>
  </div>
</div>