<div class="pages_boarder"></div>
<div class="medium-12 columns content_ourchurchpg_section">
  <div class="content_ourchurchpg_inner_section">
    <div class="medium-12 columns ourchurchpg_content">
      <div class="tree_line">
        <span><%= link_to "home", root_path %></span>
        <span><i class="fa fa-angle-right"></i></span>
        <span><%= link_to "serve", serve_path %></span>
        <span><i class="fa fa-angle-right"></i></span>
        <span class="current_page">our church</span>
      </div>

      <div class="medium-12 columns page_main_content">
        <!-- info_left_content -->
        <div class="medium-8 columns info_left_content">
          <div class="page_information">
            <div class="page_header">our church</div>
            <div class="page_img"><%= image_tag("img_default_mainimg.png") %></div>
            <div class="paragraph_content">
              <b>Serving Opportunities at Open Heavens</b>
            </div>

            <div class="paragraph_content">
              <b>A FEW OF THE MANY AREAS OF OPPORTUNITY IN WHICH YOU CAN SERVE IN OUR CHURCH</b>
            </div>

            <div class="paragraph_content">
              <span>Below is a list of few areas that you serve.</span> 
              <span>
                <ul>
                  <li>
                    <b>Prayer Ministry</b>
                    <span>There are opportunities to serve through praying with guests after weekend services or participating in weekly intercessory/ministry network prayers or praying over requests that come through the church prayer box or website.</span>
                  </li>
                  <li>
                    <b>Children’s Ministry</b>
                    <span>(helping to create a loving, safe and clean environment for Open Heavens children, their parents and careers).</span>
                  </li>

                  <li>
                    <b>First Impression Ministry</b>
                    <span>(parking marshals, greeters, ushers). This is an opportunity to help deliver excellent guest experience while enhancing overall service ambience. Serve in the Open Heavens lobby area or main auditorium, welcoming and assisting in delivering an excellent ambience and experience to our visitors and members as we seek to glorify God through our weekly worship services. </span><br/><br/>
                    <span>This includes assisting with seating, collecting the offering, handing out service items, locating the right classes, etc. </span><br/><br/>
                    <span>It also includes OHCC grounds inspection and clearing to ensure health and safety. This may involve, in winter, salting the outdoor spaces to keep them safe and accessible, especially for children and the elderly.</span>
                  </li>

                  <li>
                    <b>Care Ministry</b>
                    <span>(member and community care, providing coffee and snacks for services and events). There are several opportunities at Open Heavens to help create a radically inclusive community where people are treated with love and care regardless of their ethnic, economic or legal status through the core values of dignity, hope and transformation.</span><br/><br/>
                    <span>From routine visits to members to supporting those going through various challenging life and career issues such as immigration.</span><br/><br/>
                    <span>The Open Heavens care volunteers live out the compassion and justice mission by sharing the hope and love of Christ while meeting basic needs and offering short- and long-term solutions that empower people towards a more stable future.</span>
                  </li>

                  <li>
                    <b>Admin and Financial Stewardship</b>
                    <span>Depending on skills and preferences, you may serve as a church office support volunteer providing assistance for various administrative and finance-related task. This might also mean serving in the counting team, a wonderful team of volunteers that helps count the offering during our weekend services. It may also extend to welcome and registration of attendance at services, training and meetings, offering general membership support and providing information to members during services.</span>
                  </li>

                  <li>
                    <b>Facilities Management and Logistics</b>
                    <span>(custodial champions, facilities care and various logistic and events support services).</span><br/><br/>
                    <span>The custodial support champions are responsible for the appearance, maintenance and security of the Open Heavens Christian Centre buildings and their contents, external equipment and facilities. We are always looking for help and input from those with experience in the building trade or other related fields.</span>
                  </li>

                  <li>
                    <b>Service Preparation and Special Events Logistics</b>
                    <span>•(help with coordinating services, special events and programmes). You can apply your organisational skills by participating in the planning and execution of high-quality services and events in our church that will help people worship and learn about God’s word in an excellent distraction-free environment. We always need your event and project management skills in order to make our weekend worship services and special events run excellently and to the glory of God through proper planning, support and execution of all the various elements.</span><br/><br/>
                    <span>Preparing various sections of our facilities (set up and tear down) ahead of services, so as to provide a welcoming and loving environment for fellowship to occur by organising spaces for various gatherings and users of facilities. This also involves caring for the facilities as good stewards of the resources that God has provided for our comfort.</span>
                  </li>

                  <li>
                    <b>Weddings and Marriage Support</b>
                    <span>Trained personnel can serve by providing pre-marital counselling to couples intending to get married at Open Heavens. Your event planning skills can also be applied in supporting various events from weddings to bereavement activities such as service of songs and burials.</span><br/><br/>
                    <span>Serve by working with the wedding coordinator to set up the auditorium before the ceremony starts, and help tidy and clean up afterwards.</span><br/><br/>
                    <span>Serve by meeting with couples to help them plan their wedding ceremony at Open Heavens and help coordinate rehearsals and the activities on the wedding day.</span>
                  </li>

                  <li>
                    <b>Sanctuary Cleaning and Decor</b>
                    <span>You can join a group of wonderful volunteers regularly helping to keep the interior of the facilities clean and sparkling, or prepare interior spaces for special events and services, e.g. Christmas, Easter, etc.</span>
                  </li>

                  <li>
                    <b>Technical Support</b>
                    <span>Serve with the team of volunteers who are responsible for vehicle care and equipment repair. Depending on availability and your flexibility, you can utilise your mechanical skills to help with church vehicle and equipment repairs, as well as preventative maintenance of both vehicles and all church facilities in general.</span>
                  </li>

                  <li>
                    <b>Teaching</b>
                    <span>(small groups, Sunday School, New Believers group).</span>
                  </li>

                  <li>
                    <b>Small Group Leader</b>
                    <span>(lead or help drive impactful small groups). There are opportunities to invest in people and grow the next generation by using your shepherding, teaching, leadership and pastoral gifts to create atmospheres of godly influence at any regular and suitable location outside the church building during your week.</span><br/><br/>
                    <span><i>Start an OH Small Group Anywhere</i> – Your organisational skills can be applied to coordinate friends to bring shared meals to home, office or campus small groups, or you may just want to open your home to provide a place for spiritual development for your neighbours, community the youth in our church or your community. You may also develop your leadership skills by serving (apprenticeship) under a small group leader in a mentorship relationship.</span>
                  </li>

                  <li>
                    <b>Pastoral Care </b>
                    <span>(counselling and lay counselling, hospital and prison visits, etc.).</span></span>
                    <span>At Open Heavens, we believe in the efficacy of Christian counselling which is bible-based and Christ-centred. Our volunteer counselling and response pastors serve in the church office to provide the next steps for callers looking for professional help related to emotional, spiritual and relational issues.</span><br/><br/>
                    <span>Professionals and non-professionals alike can volunteer their skills to offer free bible-based counselling in a confidential setting offering compassionate listening, encouragement and guidance on a biblical foundation to our members and the community we serve.</span></span><br/><br/>
                    <span>Our goal is to help to clarify problem areas in relationships and families, express/share feelings, resolve any conflicts observed, within healthy and most importantly godly boundaries, while referring those who may so desire to local approved sources of various additional support. Issues that necessitate the approach and professional level of other licensed counsellors may be referred to trusted resources in the church and Christian community. </span></span><br/><br/>
                    <span>Volunteer to be trained and to serve through short in-person hospital visits to the sick and prison / detention centre visitation to provide support for those whose freedom has been curtailed.</span>
                  </li>

                  <li>
                    <b>Media & Communications</b>
                    <span>(graphic design, photography skills, etc.) Use your photography skills to capture weekend services, Open Heavens events, and lifestyle photos while using graphic design skills to create branding and promotional items to serve all Open Heavens ministries.</span>
                  </li>

                  <li>
                    <b>Youth Ministry</b>
                    <span>(there are several opportunities to serve in the young adults ministry)</span> <span class="weblink"><%= link_to "For details please click here", youth_path %></span>
                    <span>Still thinking of where to serve? Please fill out this form with your interest areas, skills, etc. and a staff member or ministry leader will follow up with you. Maybe you already have inspired ideas that need support and encouragement to implement? Fill out the ministry idea form here and the relevant ministry leader will get in touch with you during the week. </span><br/><br/>
                    <span>Once you click and fill out the forms next to your preferred serving opportunity, the relevant ministry leaders will be in contact with you about volunteering. Thank you for being a part of our local church family and for deciding to lend your time, abilities and heart to the vision of Open Heavens.</span>
                  </li>
                </ul>
              </span>
            </div>
          </div>
        </div>
        <!-- info_left_content -->

        <!-- info_right_content -->
        <%= render 'shared/content_service_times' %>
        <!-- info_right_content -->
      </div>

    </div>
  </div>
</div>