<div class="pages_boarder"></div>
<div class="medium-12 columns content_broadfieldresoucepg_section">
  <div class="content_broadfieldresoucepg_inner_section">
    <div class="medium-12 columns broadfieldresoucepg_content">
      <div class="tree_line">
        <span><%= link_to "home", root_path %></span>
        <span><i class="fa fa-angle-right"></i></span>
        <span><%= link_to "resources", resources_path %></span>
        <span><i class="fa fa-angle-right"></i></span>
        <span class="current_page">broadfields resouce centre</span>
      </div>

      <div class="medium-12 columns page_main_content">
        <!-- info_left_content -->
        <div class="medium-8 columns info_left_content">
          <div class="page_information">
            <div class="page_header">broadfields resouce centre (BRC)</div>
            <div class="page_img"><%= image_tag("img_default_mainimg.png") %></div>
            <div class="paragraph_content">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat <span class="weblink"><%= mail_to "info@openheavens.org.uk" %></span>. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </div>
            <div class="divider"></div>
            <h1>broadfieldresoucepg content goes here</h1>
            <div class="divider"></div>
            <div class="paragraph_content">
              <b>Tranforming lives, Restoring Communities</b><br/>
              <span>The Broadfields Resource Centre (BRC) is an arm of Open Heavens Christian centre dedicated to responding to specific social needs in our operating communities by bringing compassion & Justice to hurting & vulnerable people ( both young & old ) through focused interventions. </span>
              <ul>
                <li>Our aim is to extend the love of God to everyone regardless of religion, Race, nationality etc. </li>
                <li>We believe that for the followers of Jesus Christ nothing is secular and everything we do is spiritual. Therefore, we take the fundamental attributes of our faith out to our community and workplaces doing “all for the glory of God” <span class="weblink"><%= link_to "1 Cor 10:31", "https://www.biblegateway.com/passage/?search=1+Cor+10%3A31&version=NIV", target:"_blank" %></span></li>
                <li>Our high calling is to serve the Lord by serving the common good and further God’s kingdom which makes all we do spiritual activity. </li>
                <li>We will extend Hope and Grace to families around us focusing on Broadfields & Edgware communities first, our borough of barnet and extending to other areas.</li>
                <li>BRC aims to provide a safe platform for people who might be facing difficult challenges.</li>
              </ul>
            </div>

            <div class="paragraph_content">
              <b>WHAT WE STAND FOR:</b>
              <ul>
                <li>To represent The Lord Jesus Christ through Serving and Empowering the Poor & Needy without any discrimination whatsoever.</li>
                <li>Serving Human Need – by Living out & Communicating the Good News of the Gospel in Practical Multinational, Multidirectional, Non-denominational and (Open to all) diverse ways through Adaptation, Creativity & Flexibility.</li>
              </ul>
            </div>

            <div class="paragraph_content">
              <b>Purpose Statement</b><br/>
              <span>To enable and prepare our community and City to serve one another in their area of need and in times challenges like family disaster. To comfort the Poor and/or the hurting, give hope to the hopeless and to move people from relief to development with care and compassion.</span>
              <ul>
                <li>We will provide assistance & relief to people who are suffering from various challenges of life. The assistance might be to provide food & supplies, spiritual care, assistance in cleaning and tidying property, etc.</li>
                <li>We will care for those who are displaced from their homes for various reasons with the aim of providing emergency overnight accommodation where possible.</li>
                <li>Our Strategy is driven by our firm belief in the Christian scriptures: 
                  <span class="weblink"><%= link_to "Luke 4:17-19", "https://www.biblegateway.com/passage/?search=Luke+4%3A17-19&version=NIV", target:"_blank" %></span>,
                  <span class="weblink"><%= link_to "Matthew 28:18-20", "https://www.biblegateway.com/passage/?search=Matthew+28%3A18-20&version=NIV", target:"_blank" %></span>,
                  <span class="weblink"><%= link_to "Acts 4:32-35", "https://www.biblegateway.com/passage/?search=Acts+4%3A32-35&version=NIV", target:"_blank" %></span>,
                  <span class="weblink"><%= link_to "Acts 2:40-47", "https://www.biblegateway.com/passage/?search=Acts+2%3A40-47&version=NIV", target:"_blank" %></span>,
                  <span class="weblink"><%= link_to "Matthew 25:31-46", "https://www.biblegateway.com/passage/?search=Matthew+25%3A31-46&version=NIV", target:"_blank" %></span>,
                  <span class="weblink"><%= link_to "Revelation 2-3", "https://www.biblegateway.com/passage/?search=Revelation+2-3&version=NIV", target:"_blank" %></span> but services are fully open to all people from every religious persuasions.</li>
              </ul>
            </div>

            <div class="paragraph_content">
              <b>OUR BACKGROUND: </b><br/>
              <span>
                <b>Who we are: </b>
                <span>The Broadfields resource centre is a Charitable company (an arm of Open Heavens Christian Centre) partnering with our community wherever possible to see change in the lives of those in greatest economic need. Releasing people from poverty of any kind is at the core of our mandate.We believe poverty is caused by broken relationships with God & neighbour and that the restoration of those relationships is part of the outcomes of our work. However, we desire to see change that is economic, material, environmental and ultimately spiritual. We achieve our mission with commitment, compassion, a servant-hearted and Christ-centred approach, all of which are values that are at the heart of  Open Heavens Christian Centre. </span>
              </span><br/><br/>
              <span>
                <b>Our vision: </b>
                <span>To see people freed from poverty, living transformed lives and reaching their God-given potential.</span>
              </span><br/><br/>
              <span>
                <b>Our values: </b>
                <span>We aspire to be courageous, truthful, compassionate, servanthearted and Christ-centred</span>
              </span><br/><br/>
              <span>
                <b>Our mission: </b>
                <span>We bring the glad tidings of Jesus to the needy in our community and nation, responding to crisis and partnering with Organisations with similar values to bring restoration to those living in poverty.</span>
              </span>
            </div>

            <div class="paragraph_content">
              <b>SERVING THROUGH BROADFIELDS RESOURCE CENTRE.</b><br/>
              <span>We invite you to join us in our mission to care for those that need it most.</span><br/><br/>
              <span>
                <div><b>The Ways we act include:</b> </div>
                <ul>
                  <li>
                    <b>1. We Pray / Counsel</b><br>
                    <span>We believe that Prayer is the most powerful tool that we use right now to help bring Peace and succour to those in need.</span>
                    <span>
                      <ul>
                        <li>Pray for God to bring good out of every experience in our community. </li>
                        <li>Pray for the safety and quick resolutions for those facing challenges such as been stranded or homeless and possibly needing medical attention.</li>
                        <li>Pray for those who have experienced losses both material or human, that they would be comforted by others with God's love.</li>
                        <li>Pray for families that have been devastated through various challenges and experiences of life.</li>
                      </ul>
                    </span>
                  </li>
                  <li>
                    <b>2. We Give</b><br>
                    <span>
                      <ul>
                        <li>Local – Through our foodbank and other outlets we give items such as food & clothing directly to support families in need. At special occasions such as Christmas & Easter we also </li>
                        <li>International - Your financial gift will go toward strengthening a network of churches throughout the affected areas of focus. These churches, along with Open Heavens Church volunteers, will begin the long process towards healing and giving hope to those in challenging circumstances.</li>
                      </ul>
                    </span>
                  </li>

                  <li>
                    <b>3. We Go</b><br>
                    <span>Go and work alongside partner organisations to serve families displaced and affected by poverty and natural disasters. Most organisations we serve with such as Christians against Poverty provide training for all aspects of our operations. For training times please email : <span class="weblink"><%= mail_to "brc@openheavens.org.uk" %></span></span><br/><br/>
                    <div><i>Let us not love with words or speech but with actions and in truth. <span class="weblink"><%= link_to "1 John 3:18", "https://www.biblegateway.com/passage/?search=1+John+3%3A18&version=NIV", target:"_blank" %></span> (NIV)</i></div>
                  </li>
                </ul>
              </span>
            </div>

            <div class="paragraph_content">
              <b>OTHER WAYS WE RESPOND:</b><br/>
              <span>Key Response Models:  One of the key response models is what we have called <span class="weblink"><%= mail_to "BRCWorkshops@openheavens.org.uk" %></span>. </span>
              <ul>
                <li><span class="weblink"><%= mail_to "BRCWorkshops@openheavens.org.uk" %></span> is a tool for organising seminars & workshops and providing resources (both at our Edgware facilities and online) aimed at helping individuals grow holistically in specific areas of their lives. </li>
                <li>
                  <b>Mentoring & Equipping</b>
                  <span> – BRC realises that people often times navigate difficult seasons in life and may require practical help & personal development in specific areas of life such as pursuing new skills, careers and becoming even more resourceful. </span>
                </li>
                <li>We aim to provide dedicated mentors and make insightful resources available to equip both young and old in our communities to help them thrive in life. </li>
                <li>
                  <b>Walking in the light </b>
                  <span>- Helping the sight loss community (link to ‘Torch’ and ’cbm‘ on website) in as many practical ways as possible to replace darkness with light ! </span>
                </li>
                <li>Mental Healing Point !(Christian response to Mental Health & awareness - an avenue to discuss struggles with depression & anxiety, mental health challenges in a very safe & confidential environment & receive support from professionals ) </li>
              </ul>
            </div>

            <div class="paragraph_content">
              <b>Seminars & Workshops: </b>
              <span>
                <ul>
                  <li>Youth & Careers (Help with restructuring winning CV & cover letter skills, Job search & finding, researching & recommending courses & certifications, guidance through the Journey ) </li>
                  <li>Stewarding your finances </li>
                  <li>Relationship & Interpersonal Skills </li>
                  <li>Discovering your gifts class </li>
                  <li>The Healing Power of Forgiveness (in relationships & marriage) </li>
                  <li>Stronger Marriages seminars (Building stronger marriages,  Impact of Money on marriages, Impact of addictions (idols) on  marriages, the power of healthy Sexual intimacy )</li>
                  <li>Outreach free coffee outlets </li>
                </ul>
              </span>
            </div>

            <div class="paragraph_content">
              <b>BROADFIELDS RESOURCE CENTRE – OUR CORE GUIDING SCRIPTURES</b><br/>
              <span>
                <ul>
                  <li>
                    <span class="weblink"><%= link_to "Luke 4:14-19", "link", target:"_blank" %></span>,
                    <span class="weblink"><%= link_to "Matthew 28:18-20", "link", target:"_blank" %></span>,
                    <span class="weblink"><%= link_to "Acts 4:32-35", "link", target:"_blank" %></span>,
                    <span class="weblink"><%= link_to "Acts 2:40-47", "link", target:"_blank" %></span>,
                    <span class="weblink"><%= link_to "Matthew 25:31-46", "link", target:"_blank" %></span>,
                    <span class="weblink"><%= link_to "Revelation 2-3", "link", target:"_blank" %></span>,
                    <span class="weblink"><%= link_to "1 Cor 10:31", "link", target:"_blank" %></span>,
                    <span class="weblink"><%= link_to "Col 3:23-24", "link", target:"_blank" %></span>
                  </li>
                  <li>
                    <span class="weblink"><%= link_to "Luke 4:17-19", "link", target:"_blank" %></span>
                    <ul>
                      <li>The Power of the Spirit to launch/guide us in Ministry </li>
                      <li>The Spirit defines the ministry of the church</li>
                      <li>Our Strategy must align with the ongoing essence of the good news of the Gospel of the kingdom of God as defined by the ministry of Jesus.</li>
                      <li>
                        <span>- Our strategy must serve Human needs, bringing good tidings to the poor, Preaching & bringing the glad tidings of the Kingdom & Healing the sick 
                          (<span class="weblink"><%= link_to "Luke 8:1", "link", target:"_blank" %></span>,
                          <span class="weblink"><%= link_to "Luke 9:1-2", "link", target:"_blank" %></span>,
                          <span class="weblink"><%= link_to "Acts 1:1-2", "link", target:"_blank" %></span>,
                          <span class="weblink"><%= link_to "Acts 8:4-12", "link", target:"_blank" %></span>)
                        </span>
                      </li>
                      <li>To do and Teach the Kingdom of God</li>
                      <li>Serving and empowering the poor must be at the core of our strategy</li>
                    </ul>
                  </li>
                  <li>
                    <span class="weblink"><%= link_to "Mathew 28:18-20", "link", target:"_blank" %></span>
                    <span>
                      <ul>
                        <li>The assignment of disciples (followers of Jesus) is to go to the people of all nations and teach them how to know Jesus and live for Him.</li>
                      </ul>
                    </span>
                  </li>
                  <li>
                    <span class="weblink"><%= link_to "Acts 2:40-47", "link", target:"_blank" %></span>
                    <span>
                      <ul>
                        <li>- Four Fundamental devotions of the church - Ministry of The Word, Fellowship (in unity of the Spirit), breaking of Bread & Prayers</li>
                        <li>- Spiritual unity brought about Sharing together, Giving & Caring for others/one another. Spirit filled Praise, Worship & Evangelism.</li>
                      </ul>
                    </span>
                  </li>
                  <li>
                    <span class="weblink"><%= link_to "Acts 4:32-35", "link", target:"_blank" %></span>
                    <span>
                      <ul>
                        <li>Profound dimension of Spiritual unity </li>
                      </ul>
                    </span>
                  </li>
                </ul>
              </span>
            </div> <br/>
            <div class="paragraph_content">
              <div>“Changing lives – Impacting Nations”</div><br/>
              <div>BRC Projects are Open to all families/ individuals and young people in Broad fields and neighbouring areas</div>
            </div>

            <div class="paragraph_content">
              <b>Brief History and Outline of present work</b><br/>
              <span>The Broadfield Resource Centre (BRC) idea began with the initiation of local meetings with key agencies and service user organisations in 2011 to identify and prioritise community needs, develop strong working partnerships and good inter agency communication.</span>
            </div>

            <div class="paragraph_content">
              The Broadfields Resource centre is a brainchild of Open Heavens Church which moved to Broad fields in 2008 and has established a strong presence in the neighbourhood maintaining a priority commitment to community support. The Church has become increasingly aware of growing community support needs, hence the idea of starting a separate charitable company the Broad fields Resource Centre to provide a visible community base from which to offer voluntary community services. Information on support needs has come from the Profile of Children and young people in Barnet (Nov 2010); directly from local people already in touch with the Church and Centre; from liaison with a range of local statutory, voluntary and service user organisations. This is also supported by several publicly available stats of Barnet and other neighbouring boroughs. 
            </div>

            <div class="paragraph_content">The original aim of the Resource Centre is to help families and young people improve the quality of their lives through opportunities for family/individual growth and mutual support. The Broadfields Community Resource Centre is well located for the neighbourhood and geographically accessible. It presently provides a small counselling service and children’s nursery and young adults development initiatives in partnership with the church, Open Heavens Christian Centre and Blueskies nursery. </div>

            <div class="paragraph_content">
              Without any external funding support presently, The Centre’s accommodation was significantly improved with a £450,000 project funded from church donations, enabling potential further service development. The BRC services are currently publicised with other organisations e.g. local schools, information leaflets at key venues e.g. libraries; presentations at local events (e.g the Edgware Summer Festival); members of the Church congregation and other local churches. Self-referrals and referrals from other agencies are accepted.
            </div>

            <div class="paragraph_content">
              <b>Operational update:</b><br/>
              <span>The Broad fields Resource Centre has been established and registered as a charity, many committed volunteers have been recruited with strong qualifications and skills for working with families and young people through a vigorous leadership development process in partnership with the Church.</span>
            </div>

            <div class="paragraph_content">A small counselling and youth/young adult development programme have been established; a Day nursery opened within the facility in partnership with Blueskies. Initial procedures and systems have been put in place to support the various programme and projects development e.g. up to date safeguarding and CRB checking processes On-going Plans for continuous improvement of the accommodation and Centre facilities</div>

            <div class="paragraph_content">
              <b>BRC Plans:</b>
              <span>
                <ul>
                  <li>Recruit Project Development Director </li>
                  <li>Recruit a part time Project Development officer. The Project Worker will work with the Committee, partner organisations, service users and current volunteers to move forward the Centres capacity and development opportunities.</li>
                  <li>Beneficiaries of our services include the local community; family, individuals and young people; other organisations. The community will benefit through increased family and individual resilience gained from the support offered by the Centre, helping them face and deal with adverse and stressful life situations. Through families and individuals gaining knowledge and skills to overcome problems, increasing self-confidence, they are more able to form strong relationships, needless support and can contribute positively within family and neighbourhood settings.</li>
                  <li>Families and individuals will gain from the direct service support not only to overcome current problems and improved relationships, but to develop coping strategies and self belief to manage any new problems.</li>
                  <li>Other agencies will benefit by being able to refer people to the Centre for support, complementing their own approach.</li>
                  <li>The Counselling Service and Pilot Courses will particularly focus on working with families and young people facing identifiable emotional, relationship or economic/practical problems in their lives. The emotional problems could include depression, stress or anxiety; relationship problems within the family or community; economic problems caused by unemployment, debt or homelessness</li>
                  <li>Access to the counselling service and pilot courses will be through individual needs assessment and a commitment by the participant to work on their problems.</li>
                  <li>The Youth Project will benefit all young people who join and also their families. The service will be of particular value to young people who lack confidence, or have become isolated, by providing stimulating non-threatening learning and friendship forming opportunities.</li>
                  <li>Access to the Youth project is open to all young people from the neighbourhood between the ages of ………….</li>
                  <li>Volunteers will gain from the project through training and personal development opportunities, gain knowledge and skills and a feeling of achievement from contributing to helping others. People who use the support services will be encouraged to become volunteers as they become more secure and it will also provide a valuable experience in job preparation.</li>
                </ul>
              </span>
            </div>

            <div class="paragraph_content">
              <b>Location of services:</b><br/>
              <span>The counselling and youth service will be ongoing through the year; the 3 pilot courses will commence in January 2019; volunteer recruitment and possible funding applications will be considered later for stability & sustainability.</span>
              <span>
                <ul>
                  <li>To enhance/facilitate the key strategic outcomes for Barnet.</li>
                  <li>A successful London Suburb - Strong safe communities for every one</li>
                  <li>Investing in Children, Young people and their families - healthy and independent living</li>
                </ul>
              </span>
            </div>

            <div class="paragraph_content">Open heavens Church and the Broad fields Resource Centre volunteers have become increasingly aware of the significant needs of families and young people in the area through direct contact with some of the people struggling to cope and reports on need from congregation and visitors to the Church and Centre. It has become evident that the current economic climate is placing pressure on families and young people with unemployment, job insecurity and a range of financial pressures. The stresses are showing themselves in presenting relationship and emotional concerns – feelings of isolation, anxiety states, depression, low self-esteem and a lack of confidence to confront their problems. Feedback surveys from young people indicate a lack of encouraging and engaging opportunities in the area to stimulate interest, gain support and meet other young people.</div>

            <div class="paragraph_content">In recent months the BRC team have developed significant partnerships with organisations such as Christians against Poverty, The Tearfund, Cinnamon network and also received significant advice and support from CommUNITY Barnet and representatives of local statutory service, checking and confirming perceptions of need in the area and lack of service provision; research has been undertaken into national needs trends and responses and the information provided by Barnet Council, particularly the Profile of Children and Young People in Barnet has informed our approach to meeting needs. Meetings have taken place and visits have been made to a range of other local voluntary and statutory agencies to explore needs in the area and opportunities for joint working. </div>

            <div class="paragraph_content">The objective of the Broad fields Resource Centre project is to help improve the well being of residents in the area by strengthening resilience and building up what has been termed “social capital.” Resilience is seen as the capacity to recover from adverse and stressful events and regain good well being and positive social status. Having dealt with the distressing or adverse situation once, knowledge, skills and confidence are built up to help that person, family or community resist down turns on following occasions. The projects will strengthen resilience skills at individual, family and community level by providing participatory activities, learning opportunities with low barriers for receiving help.</div>

            <div class="paragraph_content">Empirical evidence (Putnam 2000) and local feedback demonstrates that strong social capital significantly impacts on crime reduction, educational achievement and even life expectancy. Strong social capital is founded on connections of friendship, neighbourhoods and trust which the Broadfield Resource Centre will aim to build with its partners and people who use the services. It will especially benefit people living isolated lives, perhaps due to their emotional state. Research also high lights that social capital relies on physical reality and those purely virtual links (such as the internet) alone are too “thin” to build up trust and introduce good coping mechanisms. The Centre will provide a visible and secure base from which to provide enabling services and reach out to the community.</div>

            <div class="paragraph_content">National research (Putnam 2000) stresses that improved social capital has a beneficial impact on the quality of life for members of the community not directly involved in such projects. They benefit from the increased security/changed behaviours of those directly engaged and that resilience skills last beyond the time and resources invested in learning and support. In this way, the project will continue to have substantial impact beyond the individual period of direct contact. (Carver 1998; Bayliss 2003)</div>

            <div class="paragraph_content">The funding of a part time Project Development post and two Pilot courses will provide impetus and experience for this new Resource Centre project. The project aims fit well with the criteria identified in the Funding Information P5 6.1 and will focus on individuals and families with identifiable emotional, relationship and practical living needs and on the broad developmental and recreational needs of young people living in the area by: Counselling project – recruit and support an additional 4 volunteer Counsellors to secure and extend the newly created service; in 2012/13 to work with a minimum of 25 people (families, couples, individuals)</div>

            <div class="paragraph_content">Outcomes – identify key problems and triggers; develop coping strategies; change inappropriate/unhelpful attitudes and behaviour; strengthen interpersonal relationship; create greater self confidence and personal security; enable children and young people over come struggles within the family setting; more able to participate positively in other life areas e.g. work, school</div>

            <div class="paragraph_content">
              <b>Measurement of success:</b><br/>
              <span>Pilot Group projects with volunteer support – 2 courses each with a membership 0f 10 people (20) people one for adults “Manage your mood” and the other for young people “Elevate” ages 16 – *** please see attached Schemes of work Participants would have identifiable issues such as low self esteem, anxiety, relationship concerns; isolation. </span>
            </div>

            <div class="paragraph_content">Outcomes – increased personal resilience; increased awareness and knowledge on personal health/ well being; gain new life skills; improved self confidence; increased knowledge of helping / support services; some personal life planning/ future learning needs; develop peer group support and improved social networks.</div>

            <div class="paragraph_content">
              <span>Youth Project (Israel/Wale/Uche to supply information)</span><br/>
              <span>To help further develop the project for young people by recruiting? new volunteers the project will aim to work with **** young people.</span>
            </div>

            <div class="paragraph_content">
              <span>Outcomes – increased relationship awareness through participating in activities with young people from different back grounds; new and wider friendship network; gain knowledge on health and wellbeing issues; increased skills and knowledge base through taking part in new activities and learning opportunities; increased self-confidence and self-awareness through taking on new responsibilities in the groups; knowledge of community services e.g. neighbourhood police through service presentation and discussion; </span>
              <span>
                <ul>
                  <li>Request Course work schedule and other relevant information from CAP. </li>
                </ul>
              </span>
            </div>

            <div class="paragraph_content">
              <b>Serving in BRC</b>
              <span>
                <ul>
                  <li>BRC Project Management & Support role:</li>
                </ul>
              </span>
            </div>

            <div class="paragraph_content">
              <b>OHCC/BRC – Organic Outreach – Community Impact Projects</b><br/>
              <span>
                <ul>
                  <li>Project 1 - Breakfast / Lunch Club (Partners - Broadfield Schools/Cinnamon)</li>
                  <li>Project 2 – Edgware Job Club (Partners – Christians Against Poverty – CAP)</li>
                  <li>Project 3 – Edgware Financial Impact Workshop - Money course (Partner – CAP)</li>
                  <li>Project 4 – Edgware Life Skills Club (Partner – CAP)</li>
                  <li>Project 5 – Edgware/Broad-fields Music Club (Partner – BishopSaxz Music School)</li>
                  <li>Edgware Food Bank</li>
                  <li>Edgware Youth Development Project</li>
                  <li>Raise Project initiation forms / PIDs for all Projects</li>
                  <li>Draw Project Plans (Short/Medium/Long term with clear management stages)</li>
                  <li>Regular workshops and weekly project reviews to measure project status and compliance.</li>
                  <li>Continuous tasks and project plan update.</li>
                  <li>Building requirements documentation as well as mapping out As-is and To-be processes.</li>
                  <li>Maintain and distribute budget tracker reporting on any variance.</li>
                  <li>Define and implement rollout schedule.</li>
                  <li>Manage and improve Project Management Governance model including project gate reviews for project delivery and facilitate sharing of resources, tools and techniques.</li>
                  <li>Administer Change control process, logging new requests, updating status and providing updates.</li>
                  <li>Drive and maintain a lesson learned repository and identify key areas of improvement.</li>
                  <li>Assist with requirements gathering and testing process ensuring the final product meets defined criteria.</li>
                  <li>Manage transition process including UAT & training to ensure changes are fully integrated before go-live.</li>
                  <li>Conduct post implementation project reviews and produce end of project reports.</li>
                </ul>
              </span>
            </div>

            <div class="paragraph_content">The Broadfields resource centre is open to serve all mankind without any form of discrimination.</div>

            <div class="paragraph_content">However, we expect that all those who aim to serve with or along with us agree with our statement of faith.</div><br/><br/>

            <div class="paragraph_content">
              <b>BROADFIELDS RESOURCE CENTRE - STATEMENT OF FAITH</b><br/>
              <span>Please could you read and sign the following statement, bringing this document with you to your interview.</span>
            </div>

            <div class="paragraph_content">The Broadfields Resource centre  is an outreach arm of an evangelical Christian organisation called to reflect the biblical unity of faith and life, of history and eternity, and of the proclamation and practical demonstration of the good news of the gospel to our community.</div>

            <div class="paragraph_content">1. As followers of the Lord Jesus Christ we bear witness to the one living God, revealed through the Bible as the Father, the Son and the Holy Spirit. God’s plan for the universe is to bring about, through Jesus Christ, a transformed creation wholly governed by God, from which all evil and suffering will be banished and in which God will live with redeemed humanity for ever. The presence and hope of the kingdom of God shape and motivate our mission through evangelism, compassionate service, active pursuit of justice and peace, and care for creation.</div>

            <div class="paragraph_content">
              <span>2. We work in alignment with the following truths of the Christian faith as the pillars of our world-view, the motivation for our mission and the foundation of our commitment to serve our community and nations:</span><br/><br/>
              <span>
                <ul>
                  <li>
                    <b>The Bible as the Word of God</b><br/>
                    <span>We believe that The Bible tells the universal story of creation, fall, redemption and new creation, and thereby shapes our worldview. We receive it as the word of God spoken through human authors and believe it to be true and trustworthy in all it affirms. We depend upon it as the revelation of God’s identity, character, purposes and actions and submit to it as supremely and uniquely authoritative for our belief and behaviour.</span>
                  </li>
                  <li>
                    <b>God as Creator</b><br/>
                    <span>The universe is the good creation of the one living God and reveals God’s existence, power and glory. Human beings are created in the image of God, male and female, in order to love, worship and obey God, to relate to one another in love, justice and compassion, and to care for creation.</span>
                  </li>
                  <li>
                    <b>Human Sin</b><br/>
                    <span>Humans have sinned by rebelling against God, rejecting God’s authority and disobeying God’s word and so are alienated from God, one another and the created order. Sin deserves God’s judgement and leads to eternal separation from God. The effects of sin and the power of evil have permeated the fabric of cultural, economic, social, political and religious life, causing poverty and damaging creation.</span>
                  </li>

                  <li>
                    <b>Human worth</b><br/>
                    <span>Though distorted by sin, the image of God remains the basis of the uniqueness, dignity, sanctity and equality of all persons without distinction. God loves and cares for all people in their cultural and ethnic diversity and has reached out in grace to save them through Jesus Christ.</span>
                  </li>

                  <li>
                    <b>Jesus Christ as Lord and Saviour</b><br/>
                    <span>Jesus of Nazareth is the Son of God, the Messiah uniquely appointed by God to bring about the blessing of salvation to the world. God took our human nature in Jesus Christ, who taught and modeled the new life of the kingdom of God to which he calls his disciples. In his death on the cross he took upon himself the sin of the world, bearing its full cost and penalty so that we are put right with God through his grace by faith in Christ alone. On the cross Jesus also entered into our suffering, defeated the powers of evil and accomplished the reconciliation of all creation. In this bodily resurrection he defeated death and became the forerunner of redeemed humanity. Through his ascension he is exalted as reigning Lord, and at his return he will execute God’s judgement, destroy Satan, evil and death, and establish the universal reign of God.</span>
                  </li>

                  <li>
                    <b>God the Holy Spirit</b><br/>
                    <span>The Bible testifies to the Holy Spirit’s activity both in creation and history, empowering action for liberation and justice. The Holy Spirit convicts of sin and judgement, leads to faith and repentance and unites believers to Christ, making real in them what Jesus has accomplished. Through Christ, God’s Spirit is poured out on all believers enabling them to live in unity and to bear the fruit of holiness, Christ-likeness and practical obedience. The Spirit gives gifts and power to proclaim and demonstrate the gospel, discern truth, pray effectively and prevail over the forces of darkness.</span>
                  </li>

                  <li>
                    <b>The church and God’s mission.</b><br/>
                    <span>The church stands in continuity with God’s people in the Old Testament, called through Abraham to be a light to the nations, shaped and taught through the law and the prophets to be a community of holiness, compassion and justice, and redeemed through the cross and resurrection of Jesus Christ. The church exists to worship and glorify God for all eternity and is commissioned by Christ and empowered by the Holy Spirit to participate in the transforming mission of God within history.</span>
                  </li>
                </ul>
              </span>
            </div>

            <div class="paragraph_content">
              <span>3. God commands us to love him with all our heart and soul and strength and to love our neighbours as ourselves. Therefore we commit ourselves through the transforming power of the Holy Spirit and in joyful obedience:</span><br/><br/>
              <span>
                <ul>
                  <li>to live as the community of reconciled sinners in unity, humility and sacrificial Christian love.</li>
                  <li>To make known to our community and all nations the gospel of God’s grace through his forgiveness in Christ, calling people to faith, repentance and discipleship.</li>
                  <li>To demonstrate the values and the power of the kingdom of God, participating through suffering in Christ’s triumph over evil.</li>
                  <li>To serve the needy with compassion, pursue justice and peace, and care for God’s creation</li>
                </ul>
              </span>
            </div>

            <div class="paragraph_content">I confirm that I am fully able to accept the Basis of Faith.</div>

            <div class="paragraph_content">Signed: ………………………………… Date: …………………………</div>
          </div>
        </div>
        <!-- info_left_content -->

        <!-- info_right_content -->
        <%= render 'shared/content_service_times' %>
        <!-- info_right_content -->
      </div>

    </div>
  </div>
</div>