<div class="pages_boarder"></div>
<div class="medium-12 columns content_smallgroupspg_section">
  <div class="content_smallgroupspg_inner_section">
    <div class="medium-12 columns smallgroupspg_content">
      <div class="tree_line">
        <span><%= link_to "home", root_path %></span>
        <span><i class="fa fa-angle-right"></i></span>
        <span><%= link_to "grow", grow_path %></span>
        <span><i class="fa fa-angle-right"></i></span>
        <span class="current_page">small groups</span>
      </div>

      <div class="medium-12 columns page_main_content">
        <!-- info_left_content -->
        <div class="medium-8 columns info_left_content">
          <div class="page_information">
            <div class="page_header">small groups</div>
            <div class="paragraph_content">This is a group consisting of 3 to 12 people who typically gather together in non-church locations such as homes, coffee shops, businesses, or any location that is convenient for the attendees. They meet morning, noon or night, any day of the week to study the Bible or a variety of topics from a biblical perspective, pray, grow in fellowship, have fun and use these smaller communities to reach out non believers and serve their community. For more information email <span class="weblink"><%= mail_to "info@openheavens.org.uk" %></span> or view below to find a Small Group near you.</div>
            <div class="calendar_section">

              <% if @smallgroups.present? %>
                <!-- listed groups -->
                <div class="page_content">
                  <div class="page_inner_content">
                    <ul>
                      <% @smallgroups.order('created_at DESC').each do |group| %>
                        <li>
                          <div>
                            <span class="page_img_section">
                              <div class="page_img_outter">
                                <div class="page_img"><%= link_to (image_tag("img_default_smallgroup.png")), smallgroup_path(group) %></div>
                              </div>
                            </span>
                            <span class="page_info_section">
                              <%= link_to smallgroup_path(group) do %>
                                <div class="page_title"><%= truncate("#{group.name}", length: 45) %></div>
                                <div class="page_minor_info page_time">
                                  <span><b>created:</b></span>
                                  <span><%= group.created_at.strftime("%b %d %Y") %></span>  
                                  <span class="listpage_divider">|</span>
                                  <span><i class="fa fa-users"></i> <span><%= group.attendances.count %> members</span></span>
                                </div>
                                <div class="page_minor_info page_time">
                                  <span><b>address:</b></span>
                                  <span><%= group.address %></span>
                                  <span>
                                    <% if group.postcode.present? %>
                                      <%= group.postcode %>
                                    <% end %>
                                  </span>
                                </div>
                                <div class="page_minor_info page_description"><%= truncate("#{group.descriptin}", length: 150) %></div>
                              <% end %>
                            </span>
                          </div>
                        </li>
                        <div class="clear"></div>
                      <% end %>
                    </ul>
                  </div>
                </div>
                <!-- listed groups -->
              <% else %>
                <!-- no_listed_info -->
                <div><%= render "shared/no_listed_content" %></div>
                <!-- no_listed_info -->
              <% end %>
            </div>
          </div>
        </div>
        <!-- info_left_content -->

        <!-- info_right_content -->
        <%= render 'shared/content_service_times' %>
        <!-- info_right_content -->
      </div>

    </div>
  </div>
</div>


