<!-- css file: content_memberteampg.css.scss -->
<div class="pages_boarder"></div>
<div class="medium-12 columns content_aboutuspg_section members_main_scetion">
  <div class="content_aboutuspg_inner_section members_inner_scetion">
    <div class="medium-12 columns aboutuspg_content">
      <div class="tree_line">
        <span><%= link_to "home", root_path %></span>
        <span><i class="fa fa-angle-right"></i></span>
        <span><%= link_to "about us", about_us_path %></span>
        <span><i class="fa fa-angle-right"></i></span>
        <span><%= link_to "our people", our_people_path %></span>
        <span><i class="fa fa-angle-right"></i></span>
        <span class="current_page">pastoral team</span>
      </div>

      <div class="medium-12 columns page_main_content">
        <!-- info_left_content -->
        <div class="medium-8 columns info_left_content">
          <div class="page_information">
            <div class="page_header">pastoral team</div>
            <div class="paragraph_content">Meet the Open Heaven's Pastoral Team</div>
            <div class="team_members">
              <ul>

                <li>
                  <%= link_to daniel_akhazema_path do %>
                    <div class="teammember_img_info">
                      <div class="img_outter_cover">
                        <div class="image_cover"><%= cl_image_tag("https://res.cloudinary.com/openheavensuk/image/upload/v1543761450/pastoral%20team%20images/pst-daniel.png") %></div>
                        <div class="img_content">
                          <div class="img_inner_content">
                            <div class="member_title">pastor</div>
                            <div class="member_subtitle">daniel akhazema</div>
                          </div>
                        </div>
                      </div>
                      <div class="profile_bckgrd_img"><%= image_tag("img_profile_bckgrd.jpg") %></div>
                    </div>
                    <div class="clear"></div>
                  <% end %>
                </li>

                <li>
                  <%= link_to eunice_akhazema_path do %>
                    <div class="teammember_img_info">
                      <div class="img_outter_cover">
                        <div class="image_cover"><%= cl_image_tag("https://res.cloudinary.com/openheavensuk/image/upload/v1543762601/pastoral%20team%20images/Pst_Eunice.png", class: "img_featured_01") %></div>
                        <div class="img_content">
                          <div class="img_inner_content">
                            <div class="member_title">pastor</div>
                            <div class="member_subtitle">Eunice akhazema</div>
                          </div>
                        </div>
                      </div>
                      <div class="profile_bckgrd_img"><%= image_tag("img_profile_bckgrd.jpg") %></div>
                    </div>
                    <div class="clear"></div>
                  <% end %>
                </li>

                <li>
                  <%= link_to shaiye_daniel_path do %>
                    <div class="teammember_img_info">
                      <div class="img_outter_cover">
                        <div class="image_cover"><%= cl_image_tag("https://res.cloudinary.com/openheavensuk/image/upload/v1542980646/pastoral%20team%20images/pastor_shaiye_-_parish_pastor.jpg", class: "img_featured_01") %></div>
                        <div class="img_content">
                          <div class="img_inner_content">
                            <div class="member_title">pastor</div>
                            <div class="member_subtitle">shaiye daniel</div>
                          </div>
                        </div>
                      </div>
                      <div class="profile_bckgrd_img"><%= image_tag("img_profile_bckgrd.jpg") %></div>
                    </div>
                    <div class="clear"></div>
                  <% end %>
                </li>

                <li>
                  <%= link_to helen_daniel_path do %>
                    <div class="teammember_img_info">
                      <div class="img_outter_cover">
                        <div class="image_cover"><%= image_tag("img-profile-image-default.png", class: "img_featured_01") %></div>
                        <div class="img_content">
                          <div class="img_inner_content">
                            <div class="member_title">pastor</div>
                            <div class="member_subtitle">helen daniel</div>
                          </div>
                        </div>
                      </div>
                      <div class="profile_bckgrd_img"><%= image_tag("img_profile_bckgrd.jpg") %></div>
                    </div>
                    <div class="clear"></div>
                  <% end %>
                </li>

                <li>
                  <%= link_to funke_olusanye_path do %>
                    <div class="teammember_img_info">
                      <div class="img_outter_cover">
                        <div class="image_cover"><%= image_tag("img-profile-image-default.png", class: "img_featured_01") %></div>
                        <div class="img_content">
                          <div class="img_inner_content">
                            <div class="member_title">pastor</div>
                            <div class="member_subtitle">funke olusanye</div>
                          </div>
                        </div>
                      </div>
                      <div class="profile_bckgrd_img"><%= image_tag("img_profile_bckgrd.jpg") %></div>
                    </div>
                    <div class="clear"></div>
                  <% end %>
                </li>

                <li>
                  <%= link_to uche_olayinka_path do %>
                    <div class="teammember_img_info">
                      <div class="img_outter_cover">
                        <div class="image_cover"><%= image_tag("img-profile-image-default.png", class: "img_featured_01") %></div>
                        <div class="img_content">
                          <div class="img_inner_content">
                            <div class="member_title">pastor</div>
                            <div class="member_subtitle">uche olayinka</div>
                          </div>
                        </div>
                      </div>
                      <div class="profile_bckgrd_img"><%= image_tag("img_profile_bckgrd.jpg") %></div>
                    </div>
                    <div class="clear"></div>
                  <% end %>
                </li>

                <li>
                  <%= link_to wale_kuye_path do %>
                    <div class="teammember_img_info">
                      <div class="img_outter_cover">
                        <div class="image_cover"><%= image_tag("img-profile-image-default.png", class: "img_featured_01") %></div>
                        <div class="img_content">
                          <div class="img_inner_content">
                            <div class="member_title">deacon</div>
                            <div class="member_subtitle">wale kuye</div>
                          </div>
                        </div>
                      </div>
                      <div class="profile_bckgrd_img"><%= image_tag("img_profile_bckgrd.jpg") %></div>
                    </div>
                    <div class="clear"></div>
                  <% end %>
                </li>
              </ul>
            </div>

          </div>
        </div>
        <!-- info_left_content -->

        <!-- info_right_content -->
        <%= render 'shared/content_service_times' %>
        <!-- info_right_content -->
      </div>

    </div>
  </div>
</div>