<div class="pages_boarder"></div>
<div class="medium-12 columns content_contactlistpg_section">
  <div class="content_contactlistpg_inner_section">
    <div class="medium-12 columns contactlistpg_content">
      <div class="tree_line">
        <span><%= link_to "home", root_path %></span>
        <span><i class="fa fa-angle-right"></i></span>
        <span><%= link_to "contact", contact_path %></span>
        <span><i class="fa fa-angle-right"></i></span>
        <span class="current_page">contact list</span>
      </div>

      <div class="medium-12 columns page_main_content">
        <!-- info_left_content -->
        <div class="medium-8 columns info_left_content">
          <div class="page_information">
            <div class="page_header">contact list</div>
            <div class="page_img"><%= image_tag("img_default_mainimg.png") %></div>
            <div>
              <div class="paragraph_content">We welcome visitors at Open Heavens Christian Centre Edgware and would love to have you join us in church this weekend.</div>
              

              <div class="paragraph_cover">
                <div class="paragraph_content">
                  <span><i class="fa fa-phone"></i> <b>Telephone</b></span>
                  <div> <span>020 8958 4040</span></div>
                </div>

                <div class="paragraph_content">
                  <span><i class="fa fa-home"></i> <b>Address</b></span>
                  <div>Open Heavens Christian Centre</div>
                  <div>194-198 Broadfields Ave</div>
                  <div>Edgware</div>
                  <div>HA8 8TF</div>
                </div>

                <div class="paragraph_content">
                  <span><i class="fa fa-envelope"></i> <b>Email</b></span>
                  <div><span class="weblink"><%= mail_to "info@openheavens.org.uk" %></span></div>
                </div>

                <div class="paragraph_content">
                  <span><i class="fa fa-home"></i> <b>Church office</b></span>
                  <div><span>The Church Office is open every weekday from 10:00am - 5:30pm.</span></div>
                </div>
              </div>

              <div class="divider"></div>

              <div class="paragraph_content">
                <span><i class="fa fa-building"></i> <b>Counselling:</b></span>
                <span>07961 777 316 (Emergencies Only)</span>
              </div>

              <div class="paragraph_content">
                <span><i class="fa fa-building"></i> <b>Appointments Helpline:</b></span>
                <span>0208 208 8909</span>
              </div>

              <div class="paragraph_content">
                <span><i class="fa fa-building"></i> <b>Alpha Course:</b></span>
                <span class="weblink"><%= mail_to "info@openheavens.org.uk" %></span>
              </div>

              <div class="paragraph_content">
                <span><i class="fa fa-building"></i> <b>Legal Team:</b></span>
                <span class="weblink"><%= mail_to "info@openheavens.org.uk" %></span>
              </div>
            </div>
          </div>
        </div>
        <!-- info_left_content -->

        <!-- info_right_content -->
        <%= render 'shared/content_service_times' %>
        <!-- info_right_content -->
      </div>

    </div>
  </div>
</div>