<div class="pages_boarder"></div>
<div class="medium-12 columns content_childrenteenpg_section">
  <div class="content_childrenteenpg_inner_section">
    <div class="medium-12 columns childrenteenpg_content">
      <div class="tree_line">
        <span><%= link_to "home", root_path %></span>
        <span><i class="fa fa-angle-right"></i></span>
        <span><%= link_to "connect", connect_path %></span>
        <span><i class="fa fa-angle-right"></i></span>
        <span class="current_page">children & teenage hub</span>
      </div>

      <div class="medium-12 columns page_main_content">
        <!-- info_left_content -->
        <div class="medium-8 columns info_left_content">
          <div class="page_information">
            <div class="page_header">children & teenage hub</div>
            <div class="page_img"><%= cl_image_tag("https://res.cloudinary.com/openheavensuk/image/upload/v1552407581/children%20teenage%20hub/img_04_childrenHub.png") %></div>
            <div>
              <div class="paragraph_content">The junior church is a very innovative arm of OHCC. It consists of 5 very interactive fun classes for both children and teenagers ranging from ages 2 to 18 years. </div>

              <div class="paragraph_content">Learning takes place in a holistic environment. All classes and activities are based on the word of God with a vision to grow strong faith in our children and teenagers from the very onset.</div>

              <div class="paragraph_content">Teaching styles are designed to be fun and practical yet thought - provoking with the aim of building up character and resilience in our young ones from an early age. </div>

              <div class="paragraph_content">Class activities and events are organised regularly by the junior church team, with a great desire to reach the heart of our community, for the benefits of not just the members of the junior church alone but for the stimulation and welfare of all other children and teenagers within the community and beyond.</div>

              <div class="paragraph_content">
                <table id="customers">
                  <tr>
                    <th>ONGOING COMMUNITY EVENTS</th>
                  </tr>
                  <tr><td>SPIRITUAL RETREATS AND AWAY CAMPS (PGL)</td></tr>
                  <tr><td>TRAININGS - SAFEGUARDING, FIRST AID</td></tr>
                  <tr><td>BREAST FEEDING CLASSES FOR NURSING MUMS</td></tr>
                  <tr><td>PARENTING CLASSES</td></tr>
                  <tr><td>YOUNG COUNSELLING</td></tr>
                  <tr><td>CV WRITING</td></tr>
                  <tr><td>EXAM TECHNIQUES</td></tr>
                  <tr><td>SUMMER AND EASTER CAMPS YOUTH CLUB, FOOTBALL AND MANY OTHER SPORTS CLUBS</td></tr>
                  <tr><td>LIFE SKILL CLASSES   range from hair dressing, cookery, sewing</td></tr>
                  <tr><td>SUMMER MUSICAL INSTRUMENT WORKSHOPS - singing, keyboards, guitar, drums</td></tr>
                  <tr><td>MESSY CHURCH</td></tr>
                  <tr><td>CAKE SALES</td></tr>
                  <tr><td>JUMBLE SALES</td></tr>
                  <tr><td>LIBRARY BOOK AND TOY DAYS</td></tr>
                </table>
              </div>

              <div class="paragraph_content">
                <div class="page_img img_border"><%= cl_image_tag("https://res.cloudinary.com/openheavensuk/image/upload/v1552407583/children%20teenage%20hub/img_08_childrenHub.png") %></div>
              </div>

              <div class="paragraph_content">
                <div class="page_img img_border"><%= cl_image_tag("https://res.cloudinary.com/openheavensuk/image/upload/v1552407582/children%20teenage%20hub/img_06_childrenHub.png") %></div>
              </div>

              <div class="paragraph_content">
                <div class="page_img img_border"><%= cl_image_tag("https://res.cloudinary.com/openheavensuk/image/upload/v1552407582/children%20teenage%20hub/img_03_childrenHub.png") %></div>
              </div>

              <div class="paragraph_content">
                <div class="page_img img_border"><%= cl_image_tag("https://res.cloudinary.com/openheavensuk/image/upload/v1552407582/children%20teenage%20hub/img_03_childrenHub.png") %></div>
              </div>

              <div class="paragraph_content">
                <div class="page_img img_border"><%= cl_image_tag("https://res.cloudinary.com/openheavensuk/image/upload/v1552407581/children%20teenage%20hub/img_02_childrenHub.png") %></div>
              </div>

              <div class="paragraph_content">
                <div class="page_img img_border"><%= cl_image_tag("https://res.cloudinary.com/openheavensuk/image/upload/v1552407581/children%20teenage%20hub/img_01_childrenHub.png") %></div>
              </div>

              <div class="paragraph_content">
                <div class="page_img img_border"><%= cl_image_tag("https://res.cloudinary.com/openheavensuk/image/upload/v1552407581/children%20teenage%20hub/img_05_childrenHub.png") %></div>
              </div>

              <div class="paragraph_content">
                <div class="page_img img_border"><%= cl_image_tag("https://res.cloudinary.com/openheavensuk/image/upload/v1552407582/children%20teenage%20hub/img_09_childrenHub.png") %></div>
              </div>
            </div>
          </div>
        </div>
        <!-- info_left_content -->

        <!-- info_right_content -->
        <%= render 'shared/content_service_times' %>
        <!-- info_right_content -->
      </div>

    </div>
  </div>
</div>