<div class="pages_boarder"></div>
<div class="medium-12 columns content_ministryideapg_section">
  <div class="content_ministryideapg_inner_section">
    <div class="medium-12 columns ministryideapg_content">
      <div class="tree_line">
        <span><%= link_to "home", root_path %></span>
        <span><i class="fa fa-angle-right"></i></span>
        <span><%= link_to "serve", serve_path %></span>
        <span><i class="fa fa-angle-right"></i></span>
        <span class="current_page">got a ministry idea</span>
      </div>

      <div class="medium-12 columns page_main_content">
        <!-- info_left_content -->
        <div class="medium-8 columns info_left_content">
          <div class="page_information">
            <div class="page_header">launch a ministry</div>
            <div class="page_img"><%= image_tag("img_bannerimg.jpg") %></div>
            <div class="paragraph_content">
              <div><b>Launch a Ministry</b></div>
              <span>Do you have a great idea for a new ministry here at Open Heavens Church and the passion to lead it? You’ve come to the right page!</span>
            </div>
            <div class="paragraph_content">
              <div><b>Team Mission</b></div>
              <span>Further Open Heavens Church’s mission by assisting in the development and launch of effective new volunteer led ministries and ministry leaders.</span>
            </div>
            <div class="paragraph_content">
              <div><b>About us</b></div>
              <span>Open Heavens Church encourages volunteer leaders with a passion for a new ministry, and wants to help ensure the success of both the leader and the ministry.</span>
            </div>
            <div class="paragraph_content">The Ministry Launch Team works with volunteer leaders to help achieve this goal.</div>
            <div class="paragraph_content">While we are always excited to hear your ideas for how Open Heavens Church can be improved, the purpose of this team is to help develop volunteer-led ministries.</div>
            <div class="paragraph_content">
              <div><b>How to begin</b></div>
              <span>Leaders who sense a call to start a new ministry are encouraged to start the process by submitting a Ministry Proposal Application.</span>
            </div>
            <div class="paragraph_content">The form lacks the ability to save as you go, so you may wish to copy its questions to a word file and work on it there until you’re ready to copy and paste your answers back into the form to submit it.</div>
            <div class="paragraph_content">
              <div><b>Additional Information</b></div>
              <span>If you have any questions please email us at <span class="weblink"><%= mail_to "info@openheavens.org.uk" %></span>.</span>
            </div>

            <div class="paragraph_content listed_donation_links">
              <ul>
                <li><%= link_to "Minsitry proposal Application", new_launchministry_path %></li>
              </ul>
            </div>
          </div>
        </div>
        <!-- info_left_content -->

        <!-- info_right_content -->
        <%= render 'shared/content_service_times' %>
        <!-- info_right_content -->
      </div>

    </div>
  </div>
</div>