<div class="pages_boarder"></div>
<div class="medium-12 columns content_leadershipdevelopmentpg_section">
  <div class="content_leadershipdevelopmentpg_inner_section">
    <div class="medium-12 columns leadershipdevelopmentpg_content">
      <div class="tree_line">
        <span><%= link_to "home", root_path %></span>
        <span><i class="fa fa-angle-right"></i></span>
        <span><%= link_to "grow", grow_path %></span>
        <span><i class="fa fa-angle-right"></i></span>
        <span class="current_page">leadership development</span>
      </div>

      <div class="medium-12 columns page_main_content">
        <!-- info_left_content -->
        <div class="medium-8 columns info_left_content">
          <div class="page_information">
            <div class="page_header">leadership development</div>
            <div class="calendar_section">

              <!-- listed events -->
              <div class="event_content">
                <div class="paragraph_content">The goal of leadership development is to help leaders in the church and those interested in leadership in the community to sharpen their leadership skills. This is provided in two settings:
                  <ul>
                    <li>1) Leadership development to serve in church – This is available to every member who desires to serve in any capacity in church. It is organised to help you fulfil your God given purpose in His kingdom</li>
                    <li>2) Leadership development to serve in the market space - You do not have to be actively engaged in leadership to participate. The resources and training opportunities will be valuable for those in positions of leadership in business and in our community. The leadership events are open to all…please invite friends and co-workers from the community</li>
                  </ul>
                </div>
                <div class="paragraph_content">For additional information contact <span class="weblink"><%= mail_to "leaders@openheavens.org.uk" %></span> You will be notified of upcoming events and other leadership development opportunities and resources.</div>
                <div class="divider"></div>
                <div class="event_inner_content">
                  <% if @events.present? %>
                    <!-- listed events -->
                    <ul>
                      <% @events.order('created_at DESC').each do |event| %>
                        <li>
                          <div>
                            <span class="evt_img_section">
                              <div class="evt_img_outter">
                                <div class="evt_img"><%= link_to (image_tag("img_default_event.png")), event_path(event) %></div>
                              </div>
                            </span>
                            <span class="event_info_section">
                              <%= link_to event_path(event) do %>
                                <div class="evt_title"><%= truncate("#{event.name}", length: 45) %></div>
                                <div class="evt_minor_info evt_time">
                                  <span><b>date:</b></span>
                                  <span><%= event.start_time.strftime("%b %d %Y") %></span>  
                                  <span class="listevt_divider">|</span>
                                  <span><b>time:</b></span>
                                  <span><%= "#{event.start_time.strftime("%I:%M%p")}" %> - <%= "#{event.end_time.strftime("%I:%M%p")}" %></span>
                                </div>
                                <div class="evt_minor_info evt_address"><b>location:</b> <%= truncate("#{event.address}", length: 60) %></div>
                                <div class="evt_minor_info evt_city_country">
                                  <span><b>city:</b></span>
                                  <span><%= event.city %></span>
                                  <span><b>country:</b></span>
                                  <span><%= event.category_country.name %></span>
                                </div>
                                <div class="evt_minor_info evt_address">
                                  <span><b>category:</b></span>
                                  <span class="evt_category">
                                    <% if event.category_event.name == "Leadership Forum Event" %>
                                      <%= "Leadership Forum" %>
                                    <% end %>
                                  </span>
                                </div>
                              <% end %>
                            </span>
                          </div>
                        </li>
                        <div class="clear"></div>
                      <% end %>
                    </ul>
                    <!-- listed events -->
                  <% else %>
                    <!-- no_listed_info -->
                    <div><%= render "shared/no_listed_content" %></div>
                    <!-- no_listed_info -->
                  <% end %>
                </div>
              </div>
              <!-- listed events -->
            </div>
          </div>
        </div>
        <!-- info_left_content -->

        <!-- info_right_content -->
        <%= render 'shared/content_service_times' %>
        <!-- info_right_content -->
      </div>

    </div>
  </div>
</div>


