<div class="pages_boarder"></div>
<div class="medium-12 columns content_servepg_section">
  <div class="content_servepg_inner_section">
    <div class="medium-12 columns servepg_content">
      <div class="tree_line">
        <span><%= link_to "home", root_path %></span>
        <span><i class="fa fa-angle-right"></i></span>
        <span class="current_page">serve</span>
      </div>

      <div class="medium-12 columns page_main_content">
        <!-- info_left_content -->
        <div class="medium-8 columns info_left_content">
          <div class="page_information">
            <div class="page_header">serve</div>
            <div class="page_img"><%= image_tag("img_default_mainimg.png") %></div>

            <div class="paragraph_content">
              <b>A FEW OF THE MANY AREAS YOU CAN GET INVOLVED</b>
              <div>Open Heavens Christian Centre offers several unique opportunities for you to use your God-given gifts, passions and talents to help develop the church, impact our local community, and engage communities in other parts of the world. For example, you can invest your time and skills in our children and youth activities, help to welcome our guests and make them feel comfortable, help care for the worship spaces and facilities, make and serve coffee to guests and members to enhance fellowship at the foyer and much more. You can also support or join in some of our mission trips to other countries. Or you may even have an exciting idea to do something new. Whatever your passion, we have a place for you to explore and flourish at Open Heavens.</div>
              <div><br/>
                <ul>
                  <li><span class="weblink"><%= link_to "In the church", our_church_path %></span></li>
                  <li><span class="weblink"><%= link_to "In the community", our_community_path %></span></li>
                  <li><span class="weblink"><%= link_to "Around the world", around_the_world_path %></span></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <!-- info_left_content -->

        <!-- info_right_content -->
        <%= render 'shared/content_service_times' %>
        <!-- info_right_content -->
      </div>

    </div>
  </div>
</div>