<div class="pages_boarder"></div>
<div class="medium-12 columns content_servepg_section">
  <div class="content_servepg_inner_section">
    <div class="medium-12 columns servepg_content">
      <div class="tree_line">
        <span><%= link_to "home", root_path %></span>
        <span><i class="fa fa-angle-right"></i></span>
        <span class="current_page">serve</span>
      </div>

      <div class="medium-12 columns page_main_content">
        <!-- info_left_content -->
        <div class="medium-8 columns info_left_content">
          <div class="page_information">
            <div class="page_header">serve</div>
            <div class="page_img"><%= image_tag("img_default_mainimg.png") %></div>

            <div class="paragraph_content">Open Heavens Christian centre offers several unique opportunities for you to use your God given gifts, passions, and talents to build the local church and impact our community. You can invest your time and skills in our children and youth activities, help welcome & make our guests comfortable, help care for the worship spaces and facilities, make & serve coffee to guests and members to enhance fellowship at the foyer and much more. Whatever your passion, we have a place for you to explore and flourish at Open Heavens!</div>

            <div class="paragraph_content"><b>A FEW OF THE MANY AREAS OF OPPORTUNITY IN WHICH YOU CAN SERVE IN OUR CHURCH</b>
              <div>
                <ul>
                  <li><b>prayer</b></li>
                  <li><b>First Impressions Ministry</b> <span>(parking marshalls, greeters, ushers)</span></li>
                  <li><b>Care Ministry</b> <span>(providing pastries, coffee, and other food for services and events)</span></li>
                  <li><b>Children’s ministry</b> <span>(helping to create loving, safe and clean environment for Open Heavens children and their parents & carers)</span></li>
                  <li><b>Youth ministry</b></li>
                  <li><b>Admin & Financial stewardship</b></li>
                  <li><b>IT / Data Quality Analysts / Hardware support</b></li>
                  <li><b>Media & Communications</b></li>
                  <li><b>Worship Arts</b></li>
                  <li><b>Sanctuary cleaning and décor</b></li>
                  <li><b>Sanctuary cleaning and décor</b></li>
                  <li><b>BRC Cafe</b> <span>(open to the public on weekdays as drop-in free coffee & biscuits centre as well as Sunday mornings)</span></li>
                  <li><b>Teaching - Small Groups, Sunday School, New believers group</b></li>
                  <li><b>Pastoral care (Counselling & lay counselling, Hospitals & Prisons visitation)</b></li>
                  <li><b>Facilities care & various Logistic & events support services</b></li>
                  <li><b>Help with Services & special events</b></li>
                  <li><b>Men’s ministry</b></li>
                  <li><b>Women’s ministry</b></li>
                </ul>
              </div>
            </div>

            <div class="paragraph_content">There are several opportunities here to make a difference with your time either by volunteering in a role that fits your gifts, interests, and talents or even pioneer a ministry through your own creativity and innovation.  Find the opportunity you are interested in, and simply email the staff contact and let them know! </div>

            <div class="paragraph_content">Still thinking of where to serve? <%= link_to "Fill out this form", "#", target: "_blank", class: "weblink" %> with your interest areas, skills etc. and a staff member or ministry lead will follow up with you! Maybe you already have inspired ideas you need support and encouragement to implement? Fill out the ministry idea form <%= link_to "here", "#", target: "_blank", class: "weblink" %> and the relevant ministry lead will get in touch with you during the week. 
            </div>

            
            
          </div>
        </div>
        <!-- info_left_content -->

        <!-- info_right_content -->
        <%= render 'shared/content_service_times' %>
        <!-- info_right_content -->
      </div>

    </div>
  </div>
</div>