<div class="pages_boarder"></div>
<div class="medium-12 columns content_receivechristpg_section">
  <div class="content_receivechristpg_inner_section">
    <div class="medium-12 columns receivechristpg_content">
      <div class="tree_line">
        <span><%= link_to "home", root_path %></span>
        <span><i class="fa fa-angle-right"></i></span>
        <span><%= link_to "grow", grow_path %></span>
        <span><i class="fa fa-angle-right"></i></span>
        <span class="current_page">Next Steps</span>
      </div>

      <div class="medium-12 columns page_main_content">
        <!-- info_left_content -->
        <div class="medium-8 columns info_left_content">
          <div class="page_information">
            <div class="page_header">congratulations!</div>
            <div class="page_img"><%= image_tag("img_bannerimg.jpg") %></div>
            <div>

              <div class="paragraph_content">We’re very excited you’ve committed your life to Jesus as your Savior and Lord. This is an exciting time for which there are angels in heaven rejoicing!</div>

              <div class="paragraph_content">As a “new born” Christian, recognize it will take time to grow spiritually. You will make mistakes and it may be difficult at times to understand God’s plans for you. Don’t be discouraged. Christ cares for you greatly and will help you along the journey. You’re now part of a fellowship of believers and we’re here to help you on this journey. We have tons of resources and are excited to guide you along. Use this brief guide to get you started.</div>

              <div class="paragraph_content">Ask questions. Look for answers that make sense to you. Challenge us to help you on this journey.</div>

              <div class="paragraph_content">
                <b>Your Next Steps</b>
                <ul>
                  <li>I understand my own sinful nature and how this separates me from God. I acknowledge Jesus paid the price for my sins by dying in my place and I’ve asked Jesus for forgiveness!</li>
                  <li>Read your Bible! We have a <%= link_to "recommended reading plan here", recommeded_reading_plan_path, class: "weblink" %>.  If you need a Bible, we have some here, just ask an usher or someone in the Connections Center.  We encourage you to get involved in a Bible study.  Visit our <%= link_to "Bible Studies", "#", class: "weblink" %> page for more info.</li>
                  <li>Get Baptized! Take the <%= link_to "Baptism class", "#", class: "weblink" %> and publicly profess your new faith.</li>
                  <li>Take the Spiritual Gifts Class. When you received Jesus into your heart, the Holy Spirit endowed you with certain gifts for the building up of the body of Christ. This class will help you learn about these gifts. Register here for the next class.</li>
                  <li>Get Connected!  Join a Growth Group or Bible Study. Find a place to serve. We’re here to help you find your place. Email <span class="weblink"><%= mail_to "info@openheavens.org.uk" %></span></li>
                </ul>
              </div>

            </div>
          </div>
        </div>
        <!-- info_left_content -->

        <!-- info_right_content -->
        <%= render 'shared/content_service_times' %>
        <!-- info_right_content -->
      </div>

    </div>
  </div>
</div>



