<div class="pages_boarder"></div>
<div class="medium-12 columns content_missionvisionpg_section">
  <div class="content_missionvisionpg_inner_section">
    <div class="medium-12 columns missionvisionpg_content">
      <div class="tree_line">
        <span><%= link_to "home", root_path %></span>
        <span><i class="fa fa-angle-right"></i></span>
        <span><%= link_to "about us", about_us_path %></span>
        <span><i class="fa fa-angle-right"></i></span>
        <span class="current_page">mission & vision statement</span>
      </div>

      <div class="medium-12 columns page_main_content">
        <!-- info_left_content -->
        <div class="medium-8 columns info_left_content">
          <div class="page_information">
            <div class="page_header">mission & vision statement</div>
            <div class="page_img"><%= image_tag("img_default_mainimg.png") %></div>
            <div>
              <div class="paragraph_content">
                <div><b>Our Vision Statement</b></div>
                Changing lives; Impacting Nations                           
              </div>

              <div class="paragraph_content">
                <div><b>Mission Statement</b></div>
                To develop a vibrant community of believers who deeply love God, experience the love and presence of God and help others to know Him and who express the joy and power of His kingdom in their everyday living.    
              </div>

              <div class="paragraph_content">
                <div><b>Core Values</b></div>
                OHCC core values have the general essential core values of love, obedience, faith, holiness, sacrifice, worship and prayers woven into them. <br/><br/>
                We are to live the values that will enable us to win others to Christ. Building the kingdom with the King is the most exciting, purpose filled existence a human being can have <%= link_to "1Cor 3:5-15", "https://www.biblegateway.com/passage/?search=1Cor+3%3A5-15&version=NIV", class: "weblink", target: "_blank" %>.   
              </div>

              <div class="paragraph_content hide">
                <div><b>Our Vision Statement</b></div>
                Our goal is to preach and demonstrate the gospel of Jesus Christ through the power of the Holy Spirit to meet the needs of the hurting and enrich the faith of believers. Our expectation is that people embrace the word of God and apply it to their lives in order to experience growth in every area of their lives and affect their environment for God. The various ministries available within the church have been designed to meet this goal.
              </div>

              <div class="paragraph_content hide">
                <div><b>Mission Statement</b></div>
                To build a family of believers from all races with the realisation of who they are in Christ, prepared and empowered by the Holy Spirit to minister the gospel of Jesus Christ and positively impact their environment through declaration of the whole counsel of God by words and deeds.
              </div>

              <div class="paragraph_content listed_donation_links">
                <div><b>Our Beliefs</b></div>
                <ul class="vertical menu accordion-menu" data-accordion-menu>
                  <li>
                    <a href="#">about the bible</a>
                    <ul class="menu vertical nested">
                      <li><span>We believe that the entire Scriptures, both Old and New Testaments, were written by the inspiration of the Holy Spirit (2 Tim. 3: 16-17). We believe that the Bible is the written and revealed Will of God. The teachings of the Bible are holy and we accept these as the revealed will of God which remain unchangeable. Heavens and Earth may pass away but the Word of God stands forever (Deut. 4:22; Rev. 22:18, 19; Matt. 24:34-38).</span></li>
                    </ul>
                  </li>

                  <li>
                    <a href="#">about God</a>
                    <ul class="menu vertical nested">
                      <li><span>We believe that there is only one God, the creator of both visible and invisible creatures (Gen. 1:1; Ps. 86:9-10; Is. 43:10-11; John 1:1-3). Only God will be in existence forever (Ez. 3:14) and in Him, every creature receives life (John 5:26).</span></li>
                    </ul>
                  </li>

                  <li>
                    <a href="#">about Jesus Christ</a>
                    <ul class="menu vertical nested">
                      <li><span>We believe that Jesus Christ is the Son of God who took away our sins and is the Saviour of the world. We also believe that Jesus is God and was born by Mary the Virgin. He is God revealed in the flesh. Through Him all things were created. John 1:1-14; John 14:9; Matt. 1:18-25, Is 9:6; Is 53:5-6. We believe in His death on the Cross, and resurrection, by which He brought redemption – Is. 53:4-10; I Pet. 2:24; John 10:11; Gal. 3:13, Matt. 20:28; I Cor. 15:3; Rom. 4:25; II Cor. 5:14; Heb 2:9; Heb 9:26.</span></li>
                    </ul>
                  </li>

                  <li>
                    <a href="#">about the Holy Spirit</a>
                    <ul class="menu vertical nested">
                      <li><span>We believe that the Holy Spirit is the third Person in the TRINITY. He has the same power, the same glory with God the Father and God the Son (John 14:16-17; John 15:26; Matt. 3:16; Acts 13:24). He is one with the Father and the Son, and is also to be worshipped and served. The Holy Spirit has a great work to perform. He teaches, He speaks to men, and bears witness in us (Acts 16:6-7). He performs the work of regeneration for man (John 3:5-6). He also performs the work of Sanctification in the born again souls until they are fully sanctified (John 16:8; Eph 1:17-19; II Thess. 2:13; I Cor. 6:11). This same Holy Spirit endows believers with gifts they can use (I Cor. 12:7). He empowers believers (Acts 1:8).</span></li>
                    </ul>
                  </li>

                  <li>
                    <a href="#">About the Trinity</a>
                    <ul class="menu vertical nested">
                      <li><span>We believe that God the Father, God the Son, and God the Holy Ghost are one God, but made of three persons – hence they are ONE IN TRINITY (Gen. 1:16-29; Matt. 3:16-17; Matt. 18:19).</span></li>
                    </ul>
                  </li>

                  <li>
                    <a href="#">About the Devil</a>
                    <ul class="menu vertical nested">
                      <li><span>We believe that there is a devil who seeks the downfall of every man. He brought sickness, sin and death into the world (Gen. 3:1-16). He seeks the destruction of those who exercise their faith in the Lord Jesus (Matt. 4:1-11; James 4:7; I Peter 5:8). The devil has several unclean spirits over whom he governs (Matt. 12:24). A time would soon come when he shall be thrown into the pit and chained for one thousand years (Rev. 20:7-9). After this, he will be put into the lake of fire where he will suffer alongside his followers eternally (Rev. 20:10).</span></li>
                    </ul>
                  </li>

                  <li>
                    <a href="#">About Man</a>
                    <ul class="menu vertical nested">
                      <li><span>We believe that God formed man from the dust of the ground and breathed into his nostrils the breath of life, thus transforming him into a living soul (Gen. 2:7). Therefore, man is made up of three parts, namely body, soul and spirit. Man is God’s ambassador on earth (Gen. 1:26-28). God allows man to take part in His work and thereby reveals His love for mankind more than any other creature (Gen. 2:15). This also shows how God has elevated man above other creatures on the earth.</span></li>
                    </ul>
                  </li>

                  <li>
                    <a href="#">Repentance unto God</a>
                    <ul class="menu vertical nested">
                      <li><span>We believe that repentance is the sorrow a person experiences for their sins, causing them to make the decision to abstain from such sins (Acts 3:19; 20:21; II Cor. 7:10; Mark 1:15; Is. 55:7; II Chron. 7:14; Ezek. 18:21).</span></li>
                    </ul>
                  </li>

                  <li>
                    <a href="#">Justification or New Birth</a>
                    <ul class="menu vertical nested">
                      <li><span>We believe that justification or the new birth is by God’s grace wherein we are cleansed from our sins and are able to stand before God as though we had never sinned (Acts 13:39; Rom. 3:25-26; Rom 5:1; I Cor. 6:11; Gal. 3:24; John 1:12-13; 3:3; II Cor. 5:9; Titus 3:5; I Peter 1:23; Acts 10:43; John 3:3,5).</span></li>
                    </ul>
                  </li>

                  <li>
                    <a href="#">Sanctification (Holiness)</a>
                    <ul class="menu vertical nested">
                      <li><span>We believe that sanctification is another grace of God by which our souls are progressively and completely cleansed. This is the second accomplishment of the grace which through our faith in the Blood of Jesus Christ is wrought after we have been justified and freed from our sins (John 17:15-17; I Thess. 4:3; Heb. 2:11; 12:14; 13:12; I John 1:7; Luke 1:74, 75; II Cor. 7:1; I Peter 1:16; Eph. 5:25-27; I Thess. 5:23-24; II Thess. 2:13).</span></li>
                    </ul>
                  </li>

                  <li>
                    <a href="#">Water Baptism</a>
                    <ul class="menu vertical nested">
                      <li><span>We believe that all members of this Church should be baptised by immersion in water in the name of the Father, the Son and the Holy Spirit. We believe that water baptism is a sign of true repentance of a sinner and that anyone who is baptised is joined with Christ in His death, burial and resurrection (Rom. 6:1-23; Col. 2: 1-13). Therefore, anybody who is baptised is dead to the world and the evils thereof (Gal. 6:14).</span></li>
                    </ul>
                  </li>

                  <li>
                    <a href="#">Baptism of the Holy Spirit</a>
                    <ul class="menu vertical nested">
                      <li><span>We believe that justification or the new birth is by God’s grace wherein we are cleansed from our sins and are able to stand before God as though we had never sinned (Acts 13:39; Rom. 3:25-26; Rom 5:1; I Cor. 6:11; Gal. 3:24; John 1:12-13; 3:3; II Cor. 5:9; Titus 3:5; I Peter 1:23; Acts 10:43; John 3:3,5).</span></li>
                    </ul>
                  </li>

                  <li>
                    <a href="#">About Prayer</a>
                    <ul class="menu vertical nested">
                      <li><span>We believe that a Christian without condemnation of heart has a right to thank God in adoration and in prayer always. The Holy Spirit also helps us to pray according to the will of God (Rom. 8:26). We must pray only in the name of Jesus (John 16:23; ; I Tim. 2:25). Without faith, our prayer is powerless before God (James 1:6-8; Heb. 11:6). Much trouble and danger are encountered in the absence of prayer (Zeph. 1:4; Dan 9:13-14; Hosea 8:13-14). We are commanded to pray without ceasing (Col. 4:2; I Thess. 5:17; I Cor. 7:5; Luke 18:1). It is God’s plan and order that we should pray to receive all the goods He has promised in His treasure for us (James 4:2; Dan. 9:3; Matt. 7:7-11; Matt. 9:24-29; Luke 11:13).</span></li>
                    </ul>
                  </li>

                  <li>
                    <a href="#">Divine Healing</a>
                    <ul class="menu vertical nested">
                      <li><span>We believe that healing without medicine is Biblical (Matt. 4:23; Ps. 103:3). The Lord Jesus has commanded us to go into the world not just to teach His Word to the nations but to also heal the sick (Matt. 28:19-20; Mark 10:1, Mark 16:15-18). We can obtain our healing in these four ways: (1) by personal prayer (John 14:13-14 2); (2) by two people (or a group of people) who have agreed to pray by faith (Matt. 18:19-20; (3) by the laying of hands (Mark 16:18; Acts 9:18; Acts 28:8); and (4) by the ministry of Church Elders, anointing the sick with oil and offering a prayer of faith (James 5:14-15).</span></li>
                    </ul>
                  </li>

                  <li>
                    <a href="#">Holy Matrimony</a>
                    <ul class="menu vertical nested">
                      <li><span>We believe that marriage is a honourable institution (Heb. 13:4). Therefore, all those who wish to marry can do so in the church.</span></li>
                    </ul>
                  </li>

                  <li>
                    <a href="#">Holy Communion or the LORD'S supper</a>
                    <ul class="menu vertical nested">
                      <li><span>We believe that the Holy Communion was instituted by our Lord Jesus Christ shortly before His death when He commanded all Christians to gather regularly to share bread and wine till He comes back again (Luke 22:17-20; Matt. 26:26-29; Mark 14:22-25; I Cor. 10:18, 21; Acts 2:42; 20:7; I Cor. 11:23-30).</span></li>
                    </ul>
                  </li>

                  <li>
                    <a href="#">The Church of God</a>
                    <ul class="menu vertical nested">
                      <li><span>We believe that the born-again souls are the Church of God (Eph. 1:22; Col. 1:1-18; Eph 3:10; 5:24-29). The Church is the assembly of all believers, the sanctified souls in Christ Jesus, those who we call the Holy people of God (I Cor. 1:2; Acts 14:23; Phil. 4:15; Acts 13:28). They accept Christ as the Head of the Church and gather from time to time to worship God in truth and Spirit. Their major assignment is to spread the Gospel of Christ to all Nations (Matt. 28:19).</span></li>
                    </ul>
                  </li>

                  <li>
                    <a href="#">Prophecy in the Church</a>
                    <ul class="menu vertical nested">
                      <li><span>We believe in all the prophecies in the Bible. Also, the gift of prophecy can be received by believers by inspiration of the Holy Spirit (I Cor. 14:29). Prophecies should not be despised (I Thess. 5:20), but any prophecy that is contrary to the revealed will of God in the Bible should be rejected.</span></li>
                    </ul>
                  </li>

                  <li>
                    <a href="#">The second coming of Chirst</a>
                    <ul class="menu vertical nested">
                      <li><span>We believe in the Second coming of Jesus Christ; that it will be in physical form and will be visible to all in the manner as He was seen ascending up to heavens (Acts 1:9-11; John 14:3). His return will be in two stages: first, a return in the sky, following which the Saints or the Bride of Christ will be raptured or caught up in the air to meet Christ in the sky (I Thess. 4:15-17; I Cor. 15:51-52; Matt. 24:40-44; Matt 25:10); and (b), Christ’s return to the earth when He will judge sinners and the ungodly (Rev. 19:19-21; II Thess. 1:7-10; Jude 1:14-15; Zech. 14:3-4).</span></li>
                    </ul>
                  </li>
                  
                  <li>
                    <a href="#">New Heaven New Earth</a>
                    <ul class="menu vertical nested">
                      <li><span>We believe that after God’s judgement, this wicked world will be removed. God will create a new Heaven and a new Earth in which holiness will reign (Matt. 24:35; II Peter 3:12-13; Rev. 21:1-3</span></li>
                    </ul>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <!-- info_left_content -->

        <!-- info_right_content -->
        <%= render 'shared/content_service_times' %>
        <!-- info_right_content -->
      </div>

    </div>
  </div>
</div>