<!-- CSS File: content_careersvolunteerspg.css.scss -->
<div class="pages_boarder"></div>
<div class="medium-12 columns content_careersvolunteerspg_section">
  <div class="content_careersvolunteerspg_inner_section">
    <div class="medium-12 columns careersvolunteerspg_content">
      <div class="tree_line">
        <span><%= link_to "home", root_path %></span>
        <span><i class="fa fa-angle-right"></i></span>
        <span><%= link_to "resources", resources_path %></span>
        <span><i class="fa fa-angle-right"></i></span>
        <span><%= link_to "careers & volunteers", church_jobs_path %></span>
        <span><i class="fa fa-angle-right"></i></span>
        <span class="current_page">church jobs</span>
      </div>

      <div class="medium-12 columns page_main_content">
        <!-- info_left_content -->
        <div class="medium-8 columns info_left_content">
          <div class="page_information">
            <div class="page_header">careers & volunteers</div>
            <div class="paragraph_content">
              <span>Many volunteers assist in running the church’s programmes and activities, particularly at weekends and in the evenings. We are constantly looking for more people to volunteer their time and talents in a range of areas and, if you are able to, we would love to have you help out. Click on the links below to find out more about our current volunteering and job opportunities:</span>
              <div class="listed_points">
                <ul>
                  <li>All jobs</li>
                  <li>Church jobs</li>
                  <li>Career jobs</li>
                  <li>Volunteering jobs</li>
                </ul>
              </div>
            </div>
            
            <div class="divider"></div>

            <div class="job_tabs">
              <ul>
                <li><%= link_to "all jobs", careers_and_volunteers_path %></li>
                <li><%= link_to "church jobs", church_jobs_path, class: "active" %></li>
                <li><%= link_to "career jobs", career_jobs_path %></li>
                <li><%= link_to "volunteer job", volunteer_jobs_path %></li>
              </ul>
            </div>

            <% if @jobs.opened_jobs.aprroved_jobs.church_jobs.present? %>
              <!-- listed jobs -->
              <div class="paragraph_content listed_readings_links">
                <ul>
                  <% @jobs.each do |job| %>
                  <li class="file">
                    <div class="jobpost_content">
                      <div class="header"><%= link_to "#{job.title}", job_path(job) %></div>
                      <div class="minor_info">
                        <span class="min_header">posted:</span><span class="min_content"><%= time_ago_in_words(job.created_at) %> ago</span>
                        <span class="min_divider">|</span>
                        <span class="min_header">location:</span><span class="min_content"><%= job.location %></span>
                        <span class="min_divider">|</span>
                        <span class="min_header">position:</span><span class="min_content"><%= job.category_jobtype.name %> Hours</span>
                      </div>
                      <div class="content"><%= link_to truncate("#{job.description}", length: 200), job_path(job) %> <span class="view"><%= link_to "view", job_path(job) %></span></div>
                      <div class="listed_btns">
                        <span class="category"><%= link_to "#{job.category_job.name}", job_path(job) %></span>
                        <span class="category joblevel"><%= link_to "#{job.category_joblevel.name}", job_path(job) %></span>
                        <% if user_signed_in? %>
                          <span class="apply_btn"><%= link_to "apply", job_path(job) %></span>
                        <% else %>
                          <span class="apply_notsiginedin_btn" data-open="modal_ministry_application">apply</span>
                          <span><%= render 'shared/modal_registration_login' %></span>
                        <% end %>
                      </div>
                    </div>
                  </li>
                  <% end %>
                </ul>
              </div>
              <!-- listed jobs -->
            <% else %>
              <!-- no_listed_info -->
              <div><%= render "shared/no_listed_content" %></div>
              <!-- no_listed_info -->
            <% end %>

          </div>
        </div>
        <!-- info_left_content -->

        <!-- info_right_content -->
        <%= render 'shared/content_service_times' %>
        <!-- info_right_content -->
      </div>

    </div>
  </div>
</div>