<!-- <div class="pages_boarder"></div> -->
<div class="medium-12 columns content_homepg_signedout_section">
  <div class="content_homepg_signedout_inner_section">
    <div class="medium-12 columns homepage_content">

      <!-- left_main_content -->
      <div class="medium-8 columns left_main_content">
        <div class="left_inner_main_content">
          <div class="carousel_section">
            <div class="wrapper">
              <div class="carousel">
                <div class="inner">

                  <div class="slide active">
                    <h1>
                      <% if @sitemanagment.homepg_img01.present? %>
                        <%= link_to(image_tag("#{@sitemanagment.homepg_img01}"), "#{@sitemanagment.eventlink_img01}") %>
                      <% end %>
                    </h1>
                  </div>
                  <div class="slide">
                    <h1>
                      <% if @sitemanagment.homepg_img02.present? %>
                        <%= link_to(image_tag("#{@sitemanagment.homepg_img02}"), "#{@sitemanagment.eventlink_img02}") %>
                      <% end %>
                    </h1>
                  </div>
                  <div class="slide">
                    <h1>
                      <% if @sitemanagment.homepg_img03.present? %>
                        <%= link_to(image_tag("#{@sitemanagment.homepg_img03}"), "#{@sitemanagment.eventlink_img0}") %>
                      <% end %>
                    </h1>
                  </div>
                </div>
                <div class="arrow arrow-left hide"></div>
                <div class="arrow arrow-right hide"></div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- right_main_content -->
      <div class="medium-4 columns right_main_content">
        <div class="right_inner_main_content">
          <div class="medium-12 columns main_section">
            <ul>
              
              <li class="li_main li_main_right">
                <div class="title_content_info">
                  <ul>
                    <li id="content0_info"><span class="side_title">missions:</span> We feel called to impact nations for the kingdom. We do this through local or foreign involvement in missions and outreaches. We identify specific projects and nations where fruitful mission efforts can be directed – be that in Africa, Asia, Eastern Europe or elsewhere. Our drive is to make the gospel assessable to all. We do this by the generosity of our members with their time, resources and participation. This generates great joy on earth and in heaven.</li>
                    <li id="content1_info"><span class="side_title">kingdom mandate:</span> The joy of the believer is the privilege to be an ambassador for Christ – to be light and salt in this world. We share our Christian stories (faith) joyfully and naturally; at home, in the community, and in the market place; through words, deeds and power. We invite enquirers to encounter the unfailing love of Jesus so lavishly shared for their redemption and wellbeing. We invite everyone into intimacy with Christ as a basis for joyful human relationships, personal and community transformation, and a joyful eternal life with Christ. We develop your potentials to be leaders in commerce and industry and serve humanity with your gifts and talents.  Enjoy an exciting journey of faith in a community of passionate lovers of Jesus.</li>
                    <li id="content2_info"><span class="side_title">organic outreach</span> Every believer has a faith encounter with God that will bless another person and help them experience the love of God through lifestyle, words and actions. We do this in compassion, love and power. Believers are to do this naturally, non-intrusively and joyfully – in an organic manner. Every believer is a minister in the kingdom of God and in his or her area of influence. We strive to make our lives count for God so that non-believers would find an inspiration through us to place their faith in Jesus Christ. This natural way in leading people to encounter with God is our passion. This is a platform for revival.</li>
                    <li id="content3_info"><span class="side_title">discipleship & mentoring</span> For those who are new in the faith and those requiring guidance through life issues, our discipleship and mentoring programmes are available to help them on their faith journey. This process is designed to build up the young and old alike to be confident in living out their faith, within and outside the Christian community. We do this through teaching and practical engagement. We believe that a good faith foundation is essential for a successful Christian life.</li>
                    <li id="content4_info"><span class="side_title">leadership development</span> Every person is blessed with gifts and natural abilities. Most often these are dormant, untapped and unused during their lifetime. Believers are called upon to use these gifts and talent in the service of God and humanity. These potentials need to be developed to fulfil God’s purpose for their lives. We provide leadership development platform that compliments the training and experience that believers have. This key focus of our church transforms the leadership potentials in our young people, stirring up their minds to excel in their careers and public spaces.  </li>
                  </ul>
                </div>
              </li>

              <li class="li_main li_main_left">
                <div class="title_content">
                  <ul>
                    <li id="content0">Missions</li>
                    <li id="content1">Kingdom Mandate</li>
                    <li id="content2">Organic Outreach</li>
                    <li id="content3">Discipleship & Mentoring</li>
                    <li id="content4">Leadership Development</li>
                  </ul>
                </div>
              </li>

            </ul>
          </div>
        </div>
      </div>

      <!-- bottom_content -->
      <div class="medium-12 columns bottom_content">
        <div class="inner_bottom_content">
          <div class="img_icon_info">
            <ul>
              <li>
                <%= link_to prayer_path do %>
                <div><i class="fa fa-plus-circle" aria-hidden="true"></i></div>
                <div class="option_header">prayer</div>
                <% end %>
              </li>

              <li>
                <%= link_to donations_path do %>
                <div><i class="fa fa-american-sign-language-interpreting" aria-hidden="true"></i></div>
                <div class="option_header">giving</div>
                <% end %>
              </li>

              <li>
                <%= link_to "#{@sitemanagment.livestreaming}", target:"_blank" do %>
                <div><i class="fa fa-volume-up" aria-hidden="true"></i></div>
                <div class="option_header">Live Streaming</div>
                <% end %>
              </li>

              <li>
                <%= link_to media_and_communication_path do %>
                <div><i class="fa fa-film" aria-hidden="true"></i></div>
                <div class="option_header">multimedia</div>
                <% end %>
              </li>

              <li>
                <%= link_to small_groups_path do %>
                <div><i class="fa fa-users" aria-hidden="true"></i></div>
                <div class="option_header">small groups</div>
                <% end %>
              </li>

              <li>
                <%= link_to careers_and_volunteers_path do %>
                <div><i class="fa fa-sign-language" aria-hidden="true"></i></div>
                <div class="option_header">volunteering</div>
                <% end %>
              </li>

              <li>
                <%= link_to forms_path do %>
                <div><i class="fa fa-wpforms" aria-hidden="true"></i></div>
                <div class="option_header">forms</div>
                <% end %>
              </li>

              <li>
                <%= link_to resources_path do %>
                <div><i class="fa fa-child" aria-hidden="true"></i></div>
                <div class="option_header">resource</div>
                <% end %>
              </li>

              <li>
                <%= link_to forum_path do %>
                <div><i class="fa fas fa-comments" aria-hidden="true"></i></div>
                <div class="option_header">forum</div>
                <% end %>
              </li>

              <li>
                <%= link_to listed_ministries_launchministries_path do %>
                <div><i class="fa fa-building" aria-hidden="true"></i></div>
                <div class="option_header">ministries</div>
                <% end %>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <!-- lower_content -->
      <div class="medium-12 columns lower_content">
        <div class="inner_lower_content">

          <div class="medium-5 columns bottom_right">
            <div class="bottom_inner_right">
    
              <div class="event_title">
                <span>
                  <%= link_to events_path, target:"_blank" do %>
                  <span><i class="fa fa-calendar"></i></span>
                  <span>Events</span>
                  <% end %>
                </span>
                <span class="event_header"><%= link_to "view all events", events_path %></span>
              </div>

              <div class="event_content">
                <% if @events.present? %>
                  <!-- listed events -->
                  <div class="event_inner_content">
                    <ul>
                      <% @events.each do |event| %>
                        <li>
                          <div>
                            <span class="evt_img_section">
                              <div class="evt_img_outter">
                                <% if event.image.present? %>
                                  <div class="evt_img"><%= link_to(cl_image_tag("#{event.image}", :transformation=>[{:gravity=>"face", :width => 600, :height => 320, :crop=>"fill"}]), event) %></div>
                                <% else %>
                                  <div class="evt_img"><%= link_to (image_tag("img_default_event.png")), event_path(event) %></div>
                                <% end %>
                              </div>
                            </span>
                            <span class="event_info_section">
                                <%= link_to event_path(event) do %>
                                <div class="evt_title"><%= truncate("#{event.name}", length: 27) %></div>
                                <div class="evt_minor_info evt_address"><%= truncate("#{event.address} #{event.postcode}", length: 40) %></div>
                                <div class="evt_minor_info evt_time"><%= "#{event.start_time.strftime("%b %d %Y")} - #{event.start_time.strftime("%I:%M%p")}" %> - <span><%= event.city %></span></div>
                                <div class="evt_minor_info evt_city_country">
                                  <span><%= event.category_country.name %></span>
                                  <span>|</span>
                                  <span class="evt_category"><%= event.category_event.name %></span>
                                </div>
                              <% end %>
                            </span>
                          </div>
                          <div class="bottom_line"></div>
                        </li>
                      <% end %>
                     
                    </ul>
                  </div>
                  <!-- listed events -->
                <% else %>
                  <!-- no_listed_info -->
                  <div><%= render "shared/no_listed_content" %></div>
                  <!-- no_listed_info -->
                <% end %>
              </div>
              
            </div>
          </div>

          <div class="medium-7 columns bottom_left">
            <div class="bottom_inner_left">
              <div class="video_title">
                <span>
                  <%= link_to "#{@sitemanagment.homepg_video}", target:"_blank" do %>
                    <span><i class="fa fa-youtube"></i></span>
                    <span class="vid_responsive">
                      <% if @sitemanagment.videotitle.present? %>
                        <span><%= truncate("#{@sitemanagment.videotitle}", length: 60) %></span>
                      <% else %>
                        <span><%= truncate("Abundant Life Easter Special - Pastor Daniel Akhazemea", length: 25) %></span>
                      <% end %>
                    </span>
                    <span class="vid_non_responsive">
                      <% if @sitemanagment.videotitle.present? %>
                        <span><%= truncate("#{@sitemanagment.videotitle}", length: 25) %></span>
                      <% else %>
                        <span><%= truncate("Abundant Life Easter Special - Pastor Daniel Akhazemea", length: 25) %></span>
                      <% end %>
                    </span>
                  <% end %>
                </span>
                <span class="video_header"><%= link_to "view more videos", "https://www.youtube.com/channel/UC04lsiRC0cEgW6I_VqGW77A/videos", target:"_blank" %></span>
              </div>

              <div class="video_section">
                <% if @sitemanagment.homepg_video.present? %>
                  <div class="video_frame">
                    <div><%= embed(@sitemanagment.homepg_video) %></div>
                  </div>
                <% else %>
                  <iframe src="https://www.youtube.com/embed/vBq9pvvaYoY" width="100%" height="315" frameborder="0" allowfullscreen></iframe>
                <% end %>
              </div>
            </div>
          </div>

        </div>
      </div>


    </div>
  </div>
</div>