<h1>content_ministryteampg</h1>
<div class="pages_boarder"></div>
<div class="medium-12 columns content_aboutuspg_section">
  <div class="content_aboutuspg_inner_section">
    <div class="medium-12 columns aboutuspg_content">
      <div class="tree_line">
        <span><%= link_to "home", root_path %></span>
        <span><i class="fa fa-angle-right"></i></span>
        <span><%= link_to "about us", about_us_path %></span>
        <span><i class="fa fa-angle-right"></i></span>
        <span><%= link_to "our people", our_people_path %></span>
        <span><i class="fa fa-angle-right"></i></span>
        <span class="current_page">ministry team leaders</span>
      </div>

      <div class="medium-12 columns page_main_content">
        <!-- info_left_content -->
        <div class="medium-8 columns info_left_content">
          <div class="page_information">
            <div class="page_header">about open heavens christian centre</div>
            <div class="page_img"><%= image_tag("img_default_mainimg.png") %></div>
            <div>
              <div class="paragraph_content">We are a community church in Edgware, London, passionate about the gospel of Jesus Christ. We believe that the gospel is the hope for the world, and the ultimate solution to the problems of mankind. We are excited to be part of the current move of the Holy Spirit in advancing the impact of the gospel among the nations.</div>

              <div class="paragraph_content">We are committed to developing and empowering individuals to turn their potentials into performance; their dreams into fulfilment; and to be effective in addressing human need with their gifts and talents. We seek to promote fruitful networking relationships with other Christians for the advancement of the kingdom of our Lord Jesus Christ among all peoples.</div>

              <div class="paragraph_content">We run separate services for adults, youth (ages 19-25) and children. The children’s church is divided into four classes (ages 5-8; 9-11; 12-15 and 16-19) and a crèche. Our youth church, Rebrand, comprise of young adults from ages 19-25 who are passionate about Jesus and about revival among their peers, We work with these young people to help them develop their skills and abilities for spiritual and social engagement, Holy Spirit encounters and enriching youth activities.</div>

              <div class="paragraph_content">We desire to create a church community that builds family rather than just attendance. So in addition to Sunday and Wednesday midweek services, we meet regularly in small groups weekly on convenient days in different locations around our community. The intention is that these groups are to nourish and care for members. This way each individual can find meaningful relationships and have a place to grow where they are known as well as the opportunity of being part of an exciting church community.</div>
            
              <div class="paragraph_content listed_donation_links">
                <ul>
                  <li><%= link_to "get connected", connect_path %></li>
                  <li><%= link_to "children & teenage corner", children_teenage_corner_path %></li>
                  <li><%= link_to "upcoming events", events_path %></li>
                  <li><%= link_to "service times", service_times_path %></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <!-- info_left_content -->

        <!-- info_right_content -->
        <%= render 'shared/content_service_times' %>
        <!-- info_right_content -->
      </div>

    </div>
  </div>
</div>