<!-- css file: content_memberteampg.css.scss -->
<div class="pages_boarder"></div>
<div class="medium-12 columns content_aboutuspg_section members_main_scetion">
  <div class="content_aboutuspg_inner_section members_inner_scetion">
    <div class="medium-12 columns aboutuspg_content">

      <div class="tree_line">
        <span><%= link_to "home", root_path %></span>
        <span><i class="fa fa-angle-right"></i></span>
        <span><%= link_to "about us", about_us_path %></span>
        <span><i class="fa fa-angle-right"></i></span>
        <span><%= link_to "our people", our_people_path %></span>
        <span><i class="fa fa-angle-right"></i></span>
        <span><%= link_to "pastoral team", pastoral_team_path %></span>
        <span><i class="fa fa-angle-right"></i></span>
        <span class="current_page">helen daniel</span>
      </div>

      <div class="medium-12 columns page_main_content">

        <!-- info_left_content -->
        <div class="medium-8 columns info_left_content">
          <!-- member -->
          <div class="member_detail_info">
            <div class="memeber_name">helen daniel</div>
            <div class="member_img_info">
              <div class="img_outter_cover">
                <div class="profile_image_cover"><%= cl_image_tag("https://res.cloudinary.com/openheavensuk/image/upload/v1548682664/pastoral%20team%20images/IMG-20180918-WA0016.jpg", class: "img_featured_01") %></div>
                <div class="img_content">
                  <div class="img_inner_content">
                    <div class="member_title">pastor</div>
                    <div class="member_subtitle">helen daniel</div>
                  </div>
                </div>
              </div>
              <div class="profile_bckgrd_img"><%= image_tag("img_profile_bckgrd.jpg") %></div>
            </div>
            <div class="member_about">
              <p>She has attended Open Heavens since the year 2000 and  has served in various roles  including Head of Ushering  & Team Lead (Discipleship). She was ordained a Deaconess in 2009 and became an Assistant Pastor in 2018. She is currently the Ministry Lead (Care Ministry) at Open Heavens.</p>
              <p>Helen holds a Bachelors degree in microbiology and having worked as quality assurance manager in a multinational organisation, she later trained as a Catering Chef. Helen has  several years experience in quality assurance management, catering and Customer services. She also holds certifications in the theology, catering & food quality management.</p>
              <p>She is passionate about women spiritual development & discipleship. Helen and her Husband, Shaiye, live in North London with their children.</p>
            </div>
          </div>
          <!-- member -->
        </div>
        <!-- info_left_content -->

        <!-- info_right_content -->
        <%= render 'shared/content_service_times' %>
        <!-- info_right_content -->
      
      </div>
    </div>
  </div>
</div>