<div class="pages_boarder"></div>
<div class="medium-12 columns content_ourpeoplepg_section">
  <div class="content_ourpeoplepg_inner_section">
    <div class="medium-12 columns ourpeoplepg_content">
      <div class="tree_line">
        <span><%= link_to "home", root_path %></span>
        <span><i class="fa fa-angle-right"></i></span>
        <span><%= link_to "about us", about_us_path %></span>
        <span><i class="fa fa-angle-right"></i></span>
        <span class="current_page">Our People</span>
      </div>

      <div class="medium-12 columns page_main_content">
        <!-- info_left_content -->
        <div class="medium-8 columns info_left_content">
          <div class="page_information">
            <div class="page_header">our people</div>
            <div class="page_img"><%= image_tag("img_default_mainimg.png") %></div>
            <div>
              <div class="paragraph_content">Open Heavens Christian Centre is able to function largely due to the selfless commitment of our members, who give their time to run the various parishes and ministries during the week and those that take place over each weekend. Popularly referred to as the church's 'volunteer workers', the activities of these volunteers are coordinated by a leadership structure made up of pastors and ministres who lead the various ministries</div>

              <div class="paragraph_content">
                <div><b>Board of Trustees</b></div>
                <div class="page_img"><%= image_tag("img_default_mainimg.png") %></div>
                Open Heavens Christian Centre is governed by a Trust deed and is controlled by a board of trustees.
              </div>

              <div class="paragraph_content">
                <div><b>Pastoral Board</b></div>
                <div class="page_img"><%= image_tag("img_default_mainimg.png") %></div>
                Spiritual oversight and direction is provided by a core group of leaders - supported by the other leadership strands - who have submitted themselves in the service of the church, its congregation and its local community. These leaders have come from different walks of life - including medicine, law, IT and marketing - and have lent the wealth of their experience to the organisation's growth.
              </div>

              <div class="paragraph_content">
                <div><b>Ministry Team Leaders</b></div>
                <div class="page_img"><%= image_tag("img_default_mainimg.png") %></div>
              </div>

              <div class="paragraph_content">
                <div><b>Church Office</b></div>
                The church office is the hub of operational and administrative activity at Open Heavens run by a core team of staff supported by several volunteers serving in different capacities to achieve the short, medium and long-term objectives of the church.
              </div>

              <div class="paragraph_content">
                <div><b>Where our people come from</b></div>
                Open Heavens Christian Centre reflects the diverse nature of its home city, London, with members of its congregation hailing from countries as diverse countries.
              </div>

            </div>
          </div>
        </div>
        <!-- info_left_content -->

        <!-- info_right_content -->
        <%= render 'shared/content_service_times' %>
        <!-- info_right_content -->
      </div>

    </div>
  </div>
</div>