<div class="pages_boarder"></div>
<div class="medium-12 columns content_faqspg_section">
  <div class="content_faqspg_inner_section">
    <div class="medium-12 columns faqs_content">
      <div class="tree_line">
        <span><%= link_to "home", root_path %></span>
        <span><i class="fa fa-angle-right"></i></span>
        <span><%= link_to "resources", resources_path %></span>
        <span><i class="fa fa-angle-right"></i></span>
        <span><%= link_to "useful services", useful_services_path %></span>
        <span><i class="fa fa-angle-right"></i></span>
        <span class="current_page">FAQs</span>
      </div>

      <div class="medium-12 columns page_main_content">
        <!-- info_left_content -->
        <div class="medium-8 columns info_left_content">
          <div class="page_information">
            <div class="page_header">frequently asked questions</div>
            <div class="page_img"><%= image_tag("img_default_mainimg.png") %></div>            
            <div class="paragraph_content">
              <b>What time is your Sunday worship service?</b>
              <div>Our worship service times is from 10:00am – 12noon, except on first Sunday of the month when we close at 12.30pm. The services include worship, prayers, testimonies, preaching of the word. There is also an after service fellowship and refreshments. There is pre-service Bible study (adult Sunday school) from 9.20am – 10am. Pre-service children Sunday school holds at the same time.  </div>
            </div>

            <div class="paragraph_content">
              <b>What Time is your midweek service?</b>
              <div>The midweek service holds every Wednesday from 7.00pm to 8.30pm. It is a period of interactive Bible study and prayers. This also provides an opportunity for fellowship.</div>
            </div>

            <div class="paragraph_content">
              <b>Do you have guest parking?</b>
              <div>Yes we have limited parking spaces in the church premises usually reserved as designated parking area for parents of small children, expectant mothers, senior adults and first time guests. Ample free parking spaces are available in streets around the church premises for other members. These are less than five minutes walk to the church.</div>
            </div>

            <div class="paragraph_content">
              <b>What is there for my Children? </b>
              <div>Open Heavens is a family orientated church and makes the children’s church a place of fun and spirituality. All our children’s teachers are well trained and have DBS certification. As part of security arrangements, a child check-in & check-out system is in operation. </div>
            </div>

            <div class="paragraph_content">
              <b>What is Discipleship?</b>
              <div>Discipleship is the process of growing and maturing in the teachings of the Christian faith. A disciple is a disciplined follower of Jesus Christ. When you become a Christian, the church has several provisions to help a new believer to grow in the faith. This may include some mentorship as well. For further resources to help your Christian development details can be obtained from the church office on 02089584040</div>
            </div>

            <div class="paragraph_content">
              <b>How do I join a discipleship group? </b>
              <div>We encourage every worshipper to join a group for discipleship, or volunteer for service. Small groups meet weekly for study and fellowship and we also have small prayer groups that meet weekly. These groups provide space to discipleship and fellowship. We also have ministry teams where you can volunteer to serve. You may indicate your interest by completing the appropriate form online or contact the church office by phone or email.</div>
            </div>

            <div class="paragraph_content">
              <b>How can I make donation to the church or church Projects?</b>
              <div>To make it easy to contribute to the church or her projects, several options are available. You may make your donations online via the website or make a bank transfer directly to our church account. You can get bank details from the church office on 02089584040. During worship services, offering envelopes are usually provided with details on how you can make your donations either in cash, cheque or debit/credit card. Please indicate the nature of your donation on the envelope or on your bank transfer document.</div>
            </div>

            <div class="paragraph_content">
              <b>How do I book an OHCC hall facility for an event? </b>
              <div>If you need to book one of our halls for an event, i.e. Meetings; Weddings, Birthdays, baby Christening etc. here are the steps:</div><br/>
              <div>Contact the church office to check the availability of the required hall. Give a brief summary about the nature of the event. If hall is available then a form will be sent to you to complete or you can download a copy from the website and complete and send back to the church office. <span class="weblink"><%= link_to "link", "#" %></span></div>
            </div>

            <div class="paragraph_content">
              <b>How may I become born again?</b>
              <div>To be born again involves repentance and faith in Jesus Christ as Lord and Saviour. If you haven’t yet placed your faith in Jesus as Saviour, you can make a heartfelt commitment to Christ by earnestly praying the following prayer and getting involved in the church for discipleship:</div><br/>
              <div>“Lord Jesus, I accept that I have sinned against You and I am sorry for all my sins. I believe You died for me on the Cross to take away my sins. I repent of my sins; please forgive me. I believe that through You, I can have a new life in God. By faith, I accept you into my heart as my Lord and my Saviour. I accept this new life in You. Thank you for accepting me as Your child”. Amen</div><br/>
              <div>Welcome to the family of God! You are now part of the Body of Christ. Congratulations!</div>
            </div>

            <div class="paragraph_content">
              <b>What Is Baptism?</b>
              <div>In the New Testament, water baptism is the complete immersion of the whole body in water in a ceremony conducted by the church as a follow-on to salvation.</div><br/>
              <div>We do water baptism by full immersion in water as taught in the Bible. Water baptism does not get you saved; only faith in Jesus Christ alone can get you saved</div>
            </div>

            <div class="paragraph_content">
              <b>Must I be saved to get baptized?</b>
              <div>Yes. If you are fully convinced and believe with all your heart that Jesus Christ is the Son of God and accept Him as your Lord and personal saviour, then you are qualified for water baptism. You will also need to attend the baptismal preparatory classes.</div>
            </div>

            <div class="paragraph_content">
              <b>How do I get baptised?</b>
              <div>To get baptised by full immersion in Open Heavens you must first register with the church office and attend compulsory preparatory classes. To find out how to register, you can enquire from the church office or complete a form on the website <span class="weblink"><%= link_to "link", "#" %></span></div>
            </div>

            <div class="paragraph_content">
              <b>How can I get involved in the church?</b>
              <div>There are many ways to get involved in the church life. A good way to start would be to attend a New Members’ Connect Sunday. Here, you will have the chance to find out more about the church and meet the Pastors, church leadership and other members. This will enable you gain a better understanding of what the church is about and the work that the various ministries do. We always welcome volunteers for different projects and events going in the church throughout the year. Please contact the church office or complete the form on the website if you are interested <span class="weblink"><%= link_to "link", "#" %></span></div>
            </div>

            <div class="paragraph_content">
              <b>What does the OHCC Volunteer workers training entail?</b>
              <div>It is a ten-week course and you will be required to attend weekly classes held at the church on Sundays from 8.30am – 9.30am. During these classes, you will go through different topics that are relevant to being a volunteer worker in the church. There is also a personal interview with the Pastor. After the interview, you will be assigned a relevant ministry where you are best suited.</div>
            </div>

            <div class="paragraph_content">
              <b>Can a visitor take communion?</b>
              <div>Yes! We take communion on the first Wednesday of the month as a reminder of God's gift to us in Jesus Christ. We believe in open communion, that means that anyone who believes in Jesus Christ is welcome to take communion, whether he or she is a church member or not.</div>
            </div>

            <div class="paragraph_content">
              <b>What kind of outreaches is the church involved in?</b>
              <div>Open Heavens is active in a variety of outreach ministries, both here in the UK and around the world. One local outreach is Christians Against Poverty (CAP). Here you can be a part of helping the less privilege come out of poverty. We also partner with other churches in the Edgware community to provide Food to families in need through the Edgware Food Bank. Global outreach is also an active part of our church.  We help with a number of ministries around the world; providing blankets, going on mission trips, helping respond to natural disasters and financially supporting missionaries.</div>
            </div>

            <div class="paragraph_content">
              <b>With whom do I talk if I want to know more?</b>
              <div>We would love to answer any questions that you may have about Open Heaven Christian Centre. If you have not found answers to your enquiry on our website, please email Church Office at <span class="weblink"><%= mail_to "info@openheavens.org.uk" %></span> or call 0208 958 4040</div>
            </div>

          </div>
        </div>
        <!-- info_left_content -->

        <!-- info_right_content -->
        <%= render 'shared/content_service_times' %>
        <!-- info_right_content -->
      </div>

    </div>
  </div>
</div>