<div class="pages_boarder"></div>
<div class="medium-12 columns content_receivechristpg_section">
  <div class="content_receivechristpg_inner_section">
    <div class="medium-12 columns receivechristpg_content">
      <div class="tree_line">
        <span><%= link_to "home", root_path %></span>
        <span><i class="fa fa-angle-right"></i></span>
        <span><%= link_to "grow", grow_path %></span>
        <span><i class="fa fa-angle-right"></i></span>
        <span class="current_page">Receive Christ</span>
      </div>

      <div class="medium-12 columns page_main_content">
        <!-- info_left_content -->
        <div class="medium-8 columns info_left_content">
          <div class="page_information">
            <div class="page_header">Receive Christ (The New Birth)</div>
            <div class="page_img"><%= image_tag("img_default_mainimg.png") %></div>
            <div>
              <div class="paragraph_content">The greatest decision of a person makes in life is to accept the forgiveness of sins provided for mankind through the death of Jesus Christ on the Cross. Salvation through Jesus is a free gift; it is not earned by ticking the boxes on a list of good works. Forgiveness of sins comes only by faith in Jesus. This faith begins when you are sorry for your sins, confess them to God and ask Jesus to forgive you and be the leader of your life. </div>

              <div class="paragraph_content">You need to ask God to help you live a new and changed life that honours him. You don’t have to know a lot of fancy religious terms. Just tell God that you know you have sinned. Express your sorrow over your sin and ask for the forgiveness that comes through the price Jesus paid when he died on the cross.</div>

              <div class="paragraph_content">Then invite Jesus to enter your life and to lead you from this moment on, all the way into eternity. You can express this prayer in your own words, or you can use the following prayer:</div>

              <div class="paragraph_content quote">"Dear God, I am coming to you to express that I need you, that maybe I need you more than I have ever known. I want to admit my sins. I have thought things, said things, and done things that do not please you. [At this point, you might want to specify some of the sins you are sorry about.] I realize that my sins cause me to be under a death sentence. I have also come to know you sent Jesus, your only Son, to pay the price for my sins by dying in my place. Jesus, I thank you for paying the price for me. I need your forgiveness, and I want you to enter my life and become my leader from this moment on. Thank you for all you have done and all you will do in my life. Amen!"</div>

              <div class="paragraph_content">When you have said this prayer, you can be confident that you are now in a restored relationship with God and that all of your sins are forgiven. This begins your journey of faith - the new birth.</div>

              <div class="paragraph_content">
                <b>Reflect on the following assuring Bible passages:</b>
                <ul>
                  <li>If we confess our sins, he is faithful and just and will forgive us our sins and purify us from all unrighteousness. — <%= link_to "1 John 1:9", "https://www.biblegateway.com/passage/?search=1+John+1%3A9&version=NIV", class: "weblink", target:"_blank" %></li>
                  <li>As far as the east is from the west, so far has he removed our transgressions from us. — <%= link_to "Psalm 103:12", "https://www.biblegateway.com/passage/?search=Psalm+103%3A12&version=NIV", class: "weblink", target:"_blank" %></li>
                  <li>If you confess with your mouth, “Jesus is Lord,” and believe in your heart that God raised him from the dead, you will be saved. — <%= link_to "Romans 10:9", "https://www.biblegateway.com/passage/?search=Romans+10%3A9-10&version=NIV", class: "weblink", target:"_blank" %></li>
                </ul>
              </div>

              <div class="paragraph_content">
                <b>Next Steps</b>
                <div>Congratulations! We’re very excited you’ve committed your life to Jesus as your Saviour and Lord. This is an exciting time for which there are angels in heaven rejoicing!</div>
                <ul>
                  <li>If you’re part of a Bible believing church, please make sure you let them know you just made this great step of faith.</li>
                  <li>If you’re looking for a church home, we hope you’ll join us here at Shoreline.  We have our Sunday services at 10:00 am. Click <%= link_to "here", about_us_path, class: "weblink" %> for more info.</li>
                  <li>In either case, take a look at our recommended <%= link_to "Next Steps", next_steps_path, class: "weblink" %> to help you in these important first days as you learn about following Jesus Christ as your Lord and Savior.</li>
                </ul>
                <div>We’d love to hear from you and help you along your journey.  Email us at <span class="weblink"><%= mail_to "info@openheavens.org.uk" %></span> if you have any questions.</div>
              </div>
            </div>
          </div>
        </div>
        <!-- info_left_content -->

        <!-- info_right_content -->
        <%= render 'shared/content_service_times' %>
        <!-- info_right_content -->
      </div>

    </div>
  </div>
</div>



