<div class="medium-12 columns nav_section nav_admin_section">
  <header class="medium-12 columns nav_inner_main_section">
    <div class="nav_inner_section">

      <!-- upper_header_content -->
      <div class="medium-12 columns upper_header_content">
        <div class="header_inner_content">
          <nav class="nav_list_upper">
            <div class="logo_special"><%= link_to(image_tag("img_logo01.png"), root_path) %></div>
            <ul>
              <% if user_signed_in? %>
                <li>
                  <span>
                    <span><i class="fa fa-user"></i></span>
                    <span><%= link_to "#{current_user.firstname}'s Profile", user_path(current_user) %></span>
                  </span>
                  <span>|</span>
                  <span><%= link_to "Logout", destroy_user_session_path, method: :delete %></span>
                </li>
                <% if user_signed_in? %>
                  <li>
                    <span><i class="fa fa-cogs"></i></span>
                    <span><%= link_to "admin panel", content_management_user_path(current_user) %></span>
                  </li>
                <% end %>
                <li>
                  <span><i class="fa fa-credit-card"></i></span>
                  <span><%= link_to "donate", donations_path %></span>
                </li>
                <li>
                  <span><i class="fa fa-home"></i></span>
                  <span><%= link_to "homepage", root_path %></span>
                </li>
                <li class="date"><%= Date.today.strftime("%b %d, %Y") %></li>
              <% else %>
                <li>
                  <span>
                    <span><i class="fa fa-user"></i></span>
                    <span>For more</span>
                    <span><%= link_to "login", new_user_session_path %></span>
                  </span>
                  <span>|</span>
                  <span><%= link_to "register", new_user_registration_path %></span>
                </li>
                <li>
                  <span><i class="fa fa-credit-card"></i></span>
                  <span><%= link_to "donate", donations_path %></span>
                </li>
                <li>
                  <span><i class="fa fa-home"></i></span>
                  <span><%= link_to "homepage", root_path %></span>
                </li>
                <li class="date"><%= Date.today.strftime("%b %d, %Y") %></li>
              <% end %>
            </ul>
          </nav>
        </div>
      </div>
      <div class="clear"></div>

    </div>
  </header>
</div>
<div class="clear"></div>