<div class="medium-12 columns nav_section">
  <header class="medium-12 columns nav_inner_main_section">
    <div class="nav_inner_section">

      <!-- upper_header_content -->
      <div class="medium-12 columns upper_header_content">
        <div class="header_inner_content">
          <nav class="nav_list_upper">
            <ul>
              <% if user_signed_in? %>
                <li class="user_name"><%= link_to "#{current_user.firstname}'s Profile", user_path(current_user) %></li>
                <li><%= link_to "Members", users_path %></li>
                <li><%= link_to "Sign-out", destroy_user_session_path, method: :delete %></li>
              <% else %>
                <li>
                  <span>
                    <span><i class="fa fa-user"></i></span>
                    <span>For more</span>
                    <span><%= link_to "login", new_user_session_path %></span>
                  </span>
                  <span>|</span>
                  <span><%= link_to "register", new_user_registration_path %></span>
                </li>
                <li>
                  <span><i class="fa fa-home"></i></span>
                  <span><%= link_to "homepage", root_path %></span>
                </li>
                <li class="date"><%= Date.today.strftime("%b %d, %Y") %></li>
              <% end %>
            </ul>
          </nav>
        </div>
      </div>

      <div class="clear"></div>

      <!-- lower_header_content -->
      <div class="medium-12 columns lower_header_content">
        <div class="header_inner_content">
          <div class="img_container">
            <span><%= link_to (image_tag("img_logo00.png")), root_path %></span>
          </div>
          <nav class="nav_list_lower">
            <ul class="medium-12 columns listed_contents">  
             
             <li>
                <div><%= link_to 'contact', '#', id: "link_contact", class: "main_links" %></div>
                <div id="linkContainer_contact">
                  <div id="linkBody_contact" class="listed_link">
                    <ul>
                      <li><%= link_to "giving", "#" %></li>
                      <li><%= link_to "service times", "#" %></li>
                      <li><%= link_to "get connected", "#" %></li>
                      <li><%= link_to "contact list", "#" %></li>
                      <li><%= link_to "directions", "#" %></li>
                    </ul>
                  </div>
                </div>
              </li>

              <li>
                <div><%= link_to 'resources', '#', id: "link_resources", class: "main_links" %></div>
                <div id="linkContainer_resources">
                  <div id="linkBody_resources" class="listed_link">
                    <ul>
                      <li><%= link_to "multimedia portal", "#" %></li>
                      <li><%= link_to "useful services", "#" %></li>
                      <li><%= link_to "careers & volunteers", "#" %></li>
                      <li><%= link_to "kids", "#" %></li>
                    </ul>
                  </div>
                </div>
              </li>

              <li><div><%= link_to 'grow', '#', id: "link_grow", class: "main_links" %></div></li>
              
              <li>
                <div><%= link_to 'events', '#', id: "link_events", class: "main_links" %></div>
                <div id="linkContainer_events">
                  <div id="linkBody_events" class="listed_link">
                    <ul>
                      <li><%= link_to "our people", "#" %></li>
                      <li><%= link_to "our core values", "#" %></li>
                      <li><%= link_to "statement of faith", "#" %></li>
                      <li><%= link_to "who is Jesus", "#" %></li>
                    </ul>
                  </div>
                </div>
              </li>

              <li>
                <div><%= link_to 'connect', '#', id: "link_connect", class: "main_links" %></div>
                <div id="linkContainer_connect">
                  <div id="linkBody_connect" class="listed_link">
                    <ul>
                      <li><%= link_to "bible studies", "#" %></li>
                      <li><%= link_to "minitries", "#" %></li>
                      <li><%= link_to "discussions", "#" %></li>
                      <li><%= link_to "youth zone", "#" %></li>
                      <li><%= link_to "deep wells", "#" %></li>
                      <li><%= link_to "galleries", "#" %></li>
                    </ul>
                  </div>
                </div>
              </li>

              <li><div><%= link_to 'serve', '#', id: "link_serve", class: "main_links" %></div></li>
              
              <li>
                <div><%= link_to 'about us', '#', id: "link_aboutus", class: "main_links" %></div>
                <div id="linkContainer_aboutus">
                  <div id="linkBody_aboutus" class="listed_link">
                    <ul>
                      <li><%= link_to "our people", "#" %></li>
                      <li><%= link_to "our core values", "#" %></li>
                      <li><%= link_to "statement of faith", "#" %></li>
                      <li><%= link_to "who is Jesus", "#" %></li>
                    </ul>
                  </div>
                </div>
              </li>

              <li><%= link_to "home", "#", class: "active main_links" %></li>

            </ul>
          </nav>
        </div>
      </div>

    </div>
  </header>
</div>
<div class="clear"></div>











