<div class="medium-12 columns nav_section">
  <header class="medium-12 columns nav_inner_main_section">
    <div class="nav_inner_section">

      <!-- upper_header_content -->
      <div class="medium-12 columns upper_header_content">
        <div class="header_inner_content">
          <nav class="nav_list_upper">
            <ul>
              <% if user_signed_in? %>
                <li>
                  <span>
                    <span><i class="fa fa-user"></i></span>
                    <span><%= link_to "#{current_user.firstname}'s Profile", user_path(current_user) %></span>
                  </span>
                  <span>|</span>
                  <span><%= link_to "Logout", destroy_user_session_path, method: :delete %></span>
                </li>
                <% if user_signed_in? %>
                  <li>
                    <span><i class="fa fa-cogs"></i></span>
                    <span><%= link_to "admin panel", dashboard_user_path(current_user) %></span>
                  </li>
                <% end %>
                <li>
                  <span><i class="fa fa-credit-card"></i></span>
                  <span><%= link_to "donate", donations_path %></span>
                </li>
                <li>
                  <span><i class="fa fa-home"></i></span>
                  <span><%= link_to "homepage", root_path %></span>
                </li>
                <li class="date"><%= Date.today.strftime("%b %d, %Y") %></li>
              <% else %>
                <li>
                  <span>
                    <span><i class="fa fa-user"></i></span>
                    <span>For more</span>
                    <span><%= link_to "login", new_user_session_path %></span>
                  </span>
                  <span>|</span>
                  <span><%= link_to "register", new_user_registration_path %></span>
                </li>
                <li>
                  <span><i class="fa fa-credit-card"></i></span>
                  <span><%= link_to "donate", donations_path %></span>
                </li>
                <li>
                  <span><i class="fa fa-home"></i></span>
                  <span><%= link_to "homepage", root_path %></span>
                </li>
                <li class="date"><%= Date.today.strftime("%b %d, %Y") %></li>
              <% end %>
            </ul>
          </nav>
        </div>
      </div>

      <div class="clear"></div>

      <!-- lower_header_content -->
      <div class="medium-12 columns lower_header_content">
        <div class="header_inner_content">
          <div class="img_container">
            <span><%= link_to (image_tag("img_logo00.png")), root_path %></span>
          </div>
          <nav class="nav_list_lower">
            <ul class="medium-12 columns listed_contents">  
             
             <li>
                <div><%= link_to 'contact', contact_path, id: "link_contact", class: "main_links" %></div>
                <div id="linkContainer_contact">
                  <div id="linkBody_contact" class="listed_link">
                    <ul>
                      <li><%= link_to "service times", service_times_path %></li>
                      <li><%= link_to "get connected", get_connected_path %></li>
                      <li><%= link_to "contact list", contact_list_path %></li>
                      <li><%= link_to "directions", "#" %></li>
                    </ul>
                  </div>
                </div>
              </li>

              <li>
                <div><%= link_to 'resources', '#', id: "link_resources", class: "main_links" %></div>
                <div id="linkContainer_resources">
                  <div id="linkBody_resources" class="listed_link">
                    <ul>
                      <li><%= link_to "the bible", "#" %></li>
                      <li><%= link_to "media & com", "#" %></li>
                      <li><%= link_to "careers & volunteers", "#" %></li>
                      <li><%= link_to "useful services", "#" %></li>
                      <li><%= link_to "broadfields resource centre", "#" %></li>
                    </ul>
                  </div>
                </div>
              </li>

              <li>
                <div><%= link_to 'grow', grow_path, id: "link_grow", class: "main_links" %></div>
                <div id="linkContainer_grow">
                  <div id="linkBody_grow" class="listed_link">
                    <ul>
                      <li><%= link_to "receive christ", receive_christ_path %></li>
                      <li><%= link_to "next steps", next_steps_path %></li>
                      <li><%= link_to "the bible and you", bible_and_you_path %></li>
                      <li><%= link_to "leadership development", leadership_development_path %></li>
                      <li><%= link_to "small groups", small_groups_path %></li>
                    </ul>
                  </div>
                </div>
              </li>
              
              <li>
                <div><%= link_to 'events', events_path, id: "link_events", class: "main_links" %></div>
                <div id="linkContainer_events">
                  <div id="linkBody_events" class="listed_link">
                    <ul>
                      <li><%= link_to "calendar event", calendar_events_events_path %></li>
                      <li><%= link_to "youth events", youth_events_events_path %></li>
                      <li><%= link_to "church events", church_events_events_path %></li>
                      <li><%= link_to "community events", community_events_events_path %></li>
                      <li><%= link_to "national events", national_events_events_path %></li>
                    </ul>
                  </div>
                </div>
              </li>

              <li>
                <div><%= link_to 'connect', connect_path, id: "link_connect", class: "main_links" %></div>
                <div id="linkContainer_connect">
                  <div id="linkBody_connect" class="listed_link">
                    <ul>
                      <li><%= link_to "ministries", listed_ministries_launchministries_path %></li>
                      <li><%= link_to "youth", youth_path %></li>
                      <li><%= link_to "forum", forum_path %></li>
                      <li><%= link_to "galleries", galleries_path %></li>
                      <li><%= link_to "children & Teenage corner", children_teenage_corner_path %></li>
                    </ul>
                  </div>
                </div>
              </li>

              <li>
                <div><%= link_to 'serve', serve_path, id: "link_serve", class: "main_links" %></div>
                <div id="linkContainer_serve">
                  <div id="linkBody_serve" class="listed_link">
                    <ul>
                      <li><%= link_to "in our church", our_church_path %></li>
                      <li><%= link_to "in our community", our_community_path %></li>
                      <li><%= link_to "around the world", around_the_world_path %></li>
                      <li><%= link_to "got a ministry idea", ministry_idea_path %></li>
                    </ul>
                  </div>
                </div>
              </li>

              <li>
                <div><%= link_to 'about us', about_us_path, id: "link_aboutus", class: "main_links" %></div>
                <div id="linkContainer_aboutus">
                  <div id="linkBody_aboutus" class="listed_link">
                    <ul>
                      <li><%= link_to "about OHCC", about_us_path %></li>
                      <li><%= link_to "mission & vision statement", mission_vision_statement_path %></li>
                      <li><%= link_to "our people", our_people_path %></li>
                      <li><%= link_to "statement of faith", statement_of_faith_path %></li>
                    </ul>
                  </div>
                </div>
              </li>
              
              <li class="hide">
                <div><%# link_to 'about us', about_us_path, id: "link_aboutus", class: "main_links" %></div>
                <div id="linkContainer_aboutus">
                  <div id="linkBody_aboutus" class="listed_link">
                    <ul class="vertical medium-horizontal menu" data-responsive-menu="accordion medium-dropdown">
                      <li>
                        <%= link_to "our people", "#" %>
                        <ul class="vertical menu">
                          <li><a href="#">Item 1A</a></li>
                          <li><a href="#">Item 1B</a></li>
                          <li><a href="#">Item 1C</a></li>
                          <li><a href="#">Item 1D</a></li>
                          <li><a href="#">Item 1E</a></li>
                        </ul>
                      </li>
                      <li><%= link_to "our core values", "#" %></li>
                      <li><%= link_to "statement of faith", "#" %></li>
                      <li><%= link_to "who is Jesus", "#" %></li>
                    </ul>
                  </div>
                </div>
              </li>

              <li><%= link_to "home", root_path, class: "active main_links" %></li>

            </ul>
          </nav>
        </div>
      </div>

    </div>
  </header>
</div>
<div class="clear"></div>