<div class="medium-12 columns nav_section">
  <header class="nav_inner_section">
    <nav class="nav_list">
      <ul>
        <% if user_signed_in? %>
          <li class="user_name"><%= link_to "#{current_user.firstname}'s Profile", user_path(current_user) %></li>
          <li><%= link_to "Members", users_path %></li>
          <li><%= link_to "Sign-out", destroy_user_session_path, method: :delete %></li>
        <% else %>
          <li>
            <span><%= link_to "register", new_user_registration_path %></span>
            <span><%= link_to "login", new_user_session_path %></span>
          </li>
          <li>
            <span><i class="fa fa-home"></i></span>
            <span><%= link_to "Homepage", root_path %></span>
          </li>
          <li>hello</li>
        <% end %>
      </ul>
    </nav>
  </header>
</div>
<div class="clear"></div>