<div class="reveal modal_general_design_all" id="modal_user_practicalneed_comments" data-reveal>
  <div class="modal_header"><%= "#{@user.firstname}'s" %> posted comments in practical needs [<%= @user_practicalneed_comments.count %>]</div>
  <div class="modal_content">
    
    <% if @user_practicalneed_comments.present? %>
      <!-- listed contents -->
      <div class="subcontent">Posted solutions provided by you <span>|</span> <%= link_to "Pratical Needs", practical_needs_path %></div>
      <div>
        <ul class="listed_content">
          <% @user_practicalneed_comments.each do |comment| %>
            <li class="main_content" style="margin-bottom: 20px;">
              <div>
                <ul>
                  <li class="content">
                    <span class="username"><%= comment.user.firstname %></span>
                    <span><%= comment.content %></span>
                  </li>
                </ul>
              </div>

              <div class="topic">
                <span><%= link_to "Topic: #{comment.commentable.title}", practicalneed_path(comment.commentable) %></span>
                <span>|</span>
                <span>posted:</span>
                <span><%= comment.created_at.strftime("%b %d, %Y") %></span>
              </div>
            </li>
          <% end %>
        </ul>
      </div>
      <!-- listed contents -->
    <% else %>
      <!-- no_listed_info -->
        <div><%= render "shared/no_listed_content" %></div>
      <!-- no_listed_info -->
    <% end %>

  </div>
  <button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>