<div class="reveal modal_general_design_all" id="modal_user_posted_practicalneeds" data-reveal>
  <div class="modal_header"><%= @user.firstname %> posted practical needs [<%= @user.jobs.count %>]</div>
  <div class="modal_content">

    <% if @user.practicalneeds.present? %>
      <!-- listed contents -->
      <div class="subcontent">Listed current practical needs posted you</div>
      <div>
        <ul>
          <% @user.practicalneeds.each do |praticalneed| %>
            <li>
              <div>
                <span><%= link_to "#{praticalneed.title}", practicalneed_path(praticalneed) %></span>
                <span>|</span>
                <span>solutions: </span>
                <span><%= praticalneed.comments.count %></span>
                <span>|</span>
                <span>posted:</span>
                <span><%= praticalneed.created_at.strftime("%b %d, %Y") %></span>
              </div>
            </li>
          <% end %>
        </ul>
      </div>
      <!-- listed contents -->
    <% else %>
      <!-- no_listed_info -->
        <div><%= render "shared/no_listed_content" %></div>
      <!-- no_listed_info -->
    <% end %>

  </div>
  <button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>