<div class="reveal modal_general_design_all" id="modal_user_joined_groups" data-reveal>
  <div class="modal_header"><%= "#{@user.firstname}'s" %> groups [<%= @user.attending_groups.count %>]</div>
  <div class="modal_content">

    <% if @user.attending_groups.present? %>
      <!-- listed contents -->
      <div class="subcontent">Listed groups you have joined <span>|</span> <%= link_to "Small Groups", small_groups_path %></div>
      <div>
        <ul>
          <% @user.attending_groups.each do |group| %>
            <li>
              <div>
                <span><%= link_to "#{group.name}", smallgroup_path(group) %></span>
                <span>|</span>
                <span>members:</span>
                <span><%= group.attendances.count %></span>
                <span>|</span>
                <span>created:</span>
                <span><%= group.created_at.strftime("%b %d, %Y") %></span>
              </div>
            </li>
          <% end %>
        </ul>
      </div>
      <!-- listed contents -->
    <% else %>
      <!-- no_listed_info -->
        <div><%= render "shared/no_listed_content" %></div>
      <!-- no_listed_info -->
    <% end %>

  </div>
  <button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>