<div class="medium-12 columns responsive_header_section">
  <div class="responsive_header_inner_section">
    <div class="rep_logo">
      <div class="rep_inner_logo">
        <%= link_to root_path do %>
          <div><%= image_tag("img_logo02.png") %></div>
          <div class="rep_logo_title">open heavens christian church</div>
        <% end %>
      </div>
    </div>
    <div class="rep_button">
      <i class="fa fa-bars"></i>
    </div>
    <div class="rep_content menu_wrap">
      <div class="menu_items">

        <ul class="vertical menu accordion-menu" data-accordion-menu>
          <li>
            <%= link_to "about us", about_us_path %>
            <ul class="menu vertical nested">
              <li><%= link_to "about OHCC", about_us_path %></li>
              <li><%= link_to "mission & vision statement", mission_vision_statement_path %></li>
              <li><%= link_to "our people", our_people_path %></li>
              <li><%= link_to "statement of faith", statement_of_faith_path %></li>
            </ul>
          </li>
          <li><%= link_to "donate", donations_path %></li>
          <li>
            <%= link_to "serve", serve_path %>
            <ul class="menu vertical nested">
              <li><%= link_to "in our church", our_church_path %></li>
              <li><%= link_to "in our community", our_community_path %></li>
              <li><%= link_to "around the world", around_the_world_path %></li>
              <li><%= link_to "got a ministry idea", ministry_idea_path %></li>
            </ul>
          </li>
          <li>
            <%= link_to "connect", connect_path %>
            <ul class="menu vertical nested">
              <li><%= link_to "ministries", listed_ministries_launchministries_path %></li>
              <li><%= link_to "youth", youth_path %></li>
              <li><%= link_to "forum", forum_path %></li>
              <li><%= link_to "galleries", galleries_path %></li>
              <li><%= link_to "kidz corner/teenage corner", children_teenage_corner_path %></li>
            </ul>
          </li>
          <li>
            <%= link_to "events", events_path %>
            <ul class="menu vertical nested">
              <li><%= link_to "calendar event", calendar_events_events_path %></li>
              <li><%= link_to "youth events", youth_events_events_path %></li>
              <li><%= link_to "church events", church_events_events_path %></li>
              <li><%= link_to "community events", community_events_events_path %></li>
              <li><%= link_to "national events", national_events_events_path %></li>
            </ul>
          </li>
          <li>
            <%= link_to "grow", grow_path %>
            <ul class="menu vertical nested">
              <li><%= link_to "receive christ", receive_christ_path %></li>
              <li><%= link_to "next steps", next_steps_path %></li>
              <li><%= link_to "the bible and you", bible_and_you_path %></li>
              <li><%= link_to "leadership and development", leadership_development_path %></li>
              <li><%= link_to "small groups", small_groups_path %></li>
            </ul>
          </li>
          <li>
            <%= link_to "resources", "#" %>
            <ul class="menu vertical nested">
              <li><%= link_to "the bible", "#" %></li>
              <li><%= link_to "media & communications", "#" %></li>
              <li><%= link_to "career & volunteering", "#" %></li>
              <li><%= link_to "useful sevices", "#" %></li>
            </ul>
          </li>
          <li>
            <%= link_to "member", "#" %>
            <ul class="menu vertical nested">
              <% if user_signed_in? %>
                <li><span><%= link_to "#{current_user.firstname}'s Profile", user_path(current_user) %></li>
                <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
              <% else %>
                <li><%= link_to "login", new_user_session_path %></li>
                <li><%= link_to "register", new_user_registration_path %></li>
              <% end %>

            </ul>
          </li>
          <li>
            <%= link_to "contact", contact_path %>
            <ul class="menu vertical nested">
              <li><%= link_to "service times", service_times_path %></li>
              <li><%= link_to "get connected", get_connected_path %></li>
              <li><%= link_to "contact list", contact_list_path %></li>
              <li><%= link_to "directions", "#" %></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>

  </div>
</div>