<div class="medium-12 columns responsive_header_section">
  <div class="responsive_header_inner_section">
    <div class="rep_logo">
      <div class="rep_inner_logo">
        <%= link_to "#" do %>
          <div><%= image_tag("img_logo02.png") %></div>
          <div class="rep_logo_title">open heavens christian church</div>
        <% end %>
      </div>
    </div>
    <div class="rep_button">
      <i class="fa fa-bars"></i>
    </div>
    <div class="rep_content menu_wrap">
      <div class="menu_items">

        <ul class="vertical menu accordion-menu" data-accordion-menu>
          <li>
            <%= link_to "about us", "#" %>
            <ul class="menu vertical nested">
              <li><%= link_to "about OHCC", "#" %></li>
              <li><%= link_to "mission & vision statement", "#" %></li>
              <li><%= link_to "our people", "#" %></li>
              <li><%= link_to "statement of faith", "#" %></li>
            </ul>
          </li>
          <li>
            <%= link_to "serve", "#" %>
            <ul class="menu vertical nested">
              <li><%= link_to "in our church", "#" %></li>
              <li><%= link_to "in our community", "#" %></li>
              <li><%= link_to "around the world", "#" %></li>
              <li><%= link_to "got a ministry idea", "#" %></li>
            </ul>
          </li>
          <li>
            <%= link_to "connect", "#" %>
            <ul class="menu vertical nested">
              <li><%= link_to "ministries", "#" %></li>
              <li><%= link_to "youth", "#" %></li>
              <li><%= link_to "forum", "#" %></li>
              <li><%= link_to "galleries", "#" %></li>
              <li><%= link_to "kidz corner/teenage corner", "#" %></li>
            </ul>
          </li>
          <li>
            <%= link_to "events", "#" %>
            <ul class="menu vertical nested">
              <li><%= link_to "calendar event", "#" %></li>
              <li><%= link_to "youth events", "#" %></li>
              <li><%= link_to "church events", "#" %></li>
              <li><%= link_to "community events", "#" %></li>
              <li><%= link_to "national events", "#" %></li>
            </ul>
          </li>
          <li>
            <%= link_to "grow", "#" %>
            <ul class="menu vertical nested">
              <li><%= link_to "receive christ", "#" %></li>
              <li><%= link_to "next steps", "#" %></li>
              <li><%= link_to "the bible and you", "#" %></li>
              <li><%= link_to "leadership and development", "#" %></li>
              <li><%= link_to "small groups", "#" %></li>
            </ul>
          </li>
          <li>
            <%= link_to "resources", "#" %>
            <ul class="menu vertical nested">
              <li><%= link_to "the bible", "#" %></li>
              <li><%= link_to "media & communications", "#" %></li>
              <li><%= link_to "career & volunteering", "#" %></li>
              <li><%= link_to "useful sevices", "#" %></li>
            </ul>
          </li>
          <li>
            <%= link_to "contact", "#" %>
            <ul class="menu vertical nested">
              <li><%= link_to "service times", "#" %></li>
              <li><%= link_to "get connected", "#" %></li>
              <li><%= link_to "contact list", "#" %></li>
              <li><%= link_to "directions", "#" %></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>

  </div>
</div>