<div class="pages_boarder"></div>
<div class="medium-12 columns content_communityeventspg_section">
  <div class="content_communityeventspg_inner_section">
    <div class="medium-12 columns communityeventspg_content">
      <div class="tree_line">
        <span><%= link_to "home", root_path %></span>
        <span><i class="fa fa-angle-right"></i></span>
        <span><%= link_to "events", events_path %></span>
        <span><i class="fa fa-angle-right"></i></span>
        <span class="current_page">community events</span>
      </div>

      <div class="medium-12 columns page_main_content">
        <!-- info_left_content -->
        <div class="medium-8 columns info_left_content">
          <div class="page_information">
            <div class="page_header">community events</div>
            <div class="calendar_section">

              <% if @events.present? %>
                <!-- listed events -->
                <div class="event_content">
                  <div class="event_inner_content">
                    <ul>
                      <% @events.each do |event| %>
                        <li>
                          <div>
                            <span class="evt_img_section">
                              <div class="evt_img_outter">
                                <% if event.link.present? %>
                                  <div class="evt_img"><%= link_to(cl_image_tag("#{event.link}", :transformation=>[{:gravity=>"face", :width => 600, :height => 320, :crop=>"fill"}]), event) %></div>
                                <% elsif event.image.present? %>
                                  <div class="evt_img"><%= link_to(cl_image_tag("#{event.image}", :transformation=>[{:gravity=>"face", :width => 600, :height => 320, :crop=>"fill"}]), event) %></div>
                                <% else %>
                                  <div class="evt_img"><%= link_to (image_tag("img_default_event.png")), event_path(event) %></div>
                                <% end %>
                              </div>
                            </span>
                            <span class="event_info_section">
                              <%= link_to event_path(event), target:"_blank" do %>
                                <div class="evt_title"><%= truncate("#{event.name}", length: 45) %></div>
                                <div class="evt_minor_info evt_time">
                                  <span><b>date:</b></span>
                                  <span><%= event.start_time.strftime("%b %d %Y") %></span>  
                                  <span class="listevt_divider">|</span>
                                  <span><b>time:</b></span>
                                  <span><%= "#{event.start_time.strftime("%I:%M%p")}" %> - <%= "#{event.end_time.strftime("%I:%M%p")}" %></span>
                                </div>
                                <div class="evt_minor_info evt_address"><b>location:</b> <%= truncate("#{event.address}", length: 60) %></div>
                                <div class="evt_minor_info evt_city_country">
                                  <span><b>city:</b></span>
                                  <span><%= event.city %></span>
                                  <span><b>country:</b></span>
                                  <span><%= event.category_country.name %></span>
                                </div>
                                <div class="evt_minor_info evt_address">
                                  <span><b>category:</b></span>
                                  <span class="evt_category"><%= event.category_event.name %></span>
                                </div>
                              <% end %>
                            </span>
                          </div>
                        </li>
                        <div class="clear"></div>
                      <% end %>
                    </ul>
                  </div>
                </div>
                <!-- listed events -->
              <% else %>
                <!-- no_listed_info -->
                  <div><%= render "shared/no_listed_content" %></div>
                <!-- no_listed_info -->
              <% end %>

            </div>
          </div>
        </div>
        <!-- info_left_content -->

        <!-- info_right_content -->
        <%= render 'shared/content_service_times' %>
        <!-- info_right_content -->
      </div>

    </div>
  </div>
</div>


