<%= simple_form_for [@user, @event] do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :user_id %>
    <%= f.input :name %>
    <%= f.input :start_time %>
    <%= f.input :end_time %>
    <%= f.association :category_event, collection: CategoryEvent.all, prompt: "select a category", label: "Event Category" %>

    <%= f.input :description %>
    <%= f.input :address %>
    <%= f.input :city %>
    <%= f.association :category_country, collection: CategoryCountry.all, prompt: "select a category", label: "Country Category" %>
    <%= f.input :postcode %>
    <%= f.input :link %>
    <%= f.input :approve, as: :boolean %>
    <%= f.input :close, as: :boolean %>
    <%# f.input :image %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
