<div class="pages_boarder"></div>
<div class="medium-12 columns eventform_section">
  <div class="eventform_inner_section">
    <div class="medium-12 columns eventform_content">
      <div class="tree_line">
        <span><i class="fa fa-user"></i></span>
        <span><%= link_to "#{current_user.firstname}", user_path(current_user) %></span>
        <span><i class="fa fa-angle-right"></i></span>
        <span><%= link_to "admin panel", dashboard_user_path(current_user) %></span>
        <span><i class="fa fa-angle-right"></i></span>
        <span><%= link_to "stats events", stats_events_user_path(current_user) %></span>
        <span><i class="fa fa-angle-right"></i></span>
        <span class="current_page">
          <% if action_name == 'new'  %>
            <span>create event</span>
          <% else %>
            <span>update event</span>
          <% end %>
        </span>
        <span class="tree_tab_link"><%= link_to "view events page", events_path, target:"_blank", style: 'color:#FFFFFF !important;' %></span>
        <span class="tree_tab_link"><%= link_to "create an event", "#", target:"_blank", style: 'color:#FFFFFF !important;' %></span>
      </div>

      <div class="medium-12 columns page_main_content">
        <!-- info_left_content -->
        <div class="medium-8 columns info_left_content">
          <div class="page_information">
            <div class="page_header">
              <% if action_name == 'new'  %>
                <span>create event</span>
              <% else %>
                <span>update event</span>
              <% end %>
            </div>
            <div class="paragraph_content">
              <span>Create an event page that fits the audience. Customizable event page.</span>
            </div>

            <div class="event_main_form">
              <%= simple_form_for [@user, @event] do |f| %>
                <%= f.error_notification %>

                <div class="form-inputs">
                  <div class="update_section">
                    <div class="imgae_title">event image</div>
                    <%= f.input :image_url, placeholder: "https://res.cloudinary.com/openheavensuk/image/upload/v1552407583/children%20teenage%20hub/img_08_childrenHub.png", label: false %>
                    <div class="minor_info" style="margin-bottom:0px">
                      <span>Place in the image URL inorder to display the event image</span> 
                      <span class="image_url_link"><%= link_to "get image url", "https://cloudinary.com/console", target: "_blank" %></span>
                    </div>

                    <div class="option_space">or</div>

                    <%= f.file_field :image %>
                    <div class="minor_info">
                      <span>Upload image inorder to display the event image</span> 
                    </div>
                  </div>
                  <div class="clear"></div>

                  <div class="info_sub_content"><%= f.input :name, label: "Event Title", placeholder: "Dance In The Park Dance In The Park" %></div>
                  <div class="clear"></div>

                  <div><%= f.association :category_event, collection: CategoryEvent.all, prompt: "select event type", label: false %></div>
                  <div class="clear"></div>

                  <div class="info_sub_content"><%= f.input :description, label: "Event Description", placeholder: "Dance In The Park is a place for all generations and families to come together and worship. We have engaging programmes designed to enable children and youth of all ages to grow in their relationship with Jesus and encounter the presence of God." %></div>
                  <div class="clear"></div>

                  <div class="info_sub_content"><%= f.input :address, label: "Event Location", placeholder: "Open Heavens Christian Centre, 194 Broadfields Ave, Edgware" %></div>
                  <div class="clear"></div>

                  <div class="info_sub_content">
                    <ul>
                      <li class="form_left"><%= f.input :city, label: false, placeholder: "London" %></li>
                      <li class="form_right"><%= f.input :postcode, label: false, placeholder: "HA8 8TF" %></li>
                    </ul>
                  </div>
                  <div class="clear"></div>

                  <div><%= f.association :category_country, collection: CategoryCountry.all, prompt: "select country", label: false  %></div>
                  <div class="clear"></div>

                  <div class="update_section date_time">
                    <%= f.input :start_time, label: "Event Start Date & Time" %>
                  </div>
                  <div class="clear"></div>

                  <div class="update_section date_time">
                    <%= f.input :end_time, label: "Event End Date & Time" %>
                  </div>
                  <div class="clear"></div>


                  <div class="update_section">
                    <div class="imgae_title">event URL</div>
                    <%= f.input :link, placeholder: "https://www.eventbrite.co.uk/e/london-home-show-spring-2019-tickets-54527397915?aff=ehomecard", label: false %>
                    <div class="minor_info" style="margin-bottom:0px">
                      <span>If This is an external event created on another platform eg: eventbrite, place URL to direct memebers to the created external event page</span> 
                    </div>
                  </div>
                  <div class="clear"></div>

                  <div class="update_section">
                    <%= f.input :approve, as: :boolean %>
                    <div class="minor_info">
                      <span>By ticking the box you are approving the created event. The event will be displayed to the public</span> 
                    </div>
                  </div>
                  <div class="clear"></div>

                  <div class="update_section">
                    <%= f.input :close, as: :boolean %>
                    <div class="minor_info">
                      <span>By ticking the box you are closing the event. The event will not be displayed to the public</span> 
                    </div>
                  </div>
                  <div class="clear"></div>

                  <!-- hidden_field -->
                  <%= f.hidden_field :user_id %>
                  <!-- hidden_field -->
                </div>

                <div class="form_btns">
                  <% if user_signed_in? %>
                    <% if current_user.admin? %>
                      <ul>
                        <li class="cancel_btn">
                          <div><%= link_to "back", stats_events_user_path(current_user) %></div>
                        </li>
                        <li>
                          <% if action_name == 'new'  %>
                            <div class="form-actions submit_btn">
                              <%= f.button :submit, "create event" %>
                            </div>
                          <% else %>
                            <div class="form-actions submit_btn">
                              <%= f.button :submit, "update event" %>
                            </div>
                          <% end %>
                        </li>
                      </ul>
                    <% end %>
                  <% end %>
                </div>
                
              <% end %>
            </div>

          </div>
        </div>
        <!-- info_left_content -->

        <!-- info_right_content -->
        <%= render 'shared/content_service_times' %>
        <!-- info_right_content -->
      </div>

    </div>
  </div>
</div>




