<div class="pages_boarder"></div>
<div class="medium-12 columns eventshow_section">
  <div class="eventshow_inner_section">
    <div class="medium-12 columns eventshow_content">
      <div class="tree_line">
        <span><%= link_to "home", root_path %></span>
        <span><i class="fa fa-angle-right"></i></span>
        <% if @event.category_event.name == "Leadership Forum Event" %>
          <span><%= link_to "grow", grow_path %></span>
        <% end %>
        <span><i class="fa fa-angle-right"></i></span>
        <span>
          <% if @event.category_event.name == "Youth Event" %>
            <%= link_to "Youth Events", youth_events_events_path %>
          <% elsif @event.category_event.name == "Church Event" %>
            <%= link_to "Church Events", church_events_events_path %>
          <% elsif @event.category_event.name == "Community Event" %>
            <%= link_to "Community Events", community_events_events_path %>
          <% elsif @event.category_event.name == "National Event" %>
            <%= link_to "National Event", national_events_events_path %>
          <% elsif @event.category_event.name == "Leadership Forum Event" %>
            <%= link_to "Leadership Development", leadership_development_path %>
          <% end %>
        </span>
        <span><i class="fa fa-angle-right"></i></span>
        <span class="current_page"><%= (@event.name).truncate(50) %></span>
      </div>

      <div class="medium-12 columns page_main_content">
        <!-- info_left_content -->
        <div class="medium-8 columns info_left_content">
          <div class="page_information">
            <div class="page_header"><%= @event.name %></div>

            <div class="date_category">
              <span>
                <span class="evt_subheader">date:</span>
                <span><%= "#{@event.start_time.strftime("%b %d %Y")} [#{@event.start_time.strftime("%I:%M%p")}]" %> - <%= "#{@event.end_time.strftime("%b %d %Y")} [#{@event.end_time.strftime("%I:%M%p")}]" %></span>
              </span>
              <% if @event.category_event_id.present? %>
                <span class="evt_divider">|</span>
                <span>
                  <span class="evt_subheader">category:</span>
                  <span class="evt_category">
                    <% if @event.category_event.name == "Youth Event" %>
                      <%= link_to "Youth Events", youth_events_events_path %>
                    <% elsif @event.category_event.name == "Church Event" %>
                      <%= link_to "Church Events", church_events_events_path %>
                    <% elsif @event.category_event.name == "Community Event" %>
                      <%= link_to "Community Events", community_events_events_path %>
                    <% elsif @event.category_event.name == "National Event" %>
                      <%= link_to "National Event", national_events_events_path %>
                    <% end %>
                  </span>
                <% end %> 
              </span>
            </div>

            <div class="page_img"><%= image_tag("img_bannerimg.jpg") %></div>
            <div class="event_section">

              <div class="paragraph_content"><%= @event.description %></div>

              <% if @event.address.present? %>
                <div class="paragraph_content">
                  <b class="evt_location">location</b>
                  <div>
                    <span><%= @event.address %></span>
                    <span><%= @event.city %></span>
                    <span>
                      <% if @event.category_country.present? %>
                        <%= @event.category_country.name %>
                      <% end %>
                    </span>
                    <span><%= @event.postcode %></span>
                  </div>
                </div>
              <% end %>

              <% if @event.linkmap.present? %>
                <div class="paragraph_content">
                  <span class="evt_map">see map:</span>
                  <span class="evt_maplink"><%= link_to "View Map", "#{@event.linkmap}", target:"_blank" %></span>
                </div>
              <% end %>

              <div>
                <%= link_to 'Edit', edit_event_path(@event) %> |
                <%= link_to 'Back', events_path %>
              </div>

            </div>
          </div>
        </div>
        <!-- info_left_content -->

        <!-- info_right_content -->
        <%= render 'shared/content_service_times' %>
        <!-- info_right_content -->
      </div>

    </div>
  </div>
</div>





