<div class="pages_boarder"></div>
<div class="medium-12 columns smallgroupsform_section">
  <div class="smallgroupsform_inner_section">
    <div class="medium-12 columns smallgroupsform_content">
      <div class="tree_line">
        <span><i class="fa fa-user"></i></span>
        <span><%= link_to "#{current_user.firstname}", user_path(current_user) %></span>
        <span><i class="fa fa-angle-right"></i></span>
        <span><%= link_to "admin panel", dashboard_user_path(current_user) %></span>
        <span><i class="fa fa-angle-right"></i></span>
        <span><%= link_to "stats small groups", stats_smallgroups_user_path(current_user) %></span>
        <span><i class="fa fa-angle-right"></i></span>
        <span class="current_page">
          <% if action_name == 'new'  %>
            <span>create small group</span>
          <% else %>
            <span>update small group</span>
          <% end %>
        </span>
      </div>

      <div class="medium-12 columns page_main_content">
        <!-- info_left_content -->
        <div class="medium-8 columns info_left_content">
          <div class="page_information">
            <div class="page_header">
              <% if action_name == 'new'  %>
                <span>create small group</span>
              <% else %>
                <span>update small group</span>
              <% end %>
            </div>
            <div class="paragraph_content">
              <span>Create a small group for the audience. Customizable small group.</span>
            </div>

            <div class="event_main_form">
              <%= simple_form_for(@smallgroup) do |f| %>
                <%= f.error_notification %>

                <div class="form-inputs">
                  <div class="update_section">
                    <div class="imgae_title">small group image</div>
                    <%= f.file_field :image %>
                    <div class="minor_info">
                      <span>Upload image inorder to display the small group image</span> 
                    </div>
                  </div>
                  <div class="clear"></div>

                  <div class="info_sub_content"><%= f.input :name, label: "Small Group Name", placeholder: "Little Lambs" %></div>
                  <div class="clear"></div>

                  <div class="info_sub_content"><%= f.input :descriptin, label: "Small Group Description", placeholder: "Little Lambs is a playgroup for babies preschool children, with their parents or care-givers. This group meets on Thursdays from 10.00 – 11.30am during school term-time. Come along for a fun, friendly atmosphere, toys, stories, songs, lots of space to play as well as coffee and grown-up conversat..." %></div>
                  <div class="clear"></div>

                  <div class="info_sub_content"><%= f.input :address, label: "Address", placeholder: "194 Broadfields Ave, Edgware" %></div>
                  <div class="clear"></div>

                  <div class="info_sub_content"><%= f.input :postcode, label: "Post Code", placeholder: "HA8 8TF" %></div>
                  <div class="clear"></div>
                </div>

                <div class="form_btns">
                  <% if user_signed_in? %>
                    <% if current_user.admin? %>
                      <ul>
                        <li class="cancel_btn">
                          <div><%= link_to "back", stats_smallgroups_user_path(current_user) %></div>
                        </li>
                        <li>
                          <% if action_name == 'new'  %>
                            <div class="form-actions submit_btn">
                              <%= f.button :submit, "create small group" %>
                            </div>
                          <% else %>
                            <div class="form-actions submit_btn">
                              <%= f.button :submit, "update small group" %>
                            </div>
                          <% end %>
                        </li>
                      </ul>
                    <% end %>
                  <% end %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
        <!-- info_left_content -->

        <!-- info_right_content -->
        <%= render 'shared/content_service_times' %>
        <!-- info_right_content -->
      </div>

    </div>
  </div>
</div>










