<div class="pages_boarder"></div>
<div class="medium-12 columns smallgroupsshow_section">
  <div class="smallgroupsshow_inner_section">
    <div class="medium-12 columns smallgroupsshow_content">
      <div class="tree_line">
        <span><%= link_to "home", root_path %></span>
        <span><i class="fa fa-angle-right"></i></span>
        <span><%= link_to "grow", grow_path %></span>
        <span><i class="fa fa-angle-right"></i></span>
        <span class="current_page"><%= link_to "small groups", small_groups_path %></span>
        <span><i class="fa fa-angle-right"></i></span>
        <span class="current_page"><%= @smallgroup.name %></span>
      </div>

      <div class="page_main_content">
        <!-- info_left_content -->
        <div class="info_left_content">
          <div class="medium-8 columns page_information">
            <div class="page_header"><%= @smallgroup.name %></div>
            <div class="date_category">
              <span>
                <span class="page_subheader"><b>Created date:</b></span>
                <span><%= @smallgroup.created_at.strftime("%b %d %Y") %></span>
                <span class="listpage_divider">|</span>
                <span><b>Created Time:</b></span>
                <span><%= @smallgroup.created_at.strftime("%I:%M%p") %></span>
                <span class="listpage_divider">|</span>
                <span><i class="fa fa-users"></i> <span><%= @smallgroup.attendances.count %> members</span></span>
              </span>
            </div>
            <div class="date_category">
              <span><b>Address:</b></span>
              <span><%= @smallgroup.address %></span>
              <span>
                <% if @smallgroup.postcode.present? %>
                  <%= @smallgroup.postcode %>
                <% end %>
              </span>
            </div>
            <div class="paragraph_content">
              <span><%= truncate("#{@smallgroup.descriptin}", length: 300) %></span>

              <span>
                <span class="view_link" data-open="<%= dom_id(@smallgroup) %>_smallgroup_content">view</span>
                <span><%= render 'shared/modal_smallgroup_info', locals: { smallgroup: @smallgroup } %></span>
              </span>
              
              <div class="action_btn">
                <% if user_signed_in? %>
                  <% if current_user.admin? %>
                  <span><%= link_to "dashboard", stats_smallgroups_user_path(current_user) %></span>
                    <span><%= link_to "edit group name", edit_smallgroup_path(@smallgroup) %></span>
                    <span><%= link_to "delete group name", "#" %></span>
                  <% end %>

                  <!-- join group function -->
                  <% unless current_user.attending_groups.exists?(id: @smallgroup.id) %>
                    <span><%= link_to 'join group', attending_groups_path(smallgroup_id: @smallgroup), method: :post %></span>
                  <% else %>
                    <span><%= link_to 'leave group', attending_group_path(@smallgroup), method: :delete, style: 'background-color:#2A2C49 !important;color: #fff !important;' %></span>
                  <% end %>
                  <!-- join group function -->
                  
                <% end %>
              </div>
            </div>
            <div class="member_section">
              <!-- listed members -->
              <div class="member_content">
                <div>
                  <div class="member_header"><i class="fa fa-users"></i> <span>members</span></div>
                  <% unless user_signed_in? %>
                    <div class="non_member_join">You need to be a registered member to join group <span><%= link_to "register", new_user_registration_path, class: "weblink" %></span> or <span><%= link_to "login", new_user_session_path, class: "weblink" %></span></div>
                  <% end %>
                  <div class="member_container">
                    <ul>

                      <% @smallgroup.attendances.each do |member| %>
                        <li>
                          <div class="minor_section">
                            <div><%= link_to (image_tag("img-profile-image-default.png")), user_path(member.user) %></div>
                          <div class="username"><%= link_to truncate("#{member.user.firstname}", length: 9), user_path(member.user) %></div>
                          </div>
                        </li>
                      <% end %>
                      
                    </ul>
                  </div>
                </div>
              </div>
              <!-- listed members -->
            </div>
          </div>
        </div>
        <!-- info_left_content -->

        <!-- info_right_content -->
        <%= render 'shared/content_service_times' %>
        <!-- info_right_content -->
      </div>

    </div>
  </div>
</div>

