<div class="pages_boarder"></div>
<div class="medium-12 columns smallgroupsshow_section">
  <div class="smallgroupsshow_inner_section">
    <div class="medium-12 columns smallgroupsshow_content">
      <div class="tree_line">
        <span><%= link_to "home", root_path %></span>
        <span><i class="fa fa-angle-right"></i></span>
        <span><%= link_to "grow", grow_path %></span>
        <span><i class="fa fa-angle-right"></i></span>
        <span class="current_page"><%= link_to "small groups", small_groups_path %></span>
        <span><i class="fa fa-angle-right"></i></span>
        <span class="current_page"><%= @smallgroup.name %></span>
      </div>

      <div class="page_main_content">
        <!-- info_left_content -->
        <div class="info_left_content">
          <div class="medium-8 columns page_information">
            <div class="page_header"><%= @smallgroup.name %></div>
            <div class="date_category">
              <span>
                <span class="page_subheader"><b>Created date:</b></span>
                <span><%= @smallgroup.created_at.strftime("%b %d %Y") %></span>
                <span class="listpage_divider">|</span>
                <span><b>Created Time:</b></span>
                <span><%= @smallgroup.created_at.strftime("%I:%M%p") %></span>
                <span class="listpage_divider">|</span>
                <span><i class="fa fa-users"></i> <span>5 members</span></span>
              </span>
            </div>
            <div class="paragraph_content">
              <span><%= truncate("#{@smallgroup.descriptin}", length: 300) %></span>
              <span><%= link_to "view", "#", class: "weblink" %></span>
              <div class="action_btn hide">
                <span><%= link_to "edit group name", edit_discussion_path(@smallgroup) %></span>
                <span><%= link_to "delete group name", "#" %></span>
              </div>
            </div>
            <div class="member_section">
              <!-- listed members -->
              <div class="member_content">
                <div>
                  <div class="member_header"><i class="fa fa-users"></i> <span>members</span></div>
                  <% if user_signed_in? %>
                    <div class="non_member_join">You need to be a registered member to join group <span><%= link_to "register", "#", class: "weblink" %></span> or <span><%= link_to "login", "#", class: "weblink" %></span></div>
                  <% end %>
                  <div class="member_container">
                    <ul>
                      <li>
                        <div class="minor_section">
                          <div><%= link_to (image_tag("img-profile-image-default.png")), "#" %></div>
                          <div class="username"><%= link_to truncate("richill", length: 9), "#" %></div>
                        </div>
                      </li>
                      <li>
                        <div class="minor_section">
                          <div><%= link_to (image_tag("img-profile-image-default.png")), "#" %></div>
                          <div class="username"><%= link_to truncate("edem", length: 9), "#" %></div>
                        </div>
                      </li>
                      <li>
                        <div class="minor_section">
                          <div><%= link_to (image_tag("img-profile-image-default.png")), "#" %></div>
                          <div class="username"><%= link_to truncate("adeola", length: 9), "#" %></div>
                        </div>
                      </li>
                      <li>
                        <div class="minor_section">
                          <div><%= link_to (image_tag("img-profile-image-default.png")), "#" %></div>
                          <div class="username"><%= link_to truncate("efe", length: 9), "#" %></div>
                        </div>
                      </li>
                      <li>
                        <div class="minor_section">
                          <div><%= link_to (image_tag("img-profile-image-default.png")), "#" %></div>
                          <div class="username"><%= link_to truncate("amaka", length: 9), "#" %></div>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <!-- listed members -->
            </div>
          </div>
        </div>
        <!-- info_left_content -->

        <!-- info_right_content -->
        <%= render 'shared/content_service_times' %>
        <!-- info_right_content -->
      </div>

    </div>
  </div>
</div>

