<p id="notice"><%= notice %></p>

<h1>Smallgroups</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Descriptin</th>
      <th>Image</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @smallgroups.each do |smallgroup| %>
      <tr>
        <td><%= smallgroup.name %></td>
        <td><%= smallgroup.descriptin %></td>
        <td><%= smallgroup.image %></td>
        <td><%= link_to 'Show', smallgroup %></td>
        <td><%= link_to 'Edit', edit_smallgroup_path(smallgroup) %></td>
        <td><%= link_to 'Destroy', smallgroup, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Smallgroup', new_smallgroup_path %>
