<%= simple_form_for(@practicalneed) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :title %>
    <%= f.input :location %>
    <%= f.input :description %>
    <%= f.input :close %>
    <%= f.input :approve %>
    <%= f.input :user_id %>
    <%= f.input :category_job_id %>
    <%= f.input :category_jobtype_id %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
