<div class="pages_boarder"></div>
<div class="medium-12 columns content_formsindex_section">
  <div class="content_formsindex_inner_section">
    <div class="medium-12 columns formsindex_content">
      <div class="tree_line">
        <span><%= link_to "home", root_path %></span>
        <span><i class="fa fa-angle-right"></i></span>
        <span><%= link_to "resources", resources_path %></span>
        <span><i class="fa fa-angle-right"></i></span>
        <span><%= link_to "useful services", useful_services_path %></span>
        <span><i class="fa fa-angle-right"></i></span>
        <span class="current_page">useful forms</span>
      </div>

      <div class="medium-12 columns page_main_content">
        <!-- info_left_content -->
        <div class="medium-8 columns info_left_content">
          <div class="page_information">
            <div class="page_header">list of useful forms</div>
            <div>
              <ul class="page_inner_section">

                <li class="listed_form">
                  <%= link_to forms_path do %>
                  <div><i class="fa fa-wpforms" aria-hidden="true"></i></div>
                  <div class="form_title"><%= truncate("enim ad minima veniam enim ad minima veniam enim ad minima veniam", length: 45) %></div>
                  <% end %>
                </li>

                <li class="listed_form">
                  <%= link_to forms_path do %>
                  <div><i class="fa fa-wpforms" aria-hidden="true"></i></div>
                  <div class="form_title"><%= truncate("enim ad minima veniam enim ad minima veniam enim ad minima veniam", length: 45) %></div>
                  <% end %>
                </li>

                <li class="listed_form">
                  <%= link_to forms_path do %>
                  <div><i class="fa fa-wpforms" aria-hidden="true"></i></div>
                  <div class="form_title"><%= truncate("enim ad minima veniam enim ad minima veniam enim ad minima veniam", length: 45) %></div>
                  <% end %>
                </li>

                <li class="listed_form">
                  <%= link_to forms_path do %>
                  <div><i class="fa fa-wpforms" aria-hidden="true"></i></div>
                  <div class="form_title"><%= truncate("enim ad minima veniam enim ad minima veniam enim ad minima veniam", length: 45) %></div>
                  <% end %>
                </li>

                <li class="listed_form">
                  <%= link_to forms_path do %>
                  <div><i class="fa fa-wpforms" aria-hidden="true"></i></div>
                  <div class="form_title"><%= truncate("enim ad minima veniam enim ad minima veniam enim ad minima veniam", length: 45) %></div>
                  <% end %>
                </li>

              </ul>
            </div>
          </div>
        </div>
        <!-- info_left_content -->

        <!-- info_right_content -->
        <%= render 'shared/content_service_times' %>
        <!-- info_right_content -->
      </div>

    </div>
  </div>
</div>


<div class="hide">
  <p id="notice"><%= notice %></p>

  <h1>Forms</h1>

  <table>
    <thead>
      <tr>
        <th>Title</th>
        <th>Fileattachment</th>
        <th>User</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @forms.each do |form| %>
        <tr>
          <td><%= form.title %></td>
          <td><%= form.fileattachment %></td>
          <td><%= form.user_id %></td>
          <td><%= link_to 'Show', form %></td>
          <td><%= link_to 'Edit', edit_form_path(form) %></td>
          <td><%= link_to 'Destroy', form, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Form', new_form_path %>
</div>
