<div class="pages_boarder"></div>
<div class="medium-12 columns galleryindex_section">
  <div class="galleryindex_inner_section">
    <div class="medium-12 columns galleryindex_content">
      <div class="tree_line">
        <span><%= link_to "home", root_path %></span>
        <span><i class="fa fa-angle-right"></i></span>
        <span><%= link_to "connect", connect_path %></span>
        <span><i class="fa fa-angle-right"></i></span>
        <span class="current_page">galleries</span>
      </div>

      <div class="medium-12 columns page_main_content">
        <!-- info_left_content -->
        <div class="medium-8 columns info_left_content">
          <div class="page_information">
            <div class="page_header">galleries</div>
            <div class="gallery_section">
              <!-- listed galleries -->
              <div class="gallery_content">
                <div class="gallery_inner_content">
                  <ul>
                    <% @galleries.each do |gallery| %>
                      <li class="listed_galleries">
                        <div>
                          <div class="gallery_img_section">
                            <div class="gallery_img_outter"></div>
                            <div class="gallery_img"><%= link_to (image_tag("img_smapleimg.png")), gallery_path(gallery) %></div>
                          </div>
                          <span class="gallery_info_section">
                            <%= link_to gallery_path(gallery) do %>
                              <div class="gallery_title"><%= truncate("#{gallery.name}", length: 45) %></div>
                              <div class="gallery_minor_info gallery_time">
                                <span><b>event date:</b></span>
                                <span><%= gallery.date.strftime("%b %d %Y") %></span>  
                                <span class="listgallery_divider">|</span>
                                <span><b>time:</b></span>
                                <span>9:00AM - 06:00PM<%# "#{event.start_time.strftime("%I:%M%p")}" %> - <%# "#{event.end_time.strftime("%I:%M%p")}" %></span>
                              </div>
                              <div class="gallery_minor_info gallery_description"><%= truncate("#{gallery.description}", length: 130) %></div>
                            <% end %>
                            <div class="action_btns">
                              <span class=""><%= link_to "edit gallery", edit_gallery_path(gallery) %></span>
                              <span class=""><%= link_to "delete gallery", gallery, method: :delete, data: { confirm: 'Are you sure?' } %></span>
                              <span class=""><%= link_to "add photos to gallery", new_gallery_photo_path(gallery) %></span>
                              <span><%= link_to "view gallery photos", gallery_path(gallery) %></span>
                              <span class="hide"><%= link_to 'New Gallery', new_gallery_path %></span>
                            </div>
                          </span>

                        </div>
                      </li>
                      <div class="clear"></div>
                    <% end %>
                  </ul>
                </div>
              </div>
              <!-- listed galleries -->
            </div>
          </div>
        </div>
        <!-- info_left_content -->

        <!-- info_right_content -->
        <%= render 'shared/content_service_times' %>
        <!-- info_right_content -->
      </div>

    </div>
  </div>
</div>



