
<div class="pages_boarder"></div>
<div class="medium-12 columns galleryshow_section">
  <div class="galleryshow_inner_section">
    <div class="medium-12 columns galleryshow_content">
      <div class="tree_line">
        <span><%= link_to "home", root_path %></span>
        <span><i class="fa fa-angle-right"></i></span>
        <span><%= link_to "connect", connect_path %></span>
        <span><i class="fa fa-angle-right"></i></span>
        <span><%= link_to "galleries", galleries_path %></span>
        <span><i class="fa fa-angle-right"></i></span>
        <span class="current_page"><%= @gallery.name %></span>
      </div>

      <div class="medium-12 columns page_main_content">
        <!-- info_left_content -->
        <div class="medium-8 columns info_left_content">
          <div class="page_information">
            <div class="page_header"><%= @gallery.name %></div>
            <div class="date_category">
              <span>
                <span class="evt_subheader">event date:</span>
                <span><%= @gallery.date.strftime("%b %d %Y") %></span>
                <span class="listgallery_divider">|</span>
                <span><b>Time:</b></span>
                <span>9:00AM - 06:00PM<%# "#{event.start_time.strftime("%I:%M%p")}" %>  <%# "#{event.end_time.strftime("%I:%M%p")}" %></span>
              </span>
            </div>

      

            <div class="paragraph_content">
              <span><%= truncate("#{@gallery.description}", length: 300) %></span>
              <span><%= link_to "view", "#", class: "weblink" %></span>
            </div>
            <div class="gallery_photos_section">
              <!-- listed gallery photos -->
              <div class="gallery_photos_content">

                <ul class="cover_section">
                  <li class="main_list first_section">
                    <div class="gallery_photo_intial_outter_img">
                      <div class="gallery_photo_intial_img"><%= image_tag("img_smapleimg.png") %></div>
                    </div>
                  </li>
                  <li class="main_list second_section">
                    <div class="gallery_photos_inner_content">
                      <ul>
                        <% @gallery_photos.limit(4).each do |photo| %>
                          <li>
                            <div class="gallery_photo_outter_img">
                              <div class="gallery_photo_img"><%= image_tag("img_smapleimg.png") %></div>
                            </div>
                          </li>
                        <% end %>
                        <div><%= link_to "view photos", "#", class: "view_all" %></div>
                      </ul>
                    </div>
                  </li>
                </ul>

                
                


              </div>
              <!-- listed gallery photos -->
            </div>
          </div>
        </div>
        <!-- info_left_content -->

        <!-- info_right_content -->
        <%= render 'shared/content_service_times' %>
        <!-- info_right_content -->
      </div>

    </div>
  </div>
</div>
